<!-- <section class="tsr-section-communictaion-primary" id="ad">
  <div class="swiffy-wrap">
    <iframe src="https://pood.elion.ee//picturesInternal/809/html5/index-et.html#pood.elion.ee" 
          border="0"
          scrolling="no"
          allowtransparency="true"
          width="100%"
          height="100%"
          style="border:0;"
    >
    </iframe>
  </div>
</section> -->

<section class="tsr-section-communictaion-primary">
  <div class="tsr-slides">
  
    <a href="https://pood.elion.ee/productInfo/24/sulearvuti-lenovo-ideapad-g50-70/59417974?utm_source=elion&utm_medium=banner&utm_term=est&utm_content=html&utm_campaign=epood_sygiskampaania_2014_08" style="background-image: url(assets/img/primary-banner/bg-slide-1-pro.jpg); ">  <!-- srcset="assets/img/{{id}}.jpg 320w, assets/img/{{id}}-sm.jpg 480w, assets/img/{{id}}-md.jpg 960w" -->
      <div class="tsr-tactical-container tsr-slide-1 ">
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Kliendihind
          </header>
          599 €
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Meie kliendid võidavad hinnas</header>
          <span class="small visible-xs visible-sm">Lenovo G50-70 kliendihind <strong>599 €</strong> <br> <button class="btn btn-link">Vaata kohe!</button> </span>
          <span class="hidden-sm"></span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-2.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-flash"><span>Hoi!</span></figure>
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-3.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-flash"><span>Hoi!</span></figure>
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-4.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
  </div>

</section>

