<section class="tsr-section-communictaion-primary">
  <div class="tsr-slides">
  
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-1.jpg); ">  <!-- srcset="assets/img/{{id}}.jpg 320w, assets/img/{{id}}-sm.jpg 480w, assets/img/{{id}}-md.jpg 960w" -->
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Vaata, uus e-pood!
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Hakkab juba looma <br> Aga Kui mul on pikem tekst?<br> Aga Kui mul on pikem tekst?</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-2.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-flash"><span>Hoi!</span></figure>
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on. Palju.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-3.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-flash"><span>Hoi!</span></figure>
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on. Palju.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" style="background-image: url(assets/img/primary-banner/bg-slide-4.jpg);">
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on. Palju.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
  </div>

</section>

