<section class="tsr-section-communictaion-primary">
  <div class="tsr-slides">
  
    <a href="#" class="tsr-slide-1"> 
<!--       <img src="assets/img/primary-banner/bg-slide-1.jpg" alt=""> -->
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Vaata, uus e-pood!
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Hakkab juba looma <br> Aga Kui mul on pikem tekst?</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
    <a href="#" class="tsr-slide-2">
<!--       <img src="assets/img/primary-banner/bg-slide-2.jpg" alt=""> -->
      <div class="tsr-tactical-container">
        <figure class="tsr-tactical-flash"><span>Hoi!</span></figure>
        <figure class="tsr-tactical-speach-bubble tsr-color-pink">
          <header class="tsr-header">
            Channel package?
          </header>
          Jumps over the lazy dog, jump<br>
          the lazy dog lorem ipsum
        </figure>
      </div>
      <div class="container">
        <div class="tsr-tactical-textPanel">
          <header>Tegemist veel on. Palju.</header>
          <span>The quick brown fox jumps over the lazy dog</span>
        </div>
      </div>
    </a>
  </div>

</section>

