
<!-- for small screen, hidden on large -->
<section class="ee-frontlinks">
  <div class="ee-product-list-front container visible-xs visible-sm" >
    <div  id="content-placeholder-frontmenu-visible3"></div>
    
    <script id="front-menu-template-visible3" type="text/x-handlebars-template">
    
    {{#menu}}
    
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2 class="tsr-color-white ee-category-header"><small>{{caption}}</small></h2>
      <ul class="nav nav-pills nav-stacked ">
        {{#each link }}
    
        <li><a href="{{this.path}}">{{this.name}}</a></li>  
        {{/each}}
      </ul>
      <a data-toggle="collapse" href="#collapseMenu{{id}}" class="tsr-btn-view-all visible-xs visible-sm"><span>Näita rohkem</span></a>
      </div>
     
    {{/menu}}
    
    </script>
    <div  id="content-placeholder-frontmenu-hidden2" ></div>
    
    <script id="front-menu-template-hidden2" type="text/x-handlebars-template">
    
    {{#menu}}
    
    <div class="col-xs-12 col-sm-6 col-md-3 collapse" id="collapseMenu{{id}}">
      <ul class="nav nav-pills nav-stacked ">
        {{#each link }}
    
        <li><a href="{{this.path}}">{{this.name}}</a></li>  
        {{/each}}
      </ul>
      </div>
     
    {{/menu}}
    
    </script>
  </div>
</section>

<!-- @include _offers.html --> 

<!-- for large screen, hidden on small -->
<section class="tsr-section-divider tsr-color-white hidden-xs hidden-sm text-center"> 
  <div class="container">
    <div class="row ">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h6>Arvutid ja lisad</h6>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h6>TV ja audio</h6>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h6>Foto, video, GPS</h6>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h6>Telefonid</h6>
      </div>
    </div>
  </div>
</section>
<section class="ee-frontlinks">
  <div class="ee-product-list-front container  hidden-xs hidden-sm">
    <div class="row">
      <div  id="content-placeholder-frontmenu-visible"></div>

        <script id="front-menu-template-visible" type="text/x-handlebars-template">

        {{#menu}}

        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul class="nav nav-pills nav-stacked">
            {{#each link }}

            <li><a href="{{this.path}}">{{this.name}}</a></li>  
            {{/each}}
          </ul>
          </div>

        {{/menu}}

        </script>
    </div>

    <div class="row collapse" id="collapseMenu">
      <div  id="content-placeholder-frontmenu-hidden"></div>

        <script id="front-menu-template-hidden" type="text/x-handlebars-template">

        {{#menu}}

        <div class="col-xs-12 col-sm-6 col-md-3">
          <ul class="nav nav-pills nav-stacked">
            {{#each link }}

            <li><a href="{{this.path}}">{{this.name}}</a></li>  
            {{/each}}
          </ul>
          </div>

        {{/menu}}

        </script>
    </div>
  </div>
</section>
<a data-toggle="collapse" href="#collapseMenu" class="tsr-btn-view-all hidden-sm hidden-xs"><span>Näita rohkem</span></a>
<!-- <a href="" class="tsr-btn-view-all hidden-sm hidden-xs js-morebutton"><span>Näita rohkem</span></a>  -->




