<section class="tsr-section-promotion tsr-count-4"> 
    <div class="container product">
      <figure class="tsr-tactical-flash ">
      <div class="js-filltext" style="width: 60px; margin-top: 18px;">
      <span >5677678 $</span> </div>
      <div class="js-filltext" style="width: 50px; text-align: center;">
      papagoid
      </div>
    </figure>

      <div id="content-placeholder-offers" class="js-placeholder-offers"></div>
      <script id="offer-slider-template" type="text/x-handlebars-template">
      {{#offers}}

      <a href="#" class="tsr-module-promotion">
        <figure class="tsr-product-image">
            <figure class="tsr-tactical-flash ">
    <div class="box" style="width: 60px; margin-top: 18px;">
    <span >868547544657 $</span> </div>
    <div class="box" style="width: 50px; text-align: center;">
    papagoid
    </div>
  </figure>
          {{#if firstflash}}
          <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}<small>{{firstflash.sm}}</small></span></figure>
          {{/if}}
          {{#if secondflash}}
          <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
          {{/if}}
          <img src="assets/img/{{id}}.jpg" alt="img{{id}}" class="original hidden-xs" srcset="assets/img/{{id}}.jpg 320w, assets/img/{{id}}-sm.jpg 480w, assets/img/{{id}}-md.jpg 960w"/>
          <img src="assets/img/{{id}}.jpg" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888" srcset="assets/img/{{id}}.jpg 320w, assets/img/{{id}}-sm.jpg 480w, assets/img/{{id}}-md.jpg 960w"/>
        </figure>
        <div class="tsr-product-content">

          <h6 class="tsr-product-header violet-text">{{name}}</h6>
          <p class="tsr-product-desc"> {{{leftTrim description}}} </p>
        </div>
      </a>
      {{/offers}}
      </script>
    </div>
   <a href="javascript:void(0);" class="tsr-btn-view-all"><span>Näita rohkem</span></a>
</section>

<!-- <canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas> -->