<section class="tsr-section-promotion tsr-count-4"> 
    <div class="container product">
      <figure class="tsr-tactical-flash ">
        <div class="foo"></div>
      <div class="js-filltext"><span >678988 €</span></div>

    </figure>

<!-- <figure class="tsr-tactical-flash tsr-first" ><div class="flashText"><span class="bigText">468 €</span><span class="smallText">Soodushind</span></div></figure> -->

<!-- <figure class="tsr-tactical-flash tsr-first" ><span class="flashText">282468 €</span></figure> -->

      <div id="content-placeholder-offers" class="js-placeholder-offers"></div>
      <script id="offer-slider-template" type="text/x-handlebars-template">
      {{#offers}}

      <a href="detail.html" class="tsr-module-promotion">
        <figure>
            
          {{#if firstflash}}
          <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}<small>{{firstflash.sm}}</small></span></figure>
          {{/if}}
          {{#if secondflash}}
          <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
          {{/if}}
          <img src="assets/img/{{id}}.jpg" alt="img{{id}}" class="original" />
          <img src="assets/img/{{id}}.jpg" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888" />
        </figure>
        <div class="tsr-product-content">

          <h6 class="tsr-product-header violet-text">{{name}}</h6>
          <p class="tsr-product-desc"> {{{leftTrim description}}} </p>
        </div>
      </a>
      {{/offers}}
      </script>
    </div>
   <a href="javascript:void(0);" class="tsr-btn-view-all ee-thinline-bottom"><span>Näita rohkem</span></a>
</section>

<!-- <canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas> -->
<!-- srcset="assets/img/{{id}}.jpg 320w, assets/img/{{id}}-sm.jpg 480w, assets/img/{{id}}-md.jpg 960w" -->