<!-- <section class="ee-productslider-intro"> 
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <h2>E-poe kampaaniad ja pakkumised</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, voluptatibus, cum amet perspiciatis.</p>
    </div>
  </div>
</section> -->
<div style="overflow: hidden;">
  <section class="tsr-section-carousel-listing"> 
      <div class="container product">
        <div class=" tsr-slides" id="content-placeholder-offers"></div>
  
        <script id="offer-slider-template" type="text/x-handlebars-template">
        {{#offers}}
        <a href="#" class="tsr-module-product tsr-module-promotion">
          <figure class="tsr-product-image">
            <img src="assets/img/offers/{{id}}.jpg" id="img{{id}}" class="original"><img src="assets/img/offers/{{id}}.jpg" id="img{{id}}" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888"/>
          </figure>
          <div class="tsr-product-content">
            {{#if firstflash}}
            <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
            {{/if}}
            {{#if secondflash}}
            <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
            {{/if}}
            <h6 class="tsr-product-header">{{name}}</h6>
            <p class="tsr-product-desc"> {{{leftTrim description}}} </p>
          </div>
        </a>
        {{/offers}}
        </script>
  
      </div>
     <a href="" class="tsr-btn-view-all visible-xs"><span>Vaata kõiki kampaaniaid</span></a>
  </section>
</div>

<!-- <canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas> -->