/*
Error: Undefined variable: "$font-size-h4".
        on line 157 of assets/css/styles.scss

152:     img {
153:       height: 64px;
154:       width: 64px;
155:     }
156:     td.blue-text {
157:       font-size: $font-size-h4;
158:       font-weight: 600;
159:       white-space: nowrap;
160:     }
161:     tbody > tr >  td {
162:       vertical-align: middle;

Backtrace:
assets/css/styles.scss:157
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:378:in `visit_prop'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:414:in `block in visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:412:in `visit_rule'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:115:in `with_frame'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:152:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:151:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin/compiler.rb:294:in `watch'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/plugin.rb:108:in `method_missing'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:349:in `watch_or_update'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/exec/sass_scss.rb:50:in `process_result'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/exec/base.rb:40:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/gems/sass-3.4.1/bin/sass:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/sass:19:in `load'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/sass:19:in `<main>'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `eval'
/usr/local/rvm/gems/ruby-1.9.3-p327@rails3tutorial2ndEd/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$font-size-h4\".\A         on line 157 of assets/css/styles.scss\A \A 152:     img {\A 153:       height: 64px;\A 154:       width: 64px;\A 155:     }\A 156:     td.blue-text {\A 157:       font-size: $font-size-h4;\A 158:       font-weight: 600;\A 159:       white-space: nowrap;\A 160:     }\A 161:     tbody > tr >  td {\A 162:       vertical-align: middle;"; }
