<nav class="ee-adminnav navbar hidden-xs" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      
      <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button"><span class="icon icon-arrow-right"></span>Logi sisse administraatorina</a>
          <ul class="dropdown-menu megamenu row" role="menu">
            <li>
              <div class="container collapsibleMainMenu-AdminLogin">
                <form class="form-horizontal" role="form">
                  <div class="form-group row">
                    <div class="col-sm-4 col-xs-12">
                      <input type="text" class="form-control" placeholder="Kasutajanimi">
                    </div>
                    <div class="col-sm-4 col-xs-12">
                      <input type="text" class="form-control" placeholder="Parool">
                    </div>
                    <input class="col-sm-4 col-xs-12 btn btn-default" type="button" value="Sisene" />
                  </div>
                </form>
              </div> 
              <div class="container reset-padding">
                <ul class="row hidden-xs list-unstyled">
                  <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                </ul>
              </div>

            </li>
          </ul>
        </li>
    </ul> 
  </div>
</nav>
<nav class="ee-adminnav sub-menu navbar " role="navigation">
  <div class="container hidden-xs">
      <p class="navbar-text">Elioni töötaja: <strong>Ahto Kurn</strong></p>
      <p class="navbar-text">Osakond: <strong>Mingi Tähtis Osakond</strong></p>
      <p class="navbar-text">Töötaja kood: <strong>321-start!</strong></p>
    
    <ul class="list-inline navbar-right">
      <li><a href="#">Minu pakkumised </a></li>
      <li><a href="#">Admin </a></li>
      <li><a href="#">Välju keskkonnast </a></li>
    </ul> 
  </div>
</nav>