<div class="headerSearchResultWrapper list-group">
  <div id="content-placeholder-product-list"></div>

  <a class="search-advanced" href="/search?what=noki">
    Vaata kõiki
  </a>
</div>

<script id="product-list-template" type="text/x-handlebars-template">

  {{#products}}
  <a class="list-group-item {{selected}}" href="detail.html">
    <figure class="search-item-image">
      <img src="assets/img/{{id}}.jpg" id="img{{id}}">
    </figure>
    <span class="search-item-title">
    {{name}}
    </span>
  </a>

  {{/products}}
</script>


  


