<section class="tsr-section-header">


  <!-- - - GLOBAL - - -->

  <div class="tsr-header-global">
   <div class="container"> 

    <nav class="tsr-global-left">
      <menu>
        <li><a href="#">Eraklient</a></li>
        <li><a href="#">Äriklient</a></li>
        <li class="is-choosen"><a href="#">E-pood</a></li>
        <li class="tsr-btn-arrow-mobile"></li>
      </menu>
    </nav>

    <a href="#" class="tsr-btn-close"></a>

    <nav class="tsr-global-right">
      <menu>
        <li class="tsr-extra"><a href="#">EST <span class="ts-icon-arrow-down"></span></a></li>
        <li class="tsr-extra"><a href="#" class="icon-osta"></a></li>
        <li class="tsr-extra"><a href="front-logged-in.html#content-placeholder-productslider" class="tsr-btn tsr-btn-purple">Sisene</a></li>
      </menu>
    </nav>

  </div>
</div><!-- tsr-header-global END -->   



<!-- - - MAIN - - -->  

<section class="tsr-header-main">
  <div class="container"> 

    <!-- LOGO -->  
    <figure class="tsr-header-logo">
      <a href="<!-- @path index.html -->"><img src="<!-- @path elion-logo.svg -->" onerror="this.onerror=null; this.src='<!-- @path elion-logo.png -->'"/></a>
    </figure>


    <!-- - - Top mobile + Search - - -->
    <div class="tsr-header-mobileAndExtras">
     <div class="tsr-container"> 

      <nav>
        <menu>
          <li class="tsr-tab-cart" ><a href="#" data-header-tab="cart"><i class="tsr-tactical">3</i></a></li>
          <li class="tsr-tab-login"><a href="#" data-header-tab="login"></a></li>
          <li class="tsr-tab-search"><a href="#" data-header-tab="search"></a></li>
          <li class="tsr-tab-menu" ><a href="#" data-header-tab="menu"></a></li>
        </menu>
      </nav>

    </div>
  </div><!-- tsr-header-mobileAndExtras END -->   


  <!-- NAVIGATION -->  

  <nav class="tsr-main-nav">
    <menu class="tsr-nav-top-level">
      <li><a href="#">Arvutid ja lisad</a>
        <menu class="tsr-nav-second-level">
          <li>
            <a href="#"><span>Mobile phones landing page</span>
              <article class="tsr-landing">
                <figure>
                  <img src="assets/img/header/landing-iphone.png" />
                </figure>
                <header>The All New iPhone 5s - Now Available</header>
                <p>Consecuteur baden scrillum imnes magna carta il set of the dover calais</p>
              </article> 
            </a>
          </li>
          <li><a href="#">Mobile phones</a>
            <menu class="tsr-nav-third-level">
              <li><a href="#">Lorum 1</a></li>
              <li><a href="#">Lorum 2</a></li>
              <li><a href="#">Lorum 3</a></li>
              <li><a href="#">Lorum 4</a></li>
              <li><a href="#">Lorum 5</a></li>
            </menu>
          </li>
          <li><a href="#">Subscriptions</a>
           <menu class="tsr-nav-third-level">
            <li><a href="#">Lorum 1</a></li>
            <li><a href="#">Lorum 2</a></li>
            <li><a href="#">Lorum 3</a></li>
          </menu>
        </li>
        <li><a href="#">Product &amp; Accessories</a>
         <menu class="tsr-nav-third-level">
          <li><a href="#">Lorum 1</a></li>
          <li><a href="#">Lorum 2</a></li>
          <li><a href="#">Lorum 3</a></li>
          <li><a href="#">Lorum 4</a></li>

        </menu>
      </li>
      <li><a href="#">Services</a>
       <menu class="tsr-nav-third-level">
        <li><a href="#">Lorum 1</a></li>
        <li><a href="#">Lorum 2</a></li>
        <li><a href="#">Lorum 3</a></li>
        <li><a href="#">Lorum 4</a></li>
        <li><a href="#">Lorum 5</a></li>
      </menu>
    </li>

    <li class="tsr-btn-close">
      <a href="#"></a>
    </li>
  </menu>
</li>
<li><a href="#">TV ja audio</a>
  <menu class="tsr-nav-second-level">
    <li>
      <a href="#"><span>Tablets landing page</span>
        <article class="tsr-landing">
          <figure>
            <img src="assets/img/header/landing-temp.png" />
          </figure>
          <header>The All New iPhone 5s - Now Available</header>
          <p>Consecuteur baden scrillum imnes magna carta il set of the dover calais</p>
        </article> 
      </a>
    </li>
    <li><a href="#">Tablets</a>
      <menu class="tsr-nav-third-level">
        <li><a href="#">Lorum 1</a></li>
        <li><a href="#">Lorum 2</a></li>

      </menu>
    </li>
    <li><a href="#">Subscriptions</a>
     <menu class="tsr-nav-third-level">
      <li><a href="#">Lorum 1</a></li>
      <li><a href="#">Lorum 2</a></li>
      <li><a href="#">Lorum 3</a></li>
    </menu>
  </li>
  <li><a href="#">Product &amp; Accessories</a>
   <menu class="tsr-nav-third-level">
    <li><a href="#">Lorum 1</a></li>


  </menu>
</li>
<li><a href="#">Services</a>
 <menu class="tsr-nav-third-level">
  <li><a href="#">Lorum 1</a></li>
  <li><a href="#">Lorum 2</a></li>
  <li><a href="#">Lorum 3</a></li>

</menu>
</li>

<li><a href="#">Header</a>
 <menu class="tsr-nav-third-level">
  <li><a href="#">Lorum 1</a></li>
  <li><a href="#">Lorum 2</a></li>
  <li><a href="#">Lorum 3</a></li>

</menu>
</li>

<li><a href="#">Header</a>
 <menu class="tsr-nav-third-level">
  <li><a href="#">Lorum 1</a></li>
  <li><a href="#">Lorum 2</a></li>
  <li><a href="#">Lorum 3</a></li>

</menu>
</li>
<li class="tsr-btn-close">
  <a href="#"></a>
</li>
</menu>
</li>
<li><a href="#">Foto, video, GPS</a>
 <menu class="tsr-nav-second-level">
  <li>
    <a href="#"><span>Broadband landing page</span>
      <article class="tsr-landing">
        <figure>
          <img src="assets/img/header/landing-temp.png" />
        </figure>
        <header>The All New iPhone 5s - Now Available</header>
        <p>Consecuteur baden scrillum imnes magna carta il set of the dover calais</p>
      </article> 
    </a>
  </li>
  <li><a href="#">Broadband</a>
    <menu class="tsr-nav-third-level">
      <li><a href="#">Lorum 1</a></li>
      <li><a href="#">Lorum 2</a></li>
      <li><a href="#">Lorum 3</a></li>
      <li><a href="#">Lorum 4</a></li>
      <li><a href="#">Lorum 5</a></li>
      <li><a href="#">Lorum 6</a></li>
      <li><a href="#">Lorum 7</a></li>
      <li><a href="#">Lorum 8</a></li>

    </menu>
  </li>
  <li><a href="#">Subscriptions</a>
   <menu class="tsr-nav-third-level">
    <li><a href="#">Lorum 1</a></li>
    <li><a href="#">Lorum 2</a></li>
    <li><a href="#">Lorum 3</a></li>
    <li><a href="#">Lorum 4</a></li>
    <li><a href="#">Lorum 5</a></li>
    <li><a href="#">Lorum 6</a></li>
    <li><a href="#">Lorum 7</a></li>
  </menu>
</li>


<li class="tsr-btn-close">
  <a href="#"></a>
</li>
</menu>
</li>
<li><a href="#">Telefonid</a>
 <menu class="tsr-nav-second-level">
  <li>
    <a href="#"><span>TV landing page</span>
      <article class="tsr-landing">
        <figure>
          <img src="assets/img/header/landing-temp.png" />
        </figure>
        <header>TV</header>
        <p>Consecuteur baden scrillum </p>
      </article> 
    </a>
  </li>
  <li><a href="#">Lorum</a>
    <menu class="tsr-nav-third-level">
      <li><a href="#">Lorum 1</a></li>
      <li><a href="#">Lorum 2</a></li>
      <li><a href="#">Lorum 3</a></li>
      <li><a href="#">Lorum 4</a></li>
      <li><a href="#">Lorum 5</a></li>
      <li><a href="#">Lorum 6</a></li>

    </menu>
  </li>
  <li><a href="#">Subscriptions</a>
   <menu class="tsr-nav-third-level">
    <li><a href="#">Lorum 1</a></li>
    <li><a href="#">Lorum 2</a></li>
    <li><a href="#">Lorum 3</a></li>
    <li><a href="#">Lorum 4</a></li>
    <li><a href="#">Lorum 5</a></li>

  </menu>
</li>
<li><a href="#">Subscriptions</a>
 <menu class="tsr-nav-third-level">
  <li><a href="#">Lorum 1</a></li>
  <li><a href="#">Lorum 2</a></li>
  <li><a href="#">Lorum 3</a></li>
  <li><a href="#">Lorum 4</a></li>
  <li><a href="#">Lorum 5</a></li>

</menu>
</li> 
<li class="tsr-btn-close">
  <a href="#"></a>
</li>
</menu>
</li>


</menu>

</nav>

<!-- Search -->  

<article class="tsr-header-search tsr-forms">

  <input type="text" value="Search">
  <input type="button" name="form-button" value="Search" class="tsr-btn">

  <a href="#" class="tsr-btn-close" data-parent="search"></a>

</article><!-- tsr-header-search END -->    


<!-- Login -->  

<article class="tsr-header-login tsr-forms">

  <input type="text" value="User">
  <input type="password" value="Password">
  <input type="button" name="form-button" value="Login" class="tsr-btn">

  <a href="#" class="tsr-btn-close" data-parent="login"></a>

</article><!-- tsr-header-login END -->   

<!-- Cart-->  

<article class="tsr-header-cart tsr-forms">

  <p class="tsr-text">
    Content of Shopping Cart is Displayed Here
  </p>

  <a href="#" class="tsr-btn-close" data-parent="cart"></a>

</article><!-- tsr-header-cart END -->  


</div><!-- tsr-container END -->
</section><!-- tsr-header-main END -->   


</section><!-- // tsr-section-header END -->  

