<nav class="navbar navbar-default">
  <div class="container">

    <!-- menu for small screen -->
    <div class="navbar-header">

      <a class="navbar-brand"  href="<!-- @path index.html -->"></a> 

      <div class="pull-right">
        <a class="navbar-toggle" href="#collapsibleMainMenu-Pages" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon icon-menu"></span>
        </a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Basket" data-toggle="collapse"><span class="icon icon-buy_2"></span><span class="badge">8</span></a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Guide" data-toggle="collapse"><span class="icon icon-help"></span></a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Search" data-toggle="collapse"><span class="icon icon-search"></span></a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-User" data-toggle="collapse"><span class="icon icon-contact"></span><span class="badge">5</span></a>
      </div>
    </div>
    <!-- / menu for small screen -->

    <!-- main menu -->
    <div class="navbar-collapse collapse" id="collapsibleMainMenu-Pages">
      <ul class="nav navbar-nav" id="content-placeholder-mainnav"> </ul>
          
          <script id="mainnav-template" type="text/x-handlebars-template">
          
          {{#nav}}
            <li class="dropdown menu-large">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{caption}} </a>
              <div class="dropdown-menu ">
                <div class="container">
                  <ul class="row megamenu">
                    
                    <li class="col-sm-12">
                      <ul class="list-group">
                        <li class="dropdown-header has-child promotion">
                          <h6> <a href="#">Uued tooted </a></h6>
                          <ul>
                            <li><a href="detail.html"><img src="assets/img/header/{{id}}.png" style="width: 100%;"></a></li>
                            <li>
                              <a href="#" class="hidden-xs">
                            <h3>{{name}}</h3>
                            <p>Lorem lorem lorem lorem ipsum</p>
                          </a>
                            </li>
                          </ul>
                          
                          
                        </li>
                       

                        {{#each link}}
                    
                      
                        {{#if sub}}
                          <li class="dropdown-header has-child">
                            <h6><a href="{{path}}">{{this.name}}</a></h6>
                            <ul>
                            {{#each this.sub}}
                              <li><a href="javascript:void(0);">{{this}}</a></li>
                            {{/each}}
                            </ul>
                          </li>
                          {{else}}
                          <li class="dropdown-header"><h6><a href="{{path}}">{{this.name}}</a></h6></li>
                        {{/if}}
                      
                    
                        {{/each}}
                      </ul>
                    </li>

                    
                  </ul>
                </div>
                <div class="container reset-padding">
                    <ul class="row hidden-xs list-unstyled">
                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                    </ul>
                </div>
              </div>
            </li>
          {{/nav}}
          
          <li class="dropdown side-menu  menu-large visible-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Minu konto</a>
              <div class="dropdown-menu ">
                  <ul class="row list-unstyled megamenu">
                      <li><a href="#asdfsaf">Täitmisel tellimused</a></li>
                      <li><a href="#dfsa">Tellimused</a></li>
                      <li><a href="#asdfsaf">Salvestatud ostukorvid</a></li>
                      <li><a href="#asdfsaf">Minu lemmikud</a></li>
                      <li><a href="#asdfsaf">Järelmaks</a></li>
                      <li><a href="#asdfsaf">Kontaktisikud</a></li>
                  </ul>
              </div>
          </li>
          <li class="options visible-xs">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eraklient </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Ariklient</a></li>
                            <li><a href="#">E-pood</a></li>
                        </ul>
                    </li>
                </ul> 
            </li>
            <li class="options visible-xs">
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eesti keeles </a>
                      <ul class="dropdown-menu">
                          <li><a href="#">По-русски</a></li>
                          <li><a href="#">In English</a></li>
                      </ul>
                  </li>
              </ul>
          </li>
</script>


<!-- right side additional menu -->
<ul class="nav navbar-nav navbar-right hidden-xs">
    <li class="dropdown menu-large "><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Minu konto</a>
      <div class="dropdown-menu ">
        <div class="container">
        <div class="row ">
            <ul class="nav navbar-nav user-menu nav-justified">
              <li class="active"><a href="#">Täitmisel tellimused </a></li>
              <li><a href="#">Minu konto </a></li>
              <li><a href="#">Tellimused </a></li>
              <li><a href="#">Salvestatud ostukorvid </a></li>
              <li><a href="#">Minu lemmikud </a></li>
              <li><a href="#">Järelmaks </a></li>
              <li><a href="#">Kontaktisikud </a></li>
            </ul> 
        </div>
        </div>
        <div class="container reset-padding">
            <ul class="row hidden-xs list-unstyled">
                <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
            </ul>
        </div>
      </div>
    </li>
    <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><span class="icon icon-help"></span></a>
        <div class="dropdown-menu">
            <div class="container collapsibleMainMenu-Guide">
                <ul class="row megamenu">
                    <li class="col-sm-12">
                    <ul class="list-group">
                      <li class="dropdown-header promotion has-child"><h6>
                        <a href="#">Järelmaksu tingimused  </a>
                      </h6>
                      <ul>
                        <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/1/" style="width: 100%;"/></a></li>
                      <li>
                        <a href="#">
                          <h3>The All New Things - Now Available</h3>
                          <p>Lorem lorem lorem lorem ipsum</p>
                        </a>
                      </li>
                      </ul>
                    </li>

                    
                  </li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Kuidas osta e-poest </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Maksetingimused </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Elioni järelmaks </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Remont ja hooldus </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Ärikliendile </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">KKK </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Kontaktid </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">E-poe üldtingimused </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#"><h6>Kinkekaardi tingimused</h6> </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Objektiivide lühendid</a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Kinkepaki tingimused </a>
                  </h6></li>
                  <li class="dropdown-header"><h6>
                    <a href="#">Mida teha kasutatud seadmetega? </a>
                  </h6></li>
                  </ul>
                </ul>
              </div> 
                <div class="container reset-padding">
                    <ul class="row hidden-xs list-unstyled">
                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-search"></span></a>
          <div class="dropdown-menu">
            <div class="container collapsibleMainMenu-Search">
              
              <form class="tsr form-horizontal" role="form" action="found-page-block.html">
                <div class="form-group row">
                  <div class="col-md-11 col-sm-9 col-xs-12">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <input class="col-md-1 col-sm-3 col-xs-12 btn btn-default hidden-xs" type="submit" value="Otsi" />
                  <div class="col-xs-12 tsr-forms">
                    <label for="check-2"><input type="checkbox" id="check-3" /> <span class="ee-labeltext">Otsi ka arhiveeritud toodete seast</span></label>
                </div>
                </div>
              </form> 

            </div>
            <div class="container reset-padding">
              <ul class="row hidden-xs list-unstyled">
                <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
              </ul>
            </div>
          </div>
        </li>
        <li class="dropdown menu-large hide">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-search"></span></a>
          <div class="dropdown-menu">
            <div class="container collapsibleMainMenu-Basket">

              <div class="row megamenu">
                <div class="col-md-12">
                  basket is empty
                </div>
              </div>

            </div>
            <div class="container reset-padding">
              <ul class="row hidden-xs list-unstyled">
                <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
      <!-- end / right side additional menu -->

    </div><!-- end /  main menu -->

  </div>

  <!-- generating content by script -->
  <div id="collapsibleMainMenu-Basket" class="collapse megamenu collapsibleMainMenu">&nbsp;</div>
  <div id="collapsibleMainMenu-Search" class="collapse megamenu ">&nbsp;</div>
  <div id="collapsibleMainMenu-Guide" class="collapse megamenu collapsibleMainMenu">&nbsp;</div>
  <div id="collapsibleMainMenu-User" class="collapse megamenu collapsibleMainMenu">

    <div class="container">
      <div class="row megamenu user-droplayer">
        <div class="col-sm-3">
          <ul class="list-group promotion">
            <li class="dropdown-header"><h6><a href="#">Kellena soovid siseneda?</a></h6>
              <ul>
                <li><p>Siin saate määrata kellena soovite edaspidi siseneda. Seda valikut saate muuta ja tühistada.</p></li>
                <li><p><input type="checkbox" data-stopPropagation="true" /> <em>Jäta minu valik meelde</em></p></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-sm-9">

          <ul class="list-group">
            <li class="dropdown-header has-child"><h6><a href="#">Eraklient</a></h6>
              <ul>
                <li><a href="#">Ahto Pärn von Krusesten</a></li>
                <li><a href="#">Eesnimi Perenimi</a></li>
                <li><a href="#">Martinson Sandrovinkilkohv</a></li>
              </ul>
            </li>
            <li class="dropdown-header has-child"><h6><a href="#">Äriklient</a></h6>
              <ul>
                <li><a href="#">Minuesimenefirma OÜ</a></li>
                <li><a href="#">Minuteinefirma OÜ</a></li>
                <li><a href="#">Minukolmasfirma OÜ</a></li>
                <li><a href="#">Minuneljas OÜ</a></li>
                <li class="separator"><p><a href="#"><span class="icon icon-plus"></span> Registreeri uus äriklient</a></p></li>
              </ul>
            </li>
            <li class="dropdown-header has-child"><h6><a href="#">Minu andmed</a></h6>
              <ul>
                <li><a>bloop</a></li>
              </ul>
            </li>
            <hr>
            <li class="dropdown-header"><h6><a href="#">Välju </a></h6></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- end / generating content by script -->

</nav>

<nav class="sub-menu hidden-xs ">
  <div class="container">
    <h3 class="sr-only">Minu konto</h3>
    <ul class="list-inline">
      <li><a href="#">Minu konto</a></li>
      <li><a href="#">Täitmisel tellimused</a></li>
      <li><a href="#">Tellimused</a></li>
      <li><a href="#">Salvestatud ostukorvid</a></li>
      <li class="active"><a href="#">Minu lemmikud</a></li>
      <li><a href="#">Järelmaks</a></li>
      <li><a href="#">Kontaktisikud</a></li>
    </ul>
  </div>
</nav>