<header>

<!-- @include _topnav.html -->

<!-- @include _adminnav.html -->

<nav class="navbar navbar-default">
  <div class="container">

    <!-- menu for small screen -->
    <div class="navbar-header">

      <a class="navbar-brand"  href="<!-- @path index.html -->"><img src="<!-- @path elion-logo.svg -->" onerror="this.onerror=null; this.src='<!-- @path elion-logo.png -->'"/></a>

      
      <div class="pull-right">
        <a class="navbar-toggle" href="#collapsibleMainMenu-Pages" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon icon-menutsicon48px"></span>
        </a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Basket" data-toggle="collapse"><span class="icon icon-osta"><span class="badge">52</span></span></a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Search" data-toggle="collapse"><span class="icon icon-searchtsicon48px"></span></a>
        <a class="navbar-toggle" href="#collapsibleMainMenu-Help" data-toggle="collapse"><span class="icon icon-helptsicon48px"></span></a>
      </div>
    </div>
    <!-- / menu for small screen -->

    <!-- main menu -->
    <div class="navbar-collapse collapse" id="collapsibleMainMenu-Pages">
      <ul class="nav navbar-nav" id="content-placeholder-mainnav"> </ul>
          
          <script id="mainnav-template" type="text/x-handlebars-template">
          
          {{#nav}}
            <li class="tsr dropdown menu-large">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{caption}} <span class="icon ts-icon-arrow-down visible-xs"></span></a>
              <div class="dropdown-menu ">
                <div class="container">
                  <ul class="row list-unstyled megamenu">
                    <li class="col-sm-3">
                      <ul>
                        <li class="dropdown-header"><a href="#">Uued tooted  <span class="icon ts-icon-arrow-right"></span></a></li>
                        <li><a href="detail.html" class="hidden-xs"><img src="assets/img/header/{{id}}.png" class="original"></a></li>
                        <li>
                          <a href="#" class="hidden-xs">
                            <h3>{{name}}</h3>
                            <p>Lorem lorem lorem lorem ipsum</p>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="col-sm-3">
                    {{#each link1}}
                    
                      <ul>
                        <li class="dropdown-header"><a href="{{path}}">{{this.name}}<span class="icon ts-icon-arrow-right"></span></a></li>
                        {{#each this.sub}}
                        <li><a href="javascript:void(0);">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    
                    {{/each}}
                    </li>
                    <li class="col-sm-3">
                    {{#each link2}}
                    
                      <ul>
                        <li class="dropdown-header"><a href="{{path}}">{{this.name}}<span class="icon ts-icon-arrow-right"></span></a></li>
                        {{#each this.sub}}
                        <li><a href="javascript:void(0);">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    
                    {{/each}}
                    </li>
                    <li class="col-sm-3">
                    {{#each link3}}
                    
                      <ul>
                        <li class="dropdown-header"><a href="{{path}}">{{this.name}}<span class="icon ts-icon-arrow-right"></span></a></li>
                        {{#each this.sub}}
                        <li><a href="javascript:void(0);">{{this}}</a></li>
                        {{/each}}
                      </ul>
                    
                    {{/each}}
                    </li>

                    
                  </ul>
                </div>
                <div class="container reset-padding">
                  <ul class="row hidden-xs list-unstyled">
                    <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon ts-icon-arrow-up"></span></div></li>
                  </ul>
                </div>
              </div>
            </li>
          {{/nav}}
          </script>

            <li class="options visible-xs">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eraklient <span class="icon ts-icon-arrow-down pull-right"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Ariklient</a></li>
                    <li><a href="#">E-pood</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="options visible-xs">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Eesti keeles <span class="icon ts-icon-arrow-down pull-right"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">По-русски</a></li>
<!--                     <li><a href="#">In English</a></li> -->
                  </ul>
                </li>
              </ul>
            </li>


      <!-- right side additional menu -->
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-helptsicon48px"></span></a>
          <ul class="dropdown-menu megamenu row" role="menu">
            <li>

              <div class="container collapsibleMainMenu-Help">
                <ul class="row list-unstyled megamenu">
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header"><a href="#">Järelmaksu tingimused  <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li><a href="#" class="hidden-xs"><img src="http://lorempixel.com/265/133/sports/1/" /></a></li>
                      <li>
                        <a href="#" class="hidden-xs">
                          <h3>The All New Things - Now Available</h3>
                          <p>Lorem lorem lorem lorem ipsum</p>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header"><a href="#">Kuidas osta e-poest <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Maksetingimused <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Elioni järelmaks <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Remont ja hooldus <span class="icon ts-icon-arrow-right"></span></a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header"><a href="#">Ärikliendile <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">KKK <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Kontaktid <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">E-poe üldtingimused <span class="icon ts-icon-arrow-right"></span></a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header"><a href="#">Kinkekaardi tingimused <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Objektiivide lühendid<span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Kinkepaki tingimused <span class="icon ts-icon-arrow-right"></span></a></li>
                      <li class="dropdown-header"><a href="#">Mida teha kasutatud seadmetega? <span class="icon ts-icon-arrow-right"></span></a></li>

                    </ul>
                  </li>
                </ul>
              </div> 
              <div class="container reset-padding">
                <ul class="row hidden-xs list-unstyled">
                  <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon ts-icon-arrow-up"></span></div></li>
                </ul>
              </div>

            </li>
          </ul>
        </li>
        <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-osta"><span class="badge">22</span></span></a>
          <ul class="dropdown-menu megamenu row" role="menu">
            <li>

              <div class="container collapsibleMainMenu-Basket">
                <div class="row">
                  <div class="col-md-12">
                    <a href="#">volaa, empty basket (0)</a> <a href="#" class="btn btn-default">Button default</a>
                  </div>
                </div>
              </div> 
              <div class="container reset-padding">
                <ul class="row hidden-xs list-unstyled">
                  <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon ts-icon-arrow-up"></span></div></li>
                </ul>
              </div>

            </li>
          </ul>
        </li>
        <li class="dropdown menu-large">
          <a href="#" class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button"><span class="icon icon-searchtsicon48px"></span></a>
          <ul class="dropdown-menu megamenu" role="menu">
            <li>
              <div class="container collapsibleMainMenu-Search">

                <form class="tsr form-horizontal" role="form">
                  <div class="form-group row">
                    <div class="col-md-9 col-sm-9 col-xs-12"><!-- Searching 1548 files for "header" -->
                      <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <input class="col-md-3 col-sm-3 col-xs-12 btn btn-default " type="button" value="Search" />
                  </div>
                </form>    
              </div>
              <div class="container reset-padding">
                <ul class="row hidden-xs list-unstyled">
                  <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon ts-icon-arrow-up"></span></div></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <!-- end / right side additional menu -->

    </div><!-- end /  main menu -->

  </div>
  <!-- generating content by script -->
  <div id="collapsibleMainMenu-Help" class="collapse megamenu navbar-default  collapsibleMainMenu">.</div>
  <div id="collapsibleMainMenu-Search" class="collapse megamenu collapsibleMainMenu">.</div>
  <div id="collapsibleMainMenu-Basket" class="collapse megamenu collapsibleMainMenu">.</div>
  <!-- end / generating content by script -->

</nav>
</header>