<nav class="topnav navbar navbar-inverse" role="navigation">
    <div class="container hidden-xs">

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Eraklient</a></li>
            <li><a href="#">Ariklient</a></li>
            <li><a href="#">E-pood</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">RUS</a></li>
            <li><a href="#">ENG</a></li>
            <li><a href="#" class="icon-with-badge basket"><span class="icon icon-buy"></span><span class="badge">8</span></a></li>
            <li class="dropdown">
              <a href="index.html" class="icon-with-badge dropdown-toggle myaccount" data-toggle="dropdown">
                <span class="icon icon-myaccount"></span>
                <!-- <span class="badge">4</span> --> 
                <span class="icon-label-text">Ahto Rosenberg</span>
                <span class="icon icon-arrow-down"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">OÜ NETGROUP</a></li>
                <li><a href="#">OÜ Potgroup</a></li>
                <li><a href="#">Siimu Saamu esindaja</a></li>
              </ul>
            </li>
            <li><a href="index.html">Välju</a></li>
        </ul> 
        
    </div>
</nav>