<nav class="topnav navbar navbar-inverse" role="navigation">
  <div class="container hidden-xs">

    <ul class="nav navbar-nav">
      <li><a href="#">Eraklient</a></li>
      <li><a href="#">Äriklient</a></li>
      <li class="active"><a href="#">E-pood</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">RUS</a></li>
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle " data-toggle="dropdown">SSO</a>
        <div class="dropdown-menu" style="width:100%;">
          <div class="container">
            <div class="row megamenu">
              <div class="col-md-12">
                <div class="center-block">
                  <!-- <form class="form-inline" action="index-signed-in.html" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" data-stopPropagation="true"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                  </form> -->
                  <iframe src="https://sso-arendus.elion.ee/sso2/login.jsp" style="height:300px; width:100%; border:0;">
                    loading...
                  </iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="container reset-padding">
            <ul class="row hidden-xs list-unstyled">
              <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
            </ul>
          </div>
        </div>
      </li>
      <li><a href="#" class="icon-with-badge basket"><span class="icon icon-buy_2"></span><span class="badge">8</span></a></li>
      <li class="with-icon"><a href="front-logged-in.html"><span class="icon icon-myaccount"></span>Sisene</a></li>
    </ul> 

  </div>
</nav>

