<nav class="topnav navbar navbar-inverse" role="navigation">
  <div class="container hidden-xs">

    <ul class="nav navbar-nav">
      <li><a href="#">Eraklient</a></li>
      <li><a href="#">Äriklient</a></li>
      <li class="active"><a href="#">E-pood</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="front-logged-in.html">RUS</a></li>
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle " data-toggle="dropdown">SSO</a>
        <div class="dropdown-menu" style="width:100%;">
          <div class="container">
            <div class="row megamenu">
              <div class="col-md-12">
                <div class="center-block">
                  <!-- <form class="form-inline" action="index-signed-in.html" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputEmail2">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputPassword2">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" data-stopPropagation="true"> Remember me
                      </label>
                    </div>
                    <button type="submit" class="btn btn-default">Sign in</button>
                  </form> -->
                </div>
              </div>
            </div>
          </div>
          <div class="container reset-padding">
            <ul class="row hidden-xs list-unstyled">
              <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="dropdown menu-large">
        <a href="#" class="dropdown-toggle icon-with-badge basket" data-toggle="dropdown"><span class="icon icon-buy_2"></span><span class="badge">8</span></a>
        <div class="dropdown-menu">
          <div class="container">
            <div class="row megamenu">
              <div class="col-sm-12"><h2 class="text-center"><span>ostukorvi sisu ja kinnitamise viide</span></h2></div>
            </div>
          </div>
          <div class="container reset-padding">
            <ul class="row hidden-xs list-unstyled">
              <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="with-icon menu-large dropdown">
        <a href="" class="dropdown-toggle myaccount" data-toggle="dropdown"><span class="icon icon-myaccount" ></span>Sisene</a>
        <div class="dropdown-menu" >
          <div class="container">
            <div class="row megamenu user-droplayer">
              <div class="col-sm-3">
                <ul class="list-group promotion">
                  <li class="dropdown-header"><h6><a href="#">Kellena soovid siseneda?</a></h6>
                    <ul>
                      <li><p>Siin saate määrata kellena soovite edaspidi siseneda. Seda valikut saate muuta ja tühistada.</p></li>
                      <li><p><input type="checkbox" data-stopPropagation="true" /> <em>Jäta minu valik meelde</em></p></li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="col-sm-9">

                <ul class="list-group">
                  <li class="dropdown-header has-child"><h6><a href="#">Eraklient</a></h6>
                    <ul>
                      <li><a href="#">Ahto Pärn von Krusesten</a></li>
                      <li><a href="#">Eesnimi Perenimi</a></li>
                      <li><a href="#">Martinson Sandrovinkilkohv</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-header has-child"><h6><a href="#">Äriklient</a></h6>
                    <ul>
                      <li><a href="#">Minuesimenefirma OÜ</a></li>
                      <li><a href="#">Minuteinefirma OÜ</a></li>
                      <li><a href="#">Minukolmasfirma OÜ</a></li>
                      <li><a href="#">Minuneljas OÜ</a></li>
                      <li class="separator"><p><a href="#"><span class="icon icon-plus"></span> Registreeri uus äriklient</a></p></li>
                    </ul>
                  </li>
                  <li class="dropdown-header has-child"><h6><a href="#">Minu andmed</a></h6>
                    <ul>
                      <hr>
                      <li><p><span class="icon icon-minus"></span> <a href="#">Välju </a></p></li>
                    </ul>
                  </li>
                </ul>
              </div>

                        <!-- <div class="col-sm-3 col-md-3">

                          <li class="dropdown-header has-child"><h6><a href="#">Eraklient</a></h6>
                            <ul>
                              <li><a href="#">Ahto Pärn von Krusesten</a></li>
                              <li><a href="#">Eesnimi Perenimi</a></li>
                              <li><a href="#">Martinson Sandrovinkilkohv</a></li>
                            </ul>
                          </li>
                        </div> -->
                        <!-- <div class="col-sm-3">
                            <h2><a href="#">Äriklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Minuesimenefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuteinefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minukolmasfirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuneljas OÜ</a></li>
                                <li class="list-group-item"><p><span class="icon icon-plus"></span> <a href="#">Registreeri uus äriklient</a></p></li>
                            </ul>
                          </div> -->
                        <!-- <div class="col-sm-3">
                            <h2 class="link"><a href="#">Minu andmed <span class="icon icon-arrow-right"></span></a></h2>
                            <hr>
                            <p><span class="icon icon-minus"></span> <a href="#">Välju </a></p>
                          </div> -->
                        </div>
                      </div>
                      <div class="container reset-padding">
                        <ul class="row hidden-xs list-unstyled">
                          <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li class="dropdown menu-large with-icon">
                    <a href="" class="dropdown-toggle myaccount" data-toggle="dropdown"><span class="icon icon-myaccount"></span>Mul on väike profiil</a>
                    <div class="dropdown-menu">
                      <div class="container">
                        <div class="row megamenu user-droplayer with-advertising">
                          <div class="col-sm-9 ee-innerad">
                           <a href=""> <img src="http://lorempixel.com/1000/300/">
                             <div class="tsr-tactical-textPanel">
                               <!--       <header>Hakkab juba looma</header> -->
                               <span>Samsungi teleritega näed <br> uut nutiTV-d  ilma digiboksita</span>
                             </div>
                           </a>
                         </div>
                         <div class="col-sm-3">
                          <h3><a href="#">Minu andmed <span class="icon icon-arrow-right"></span></a></h3>
                          <hr>
                          <p><span class="icon icon-plus"></span> <a href="#">Välju </a></p>
                        </div>
                      </div>
                    </div>
                    <div class="container reset-padding">
                      <ul class="row hidden-xs list-unstyled">
                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul> 

            </div>
          </nav>

