<nav class="topnav navbar navbar-inverse" role="navigation">
    <div class="container hidden-xs">

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Eraklient</a></li>
            <li><a href="#">Ariklient</a></li>
            <li><a href="#">E-pood</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">RUS</a></li>
            <li><a href="#">ENG</a></li>
            <li><a href="#" class="icon-with-badge basket"><span class="icon icon-buy_2"></span><span class="badge">8</span></a></li>
            <li class="dropdown menu-large with-icon">
              <a href="index.html" class="icon-with-badge dropdown-toggle myaccount" data-toggle="dropdown">
                <span class="icon icon-myaccount"></span>
                <span class="badge">4</span> 
                <span class="icon-label-text">Ahto Rosenberg</span>
                <span class="icon icon-arrow-down"></span>
            </a>
            <div class="dropdown-menu" >
                <div class="container">
                    <div class="row megamenu user-droplayer">
                        <div class="col-sm-3 col-md-3">
                            <h2 class="title">Kellena soovid siseneda?</h2>
                            <p>Siin saate määrata kellena soovite edaspidi siseneda. Seda valikut saate muuta ja tühistada.</p>
                            <p><input type="checkbox" data-stopPropagation="true" /> <em>Jäta minu valik meelde</em></p>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2 class=""><a href="#">Eraklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Ahto Pärn von Krusesten</a></li>
                                <li class="list-group-item"><a href="#">Eesnimi Perenimi</a></li>
                                <li class="list-group-item"><a href="#">Martinson Sandrovinkilkohv</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2><a href="#">Äriklient</a></h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="#">Minuesimenefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuteinefirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minukolmasfirma OÜ</a></li>
                                <li class="list-group-item"><a href="#">Minuneljas OÜ</a></li>
                                <li class="list-group-item"><p><span class="icon icon-plus"></span> <a href="#">Registreeri uus äriklient</a></p></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h2 class="link"><a href="#">Minu andmed <span class="icon icon-arrow-right"></span></a></h2>
                            <hr>
                            <p><span class="icon icon-plus"></span> <a href="#">Välju </a></p>
                        </div>
                                </div>
                            </div>
                            <div class="container reset-padding">
                                <ul class="row hidden-xs list-unstyled">
                                    <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                                </ul>
                            </div>
                        </div>

                    </li>
                    <li class="dropdown menu-large with-icon">
                      <a href="index.html" class="icon-with-badge dropdown-toggle myaccount" data-toggle="dropdown">
                        <span class="icon icon-myaccount"></span>
                        <!-- <span class="badge">4</span> --> 
                        <span class="icon-label-text">Väike Profiil</span>
                        <span class="icon icon-arrow-down"></span>
                    </a>
              <!-- <ul class="dropdown-menu">
                <li><a href="#">OÜ NETGROUP</a></li>
                <li><a href="#">OÜ Potgroup</a></li>
                <li><a href="#">Siimu Saamu esindaja</a></li>
                <li class="divider"></li>
                <li><a href="index.html">Välju</a></li>
            </ul> -->
            <div class="dropdown-menu">
                <div class="container">
                    <div class="row megamenu user-droplayer">
                        <div class="col-md-3 col-md-offset-9">
                            <h3><a href="#">Minu andmed <span class="icon icon-arrow-right"></span></a></h3>
                            <hr>
                            <p><span class="icon icon-plus"></span> <a href="#">Välju </a></p>
                        </div>
                    </div>
                </div>
                <div class="container reset-padding">
                    <ul class="row hidden-xs list-unstyled">
                        <li class="col-md-12"><div class="close-up-btn-bar"><span class="icon icon-arrow-up"></span></div></li>
                    </ul>
                </div>
            </div>
            
        </li>

    </ul> 

</div>
</nav>