<nav class="topnav navbar navbar-inverse" role="navigation">
    <div class="container hidden-xs">

        <ul class="nav navbar-nav">
            <li><a href="#">Eraklient</a></li>
            <li><a href="#">Ariklient</a></li>
            <li class="active"><a href="#">E-pood</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">RUS</a></li>
            <li><a href="#">ENG</a></li>
            <li><a href="front-logged-in.html"><span class="icon icon-myaccount"></span>Sisene</a></li>
        </ul> 
        
    </div>
</nav>

