.tsr-section-divider{

	background:$lightgrey-c; 
	line-height:1;
	font-size: $font-size-h4;

	color:$text-color;
	border-top:1px solid $lightgrey-t;
	border-bottom:1px solid $lightgrey-t;
	position:relative;
	z-index:-1;

	&.tsr-color-purple{
		background:$purple-t;
		color:#fff;
	}

	&.tsr-color-white,
	.tsr-color-white &{
		background:$white; 
	}

}













