<section class="tsr-ee-more-info-tabs">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#general-info" data-toggle="tab">Üldandmed</a></li>
      <li><a href="#technical-info" data-toggle="tab">Tehnilised andmed</a></li>
      <li><a href="#reviews" data-toggle="tab">Arvamused (5)</a></li>
      <li><a href="#similar-products" data-toggle="tab">Kokkusobivad tooted</a></li>
    </ul>
  </div>
</section>
<section class="tsr-ee-more-info-tabscontent">
  <div class="container">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="general-info">
        <p><strong>Samsungi uudse disainlahendusega F8500 teler on varustatud kõikide võimalike lisadega, mis teeb teleri vaatamise tõeliseks elamuseks.</strong></p>
        <p>Samsung F8500 Slim LED-teler on pakub kvaliteetset vaatamiskogemust ning näitab Sulle koduseid meelelahutuse võimalusi. 55’’ 3D LED ekraan, Full HD 1920 x 1080 pikslit, Dolby Digital Plus, Dolby Pulse helisüsteem, 3D HyperReal Engine pildiparandussüsteem.</p>
        <p><strong>Elioni nutiTV kasutamiseks vajab see teler ka Elioni internetiühendust. NB! Teenuse kasutamiseks on vajalik ka Thomson TG784, TG789 või Inteno DG301 ruuter.</strong></p>
        <ul class="tsr-ee-justified-list">
          <li>Elegantne disain</li>
          <li>Täiustatud omadused nagu näiteks häälkäskluste tuvastamine ja liigutustega juhtimine</li>
          <li>Smart Hubi sotsiallehekülg tagab alati suhtlusringi keskmes olemise</li>
          <li>Vaata Facebookis ja Twitteris enda sõprade lemmikvideosid</li>
          <li>Micro Dimming Ultimate ja Clear Motion Rate tagavad kvaliteetse pildi</li>
        </ul>
        <h1><small>Kasulikud lingid</small></h1>
        <p><a href="#">Loe lähemalt tootja kodulehelt siit</a></p>
        <p><a href="#">Abiinfo nutiTV Samsungi telerites</a></p>
      </div>
      <div class="tab-pane" id="technical-info">
        <div class="col-sm-6">
          <table class="table table-bordered">
            <tbody>
              <thead>
                <tr>
                  <th colspan="3">
                    Toote põhiomadused

                  </th>
                </tr>
              </thead>
              <tr>
                <td>
                  <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Diagonaal" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm">Diagonaal</a>
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="#" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']); "></a>
                </td>
                <td>
                  55
                  " (toll)
                </td>
              </tr>
              <tr>
                <td>
                  <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz.">Kaadrisagedus</a>
                </td>
                <td class="tsr-ee-noborder-left">
                </td>
                <td>
                  1000 Hz
                </td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="LAN tugi" data-content="Võimaldab telerit ühendada koduse arvutivõrguga, et suurel ekraanil mahamängida MP3 muusikat, DivX filme, JPG fotosid kodusest arvutist või koduselt võrgukettalt.">LAN tugi</a>
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="https://pood.elion.ee//Product/ParameterInfo/940" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']);"></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Sisseehitatud Wifi" data-content="Saab vaadata üle interneti ühenduse teleris tootja poolt paigaldatud veebilehti – Youtube, Flickr või Picasa pildialbum, ilmateated, uudisteportaalid. Sisu uuenduste eest hoolitseb tootja, vaataja ise uusi veebilehti lisada ei saa.">Sisseehitatud Wifi</a>
                  
                </td>
                <td class="tsr-ee-noborder-left">
          
                  <a href="https://pood.elion.ee//Product/ParameterInfo/937" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']);"></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
          
              <tr>
                <td><a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="DLNA" data-content="meedia standard, mille abil on suutelised ühilduma erinevate tootjate kodused multimeedia seadmed – arvutid, telerid, võrgukettad, mobiiltelefonid, DVD/blu-ray mängijad jne. Niimoodi on võimalik, et arvuti kõvakettal või mobiiltelefoni flash mälus olevat meediat on võimalik maha mängida elutoa teleri ekraanil. Ühenduseks on kasutusel kodune arvutivõrk. Kasutakse sõltuvalt seadmest LAN või WiFi ühendust. Alliansiga on ühinenud üle 240 tootja.">DLNA</a>
                  
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="https://pood.elion.ee//Product/ParameterInfo/939" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']);"></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Skype" data-content="Nutitelerite omadus teha Skype internetikõnesid teleri vahendusel. Videokõnede tegemiseks on vajalik kaamera, mis osadel mudelitel on juba telerisse sisseehitatud ning teistel mudelitel eraldi juurde ostetav. Selline Skype kaamera ühendatakse teleriga USB kaabli abil. Hetkel on selline võimalus olemas Panasonic, Samsung ning Sony valitud mudelitel.">Skype</a>
                  
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="https://pood.elion.ee//Product/ParameterInfo/945" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']);"></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td><a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Smart TV" data-content="2011 aasta telerid sisaldavad „targa teleri“ funktsiooni, kus kasutades teleris olevat internetiühendust, on võimalik vaadata erinevaid videorakendusi, mängida mänge, kuulata muusikat ning osta tootja poest uusi rakendusi.">Smart TV</a>
                  
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="https://pood.elion.ee//Product/ParameterInfo/1289" onclick="_gaq.push(['_trackEvent', 'UX', 'Sobiva toote leidmine', 'Nupp küsimärk konkreetse toote vaates ']);"></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <table class="table table-bordered">
            <tbody>
              <thead>
                <tr>
                  <th colspan="3">
                    Toote põhiomadused

                  </th>
                </tr>
              </thead>
              <tr>
                <td>
                  Diagonaal
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  55
                  " (toll)
                </td>
              </tr>
              <tr>
                <td>
                  Kaadrisagedus
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  1000 Hz
                </td>
              </tr>
              <tr>
                <td>
                  LAN tugi
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td>
                  Sisseehitatud Wifi
                </td>
                <td class="tsr-ee-noborder-left">
          
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
          
              <tr>
                <td>
                  DLNA
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td>
                  Skype
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
              <tr>
                <td>
                  Smart TV
                </td>
                <td class="tsr-ee-noborder-left">
                  <a href="javascript:void(0);" class="icon-helptsicon48px"  data-container="body" data-toggle="popover" data-placement="top" title="Kaadrisagedus" data-content="Näitab, kui kiiresti vahetab ekraan kaadreid ekraanil. Tavaline kaardisagedus on 50 Hz ehk siis 50 korda sekundis. Parema pildiparendus tarkvaraga telerid omavad kaardisagedust 100, 200 ja 400 Hz. 3D telepildi vaatamiseks peab kaardisagedus olema vähemalt 200 Hz."></a>
                </td>
                <td>
                  Jah
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane fade" id="reviews">teine </div>
      <div class="tab-pane fade" id="similar-products">
        <!-- @include _product-boxes.html --> 
      </div>
    </div>
  </div>
</section>