<div class="tabcordion">
  <section class="ee-more-info-tabs ">
    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified responsive" id="TabsResponsive">
        <li class="active"><a href="#general-info" data-toggle="tab">Üldandmed</a></li>
        <li><a href="#technical-info" data-toggle="tab">Tehnilised andmed</a></li>
        <li><a href="#reviews" data-toggle="tab">Arvamused (5)</a></li>
        <li><a href="#similar-products" data-toggle="tab">Kokkusobivad tooted (5)</a></li>
      </ul>
    </div>
  </section>
  <section class="ee-more-info-tabscontent ">
    <div class="tab-content responsive">
      <div class="tab-pane fade in active" id="general-info">
        <div class="container ee-text">
          <p><strong>Samsungi uudse disainlahendusega F8500 teler on varustatud kõikide võimalike lisadega, mis teeb teleri vaatamise tõeliseks elamuseks.</strong></p>
          <p>Samsung F8500 Slim LED-teler on pakub kvaliteetset vaatamiskogemust ning näitab Sulle koduseid meelelahutuse võimalusi. 55’’ 3D LED ekraan, Full HD 1920 x 1080 pikslit, Dolby Digital Plus, Dolby Pulse helisüsteem, 3D HyperReal Engine pildiparandussüsteem.</p>
          <p><strong>Elioni nutiTV kasutamiseks vajab see teler ka Elioni internetiühendust. NB! Teenuse kasutamiseks on vajalik ka Thomson TG784, TG789 või Inteno DG301 ruuter.</strong></p>
          <ul class="ee-justified-list">
            <li>Elegantne disain</li>
            <li>Täiustatud omadused nagu näiteks häälkäskluste tuvastamine ja liigutustega juhtimine</li>
            <li>Smart Hubi sotsiallehekülg tagab alati suhtlusringi keskmes olemise</li>
            <li>Vaata Facebookis ja Twitteris enda sõprade lemmikvideosid</li>
            <li>Micro Dimming Ultimate ja Clear Motion Rate tagavad kvaliteetse pildi</li>
          </ul>
          <h1><small>Kasulikud lingid</small></h1>
          <p><a href="#">Loe lähemalt tootja kodulehelt siit</a></p>
          <p><a href="#">Abiinfo nutiTV Samsungi telerites</a></p>
        </div>
      </div>
      <div class="tab-pane" id="technical-info">
        <div class="container">
          <div id="content-placeholder-technical-data"></div>
          <script id="technical-data-template" type="text/x-handlebars-template">
          {{#technical}}
            <div class="col-sm-6">
              <table class="table table-bordered table-hover">
                <tbody>
                  <thead>
                    <tr>
                      <th colspan="2">{{heading}}</th>
                    </tr>
                  </thead>
                  {{#each data}}
                    <tr>
                      <td > <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="{{index}}" data-content=" {{description}} ">{{index}} <i class="icon icon-help"></i></a>
                      </td>
                      <td>
                        {{value}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          {{/technical}}
          </script>
        </div>
      </div>
      <div class="tab-pane fade" id="reviews">
        <!-- @include _add-review.html -->
        <!-- @include _reviewed.html -->
      </div>
      <div class="tab-pane fade ee-similar-products" id="similar-products">
        <div class="container">
          <!-- @include _product-boxes-detail.html -->
        </div>
      </div>
    </div>
  </section>
</div>