<section class="ee-review-add">
  <div class="container tsr-forms">
    <div class="row">
      <div class="col-sm-4 js-slidetoggle">
        <p>Mis on toote juures hea? Mis ei ole hea?</p>
        <button class="btn btn-primary">Lisa oma arvamus</button>
        
      </div>
      <div class="col-sm-4"> 
        <p>Soovita sõbrale</p>
        <!-- @include _socialcount.html -->
      </div>
      <div class="col-sm-4 ">
        <p>Mitu tärni annad?</p>
          <input type="number" data-clearable="Loobu" data-max="5" data-min="1" name="rating" id="rating-1" class="rating" />
        </div>
    </div>
  </div>
</section>
<!-- @include _review-answer-toggle.html -->
