<section class="tsr-ee-reviews">
  <div class="container tsr-forms">
    <h1><small>Lisa oma arvamus</small></h1>
    <p>Mis on toote juures hea? Mis ei ole hea?</p>
    <form action="">
      <div class="row">
        <div class="col-sm-4">
           <label class="sr-only" for="Nimi">Nimi</label>
          <input type="text" value="Nimi" id="Nimi">
          <label class="sr-only" for="E-post">E-post</label>
          <input type="text" value="E-post" id="E-post">
        </div>
        <div class="col-sm-8">
          <textarea>Arvamus</textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <label for="check-1"><input type="checkbox" checked id="check-1" /> Peida e-posti aadress</label>
        </div>
        <div class="col-sm-4">
          <label for="check-2"><input type="checkbox" id="check-2" /> <span class="tsr-ee-labeltext">Teavita mind postitustest sellel tootel</span></label>
        </div>
        <div class="col-sm-4  text-right">
          <label for="check-1">Hinda toodet <input type="number" data-clearable="Tühjenda" name="rating" id="rating" class="rating" /></label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5" class="captcha">
          <img src="assets/img/other/captcha.png" alt="">
          <i class="icon-synctsicon48px"></i>
          <label class="sr-only" for="captcha">Kontrollkood</label>
        </div>
        <div class="col-sm-4">
          <input type="text" id="captcha" name="captcha" />
        </div>
        <div class="col-sm-3  text-right">
          <button class="tsr-btn tsr-btn-purple text-right tsr-btn-100">Saada arvamus</button>
        </div>
        <p><small>Arvamuse salvestamiseks palun sisestada pildil kujutatud kontrollkood lahtrisse</small></p>
        <p><small>Palume mitte kirjutada vulgraarsusi ega mõttetusi. Me loeme postitusi ja jätame endale õiguse redigeerida või kõrvaldada kohatuid kommentaare.</small></p>
      </div>
    </form>
  </div>
</section>
