<section class="ee-full-slider hidden-print">
  <div class="container">
    <div class="flexslider ee-additional-image-lg" id="js-largeimage">
      <ul class="slides">
          <li><img src="assets/img/products/samsung_f8500_front_silver.jpg"/></li>
          <li><img src="assets/img/products/samsung_f8500_Right-Angle_silver.jpg"/></li>
<!--           <li><iframe id="player_1" src="http://player.vimeo.com/video/39683393?api=1&player_id=player_1" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li> -->
      </ul>
    </div>
  </div>
</section>