<!--  Source http://jsfiddle.net/hqv27/ -->
<div class="row">
   <script type="text/javascript">
   var RecaptchaOptions = {
    theme : 'custom',
    custom_theme_widget: 'recaptcha_widget'
  };
  </script>

  <form method="post" action="" method="post" class="form-horizontal" accept-charset="UTF-8">
      <div id="recaptcha_widget" >
        <div class="control-group col-md-6">
          <div class="controls">
            <a id="recaptcha_image" href="#" class="thumbnail"></a>
            <div class="recaptcha_only_if_incorrect_sol" style="color:red">Viltu läks, palun proovi uuesti</div>
          </div>
        </div>

        <div class="control-group">
         <label class="recaptcha_only_if_image control-label">Sisesta tekst, mida näed:</label>
         <label class="recaptcha_only_if_audio control-label">Sisesta numbrid, mida kuuled:</label>

        <div class="controls col-md-4">
          <div class="btn-group">
            <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" class="input-recaptcha" />
            <a class="btn btn-default" href="javascript:Recaptcha.reload()"><i class="icon-synctsicon48px"></i></a>
            <a class="btn btn-default recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')"><i title="Get an audio CAPTCHA" class="glyphicon glyphicon-picture"></i></a>
            <a class="btn btn-default recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')"><i title="Get an image CAPTCHA" class="glyphicon glyphicon-volume-up"></i></a>
            <a class="btn btn-default" href="javascript:Recaptcha.showhelp()"><i class="icon-helptsicon48px"></i></a>
          </div>
        </div>
      </div>
    </div>
  </form>


  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcrK9cSAAAAALEcjG9gTRPbeA0yAVsKd8sBpFpR"></script>
</div>
