<div class="ee-comparebar detail">
  <div class="navbar">
    <ul class="list-inline navbar-right">
      <li><span><a href="">Tootevõrdlus</a></span></li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
    </ul>
  </div>
</div>