<section class="ee-product-detail">
<!--   <div style="width: 400px; height: 400px; background: #fff; position: relative; border: 1px solid red; text-align: center; vertical-align: middle; display: table-cell;"><span class="icon icon-mobile" style="font-size: 372px;"></span></div>
  <div style="width: 400px; height: 400px; background: #fff; position: relative; border: 1px solid red; text-align: center; vertical-align: middle; display: table-cell;"><span class="icon icon-digitaltv" style="font-size: 372px;"></span></div> -->
  <div class="container">
    <div class="row" id="content-placeholder-detail"></div>
  </div>
</section>

<script id="product-detail-template" type="text/x-handlebars-template">

{{#with products.[1]}}

<div class="col-sm-7 col-sm-push-5">
  <h1><small>{{name}}</small></h1>
  <small class="gray-text">Tootekood: NP915S3G-K01EE</small>
  <h2> {{{intro}}} </h2>
  <h2 class="ee-detail-intro"> <small>{{{leftTrimMedium description}}} </small></h2>
  
    {{#if campaign}}
    {{#each campaign}} 
      <a href="#">{{this}} </a>
    {{/each}}
    {{/if}}
  <div class="hidden-xs">
    <div class="tsr-product-colors">
      <button class="ee-colors btn btn-link dropdown-toggle" data-toggle="dropdown"> Vali värv</button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Maasikas</a></li>
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Sidrun</a></li>
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Must</a></li>
      </ul>
    </div>

    {{#if normal_price}}
    <p class="tsr-product-price">Tavahind: {{normal_price}}
    {{/if}}
    {{#if special_price}}
    <br>Sinu võit: 300 €</p>
    <p class="tsr-product-price ee-special-price"><span>Soodushind: {{special_price}}</span></p>
    {{/if}}

    <div class="row ee-actions">
      <div class="col-md-5 col-sm-6">
        <button class="tsr-btn tsr-btn-100  ee-btn-buy"><i class="icon icon-buy_2"></i>Lisa ostukorvi</button>
        <a data-toggle="collapse" data-target="#transport-{{id}}" id="parent-{{id}}">Vaata saadavust esindustes</a>
      </div>
      <div class="col-md-4 col-sm-4 ">
        <p>Kaup kätte Tallinnas või mujal: Täna, 20.12.2013
        </p>
      </div>
    </div>
    <!-- @include _transport-module.html -->
  </div>
   
</div>



<div class="col-sm-5 col-sm-pull-7 ee-detailview">
  {{#if firstflash}}
  <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
  {{/if}}
  {{#if secondflash}}
  <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
  {{/if}}

  <div id="js-imagerotator" class="js-imagerotator tsr-product-image">
    <ul class="slides">
      {{#each minipics_id}}
        <li data-thumb="assets/img/products/{{this}}-100.jpg"><img src="assets/img/products/{{this}}.jpg"></li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="col-sm-7 col-sm-push-5 visible-xs">
    <div class="tsr-product-colors">
      <button class="ee-colors btn btn-link dropdown-toggle" data-toggle="dropdown"> Vali värv</button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Maasikas</a></li>
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Sidrun</a></li>
        <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Must</a></li>
      </ul>
    </div>

  {{#if normal_price}}
  <p class="tsr-product-price">Tavahind: {{normal_price}}
  {{/if}}
  {{#if special_price}}
  <br>Sinu võit: 300 €</p>
  <p class="tsr-product-price ee-special-price"><span>Soodushind: {{special_price}}</span></p>
  {{/if}}

  <div class="row ee-actions">
    <div class="col-sm-5">
      <button class="tsr-btn tsr-btn-100 ee-btn-buy"><i class="icon icon-buy_2"></i>Lisa ostukorvi</button>
      
      <a data-toggle="collapse" data-target="#transport-{{id}}" id="parent-{{id}}">Vaata saadavust esindustes</a>
    </div>
    <!-- @include _transport-module.html --> 
    <div class="col-sm-7">
      <p>Kaup kätte Tallinnas: Täna, 20.12.2013
      </p>
    </div>
  </div>
  
</div>

<div class="col-sm-5 col-sm-pull-7 ">
  <div class="row ee-linkicons ">
    <div class="col-md-5  col-xs-6" ><a href="#" class="ee-comments">Arvamused (5)</a></div>
    <div class="col-md-3   col-xs-6"><a href="#" class="ee-compare">Võrdle</a></div>
    <div class="col-md-4   col-xs-5"><a href="#" class="ee-favorite">Lemmik</a></div>
    <div class="col-md-12 col-xs-7 text-left">
    <!-- @include _socialcount.html -->
    </div>
  </div> 
</div>

{{/with}}
</script>









