<section class="tsr-ee-product-detail">
  <div class="container" id="content-placeholder-products"></div>
  
</section>

<script id="product-slider-template" type="text/x-handlebars-template">

{{#with products.[1]}}

<div class="col-sm-5 tsr-ee-detailview">
  {{#if firstflash}}
  <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
  {{/if}}
  {{#if secondflash}}
  <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
  {{/if}}

<div id="js-imagerotator" class="js-imagerotator tsr-product-image">
  <ul class="slides">
    {{#each minipics_id}}
      <li data-thumb="assets/img/products/{{this}}.jpg"><img src="assets/img/products/{{this}}.jpg" /></li>
    {{/each}}
  </ul>
</div>

  <div class="row tsr-ee-linkicons">
    <div class="col-md-5" ><a href="#" class="tsr-ee-comments">Arvamused (5)</a></div>
    <div class="col-md-3"><a href="#" class="tsr-ee-compare">Võrdle</a></div>
    <div class="col-md-4"><a href="#" class="tsr-ee-favorite">Lemmik</a></div>
  </div>
</div>

<div class="col-sm-7">
  <div class="tsr-product-content">

  <h1><small>{{name}}</small></h1>
  <h1> {{{intro}}} </h1>
  <h1 class="tsr-ee-detail-intro"> <small>{{{leftTrimMedium description}}} </small></h1>

    {{#if campaign}}
    {{#each campaign}} 
      <a href="#">{{this}} </a>
    {{/each}}
    {{/if}}

    <p class="tsr-ee-upper-distance">Vali värv</p>
    <ul class="tsr-ee-product-colors">
    {{#if colors}}
    {{#each colors}}
      <li class="acc {{this}}" data-color-theme="#e2e2e2"></li>
    {{/each}}
    {{/if}}
    </ul>
  
    {{#if normal_price}}
    <p class="tsr-product-price">Tavahind: {{normal_price}}
    {{/if}}
    {{#if special_price}}
    <br>Sinu võit: 300 €</p>
    <p class="tsr-ee-product-price">Soodushind: {{special_price}}</p>
    {{/if}}

    <div class="row tsr-ee-actions">
      <div class="col-md-5">
        <button class="tsr-btn tsr-btn-100  tsr-btn-buy"><i class="icon icon-osta"></i>Lisa ostukorvi</button>
      </div>
      <div class="col-md-7">
        <p>Kaup kätte Tallinnas: <a href="#">Täna, 20.12.2013</a>
        <br>
        Müügil e-poes ja poodides (<a href="#">Vaata saadavust</a>)
        </p>
      </div>
    </div>
  </div>
</div>

{{/with}}
</script>









