<section class="tsr-ee-section-leasing">
  <div class="container">
    <div class="row tsr-forms">
      <div class="col-md-3">
        <p>Periood:</p>
          <div class="select-container"><select><option selected>Populaarsemad enne</option><option>iPhone</option><option>Samsung</option></select></div>
        
      </div>
      <div class="col-md-3">
        <p>Sissemakse:</p>
        <div class="select-container"><select><option selected>Populaarsemad enne</option><option>iPhone</option><option>Samsung</option></select></div>
      </div>
      <div class="col-md-3">
        <p>Kuumakse:</p>
        <p class="tsr-ee-product-price">84,89 €</p>
      </div>
      <div class="col-md-3">
        <a href="#">Logi sisse, et näha personaalseid tingimusi</a>
      </div>
    </div>
    <p class="tsr-ee-upper-distance">
      <small>Krediidi kulukuse määr on 26,6% aastas järgmistel näidistingimustel: kauba summa 500€, tagasimaksmise tähtaeg 48-kuud, intress 21,9%. Tegemist on finantsteenuse reklaamiga. Järelmaksu pakkujaks on Elion Ettevõtted AS. Enne tehingu sõlmimist tutvu täpsemate järelmaksu tingimustega ning vajaduse korral konsulteeri asjatundjaga.</small>
    </p>
  </div>
</section>