<section class="tsr-section-carousel-listing"> 
    <div class="container product">
      <div class="tsr-slides" id="content-placeholder-slider-detail"></div>

      <script id="slider-detail-template" type="text/x-handlebars-template">
      {{#products}}
      <a href="javascript:void(0);" class="tsr-module-product">
        {{#if ribbon}}
          <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
        {{/if}}
         <button class="btn btn-link"><i class="ee-product-box-favorite"></i></button>
        <figure class="tsr-product-image"><img src="assets/img/products/{{id}}.jpg" class="original"><img src="assets/img/products/{{id}}.jpg" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888"/></figure>
        <div class="tsr-product-content">
          {{#if firstflash}}
          <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
          {{/if}}
          {{#if secondflash}}
          <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
          {{/if}}
          <h6 class="tsr-product-header">{{name}}</h6>
            <ul class="tsr-product-colors">
            {{#if colors}}
            {{#each colors}}
              <li class="accent {{this}}"></li>
            {{/each}}
            {{/if}}
            </ul>
            <p class="tsr-product-price">
            {{#if normal_price}}
            Tavahind {{normal_price}} €<br> Sinu võit 10 €
            {{/if}}
            </p>
            <p class="tsr-product-price ee-special-price">
            {{#if special_price}}
            Soodushind <span>{{special_price}} €</span>
            {{/if}}
            </p>
            <button class="ee-compare btn btn-link"> Võrdle </button>
        </div>
      </a>
      {{/products}}
      </script>

    </div>
</section>

<!-- <canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas> -->
