<!-- Product boxes -->
<div class="row">
  <section class="tsr-section-productAndService-listing ">
    <div class="ee-nogap" id="content-placeholder-fittingproducts-detail"></div>
  </section>
</div>

<script id="fittingproducts-detail-template" type="text/x-handlebars-template">

  {{#products}}
  <div class="col-xs-12 col-sm-3 col-md-2">
    <div class="tsr-module-product">
      {{#if ribbon}}
        <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
      {{/if}}
      <div class="ee-favorite-dropdown">
        <button class="ee-favorite btn btn-link dropdown-toggle" data-toggle="dropdown"></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><span class="ee-favorite active"></span>Favs0 </a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs1</a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs2</a></li>
        </ul>
      </div>
      <figure class="tsr-product-image" style="mix-blend-mode: multiply;">
      <a href="detail.html"><img src="assets/img/detail-addons/{{id}}.jpg" id="img{{id}}"></a>
      </figure>
    
      <div class="tsr-product-content">

        {{#if firstflash}}
        <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
        {{/if}}
        {{#if secondflash}}
        <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
        {{/if}}
        <h6 class="tsr-product-header"><a href="detail.html">{{name}}</a></h6>
      
        {{#if colors}}
          <ul class="tsr-product-colors">
          {{#each colors}}
            <li class="accent {{this}}"></li>
          {{/each}}
          </ul>
          {{else}}
          <ul class="tsr-product-colors hidden-xs"></ul>
        {{/if}}

        {{#if special_price}}
        <p class="tsr-product-price ee-special-price">Soodushind <span>{{special_price}}</span></p>
        {{else}} {{#if normal_price}}
        <p class="tsr-product-price">Tavahind <span>{{normal_price}}</span></p>
        {{else}}
        <p class="tsr-product-price"></p>
          {{/if}}
        {{/if}}
        <a href="#" class="ee-compare"> Võrdle </a>
      </div>
    </div>
  </div>

  {{/products}}
</script>







