<section class="tsr-carousel-listing-div"> 
    <div class="container ee-nogap">
      <div class="tsr-slides" id="content-placeholder-slider-detail"></div>

      <script id="slider-detail-template" type="text/x-handlebars-template">
      {{#products}}
      <div class="tsr-module-product">
        {{#if ribbon}}
          <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
        {{/if}}
        <div class="ee-favorite-dropdown">
          <button class="ee-favorite btn btn-link dropdown-toggle" data-toggle="dropdown"></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href=""><span class="ee-favorite active"></span>Favs0 </a></li>
            <li><a href=""><span class="ee-favorite"></span>Favs1</a></li>
            <li><a href=""><span class="ee-favorite"></span>Favs2</a></li>
          </ul>
        </div>
        <figure class="tsr-product-image">
          <img src="assets/img/products/{{id}}.jpg">
        </figure>
        <div class="tsr-product-content">
          {{#if firstflash}}
          <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}</span></figure>
          {{/if}}
          {{#if secondflash}}
          <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
          {{/if}}
          <h6 class="tsr-product-header">{{name}}</h6>

          <p class="tsr-product-price">
          {{#if special_price}}
          Tavahind {{normal_price}} €<br> Sinu võit 10 €
          </p>
          <p class="ee-special-price tsr-product-price">
          Soodushind <span>{{special_price}} €</span>
          </p>
          {{else}}
          <p class="tsr-product-price ">
          Tavahind <span>{{normal_price}} €</span>
          {{/if}}
          </p>
          <button class="ee-compare btn btn-link"> Võrdle </button>
        </div>
      </div>
      {{/products}}
      </script>

    </div>
</section>

<!-- <canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas> -->
