<section class="ee-reviewarea">
  <div id="content-placeholder-reviews-detail"></div>
  <script id="reviews-detail-template" type="text/x-handlebars-template">
  {{#reviews}}
    <section class="ee-reviews">
      <article class="ee-reviewed-initial">
        <div class="container">
          <div class="row ee-review-body">
            {{#if starred}}
              <input type="number" name="rating" id="rating-{{name}}" class="rating" value="{{starred}}" />
            {{/if}}
            <div class="col-xs-11">
              <h6>
              {{#if elion}}
              <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="right" title="Elioni töötaja" data-content=" Arendusosakonna juhataja "> <i class="icon icon-support "></i></a>
              {{/if}}
              {{name}}
              </h6>
              <p class="text-muted">{{date}}</p>

              <p>{{{body}}}</p>
            </div>
            <div class="ee-review-respond text-right">
              <p class="js-slidetoggle">
                <a href="#">Vasta</a>
              </p>
            </div>
          </div>
        </div>
        <!-- @include _review-answer-toggle.html -->
      </article>

      {{#each answer}}
      <article class="ee-reviewed-answer">
        <div class="container">
          <div class="row ee-review-body">
              {{#if starred}}
              <input type="number" name="rating" id="rating-{{name}}" class="rating" value="{{starred}}" />
              {{/if}}
            <div class="col-xs-10 col-xs-offset-1">
              <h6>
              {{#if elion}}
              <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="right" data-title="{{name}}" data-content=" Peeter Karolin töötab Elionis infoarhitektina. "> <i class="icon icon-support "></i></a>
              {{/if}}
              {{name}}
              </h6>
              <p class="text-muted">{{date}}</p>
              <p>{{{body}}}</p>
            </div>
            <div class="ee-review-respond  text-right">
              <p class="js-slidetoggle">
                <a href="#">Vasta</a>
              </p>
            </div>
          </div>
        </div>
        <!-- @include _review-answer-toggle.html -->
      </article>
      {{/each}}
    </section>
  {{/reviews}}
  </script>
  </section>