<section class="ee-review-answer-add js-togglable" style="display: none;">
  <div class="container tsr-forms">
    <div class="row">
      <div class="col-xs-12">
        <h4>Vasta</h4>
        <p>Vastuse sisestamise tingimuseks on, et vastus ei tohi sisaldada vulgaarseid väljendeid ega mõttetusi</p>
      </div>
    </div>
    <form action="">
      <div class="row ee-input-aside">
        <div class="col-sm-4">
          <label class="sr-only" for="Nimi">Nimi</label>
          <input type="text" value="" id="Nimi" placeholder="Nimi"  autocapitalize="off" autocorrect="off">
          <label class="sr-only" for="E-post">E-post</label>
          <input type="text" value="" placeholder="E-post" id="E-post"  autocapitalize="off" autocorrect="off" autocomplete="off">
        </div>
        <div class="col-sm-8">
          <label class="sr-only" for="E-post">Arvamus</label>
          <textarea spellcheck="false" placeholder="Mis on toote juures hea? Mis ei ole hea?"></textarea>
        </div>
      </div>
      <div class="row ee-action-submit">
        <div class="col-sm-4">
          <label for="check-1"><input type="checkbox" checked id="check-1" /> Peida e-posti aadress</label>
          <label for="check-2"><input type="checkbox" id="check-2" /> <span class="ee-labeltext">Teavita mind postitustest sellel tootel</span></label>
        </div>
        <div class="col-sm-4 ee-captcha">
          <img src="assets/img/other/captcha.png" alt="">
          <button class="btn btn-link"><i class="icon icon-sync"></i></button>
          <label class="sr-only" for="captcha">Kontrollkood</label>
          <input type="text" id="captcha" name="captcha" />
          <p>Arvamuse salvestamiseks palun sisestada pildil kujutatud kontrollkood lahtrisse</p>
        </div>
        <div class="col-sm-4  text-right">
          <span>Mitu tärni annad?</span>
          <input type="number" data-clearable="Loobu" data-max="5" data-min="1" name="rating" id="rating-1" class="rating" />

         <div class="ee-sendreview">
            <button class="btn btn-link">Loobu</button>
           <button class="btn btn-primary">Saada arvamus</button>
         </div>
        </div>
      </div>
    </form>
  </div>
</section>