<section class="tsr-ee-reviewed-initial">
  <div class="container tsr-ee-arrowbox">
    <h6>Tiiu</h6>
    <p>16.12.2013 9:38</p>
    <p>Tere! Kas selle telekaga saab ka USB pulgale salvestada?</p>
  </div>
</section>
<section class="tsr-ee-reviewed-answer answer-first">
  <div class="container tsr-ee-arrowbox">
    <h6>Tiiu</h6>
    <p>16.12.2013 9:38</p>
    <p>Tere! Kas selle telekaga saab ka USB pulgale salvestada?</p>
  </div>
</section>
<section class="tsr-ee-reviewed-answer answer-second">
  <div class="container tsr-ee-arrowbox">
    <h6>Tiiu</h6>
    <p>16.12.2013 9:38</p>
    <p>Tere! Kas selle telekaga saab ka USB pulgale salvestada?</p>
  </div>
</section>