// resetting hardcoded values from tsr

.tsr-btn-view-all span {
  font-weight: normal;
}

.tsr-module-product {
  font-size: inherit;
  color: $text-color;
  margin-top: -1px;
  .tsr-product-header {
    font-size: 105%;
    margin: em(10) 0 em(5);
    @include media-min($screen-sm-min) {
    font-size: 120%;;
    } 
  }
}
section.tsr-section-productAndService-listing {
  padding: 0;
  margin-top: -1px;
}

section.tsr-ee-section-product-boxes {
  background: transparent;
  padding: 0 12px;
  margin: 20px auto;
}

.tsr-section-divider {
  margin-top: -1px;
  z-index: 1;
}

.tsr-ee-special-price-text {
  color: $blue-c;
  line-height: 2;
}

.tsr-ee-product-price {
  font-weight: 600;
  color: $blue-c;
  font-size: 120%;
}

.must{
  background: black
}
.valge {
  background: white;
}
.hall {
  background: gray;
}
.punane {
  background: #983338;
}
.roheline {
  background: #489833;
}
.sinine {
  background: #24426c;
}
.kollane {
  background: yellow;
}

.tsr-ee-product-boxes {
  & section.tsr-section-productAndService-listing {
    background: transparent;
    border: none;
  }
  .tsr-ee-product-box-favorite {
    @extend .favorite;
    font-size: em(25);
    position: absolute;
    right: em(15);
    left: auto;
    bottom: 10%;
    z-index: 2;
    text-decoration: none;
    @include media-min($screen-xs) {
    right: em(15);
    left: auto;
    top: em(10);
    } 
  }
  .pagination-holder {
    padding: 23px 0;
    .tsr-pagination {
      float: right;
      a {
        background: transparent;
        &:hover {
          background: $purple-c;
          color: white;
          text-decoration: none;
        }
      }
      a.tsr-active {
        background: $purple-t;
        font-size: 115%;
        line-height: 115%;
      }
    }
  }
  .tsr-forms {
    & .col-md-4 {
      padding-left: 0;
    }
    & .col-md-5 {
      padding-right: 0;
    }
  }
}

// very important rule to handle product boxes layout
.container.product, .container .product {
  padding-right: 0;
  padding-left: 0;
    & [class*="col-"] {
    margin: 0 -1px -1px 0;
    padding: 0;
  }
}

.row.trim {
  padding-left: 10px;
  padding-right: 10px;
}

// product module general, removed float
.tsr-module-product { 
  width: 100%;
  padding: em(15) 0 em(20) em(15);
  float: none;
  @include media-min($screen-sm-min) {
  // padding: em(35) em(45) em(35) em(45);
  padding: em(35) em(30) em(35) em(30);
  } 
  & .tsr-product-content {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding-left: 4%;
    @include media-min($screen-sm-min) {
      margin: auto;
      width: 100%;
      padding-left: 0;
    }
  }
  & .tsr-product-image {
    height: auto;
    width: 75px;
    max-width: 25%;
    display: inline-block;
    float: none;
    @include media-min($screen-sm-min) {
      width: 100%;
      max-width: 220px;
      height: auto;
      padding: 0 em(20);
      } // min 768px
    }
  & .tsr-product-price {
    margin: 0;
    @include media-min($screen-sm-min) {
      margin: 12px 0 0;
    } 
  }
}

.pagination-holder .col-sm-4 {
  padding: em(6);
} 

// - - - - - - - - - - - - - - - - - - - - 
// - - Section navigation
// - - - - - - - - - - - - - - - - - - - - 

ul.tsr-ee-product-colors {
  margin: 0 auto;
  display: inline-block;
    li {
    @include border-radius(22px);
    height: em(22);
    width: em(22);
    margin-left: 2px;
    cursor: pointer;
    padding: 0;

    // &[class*="acc-"]{
      &[class*="acc"]{
        border:3px solid $lightgrey-c;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        -ms-box-shadow:   none;
        -o-box-shadow:    none;
        box-shadow:         none;
        &:hover,
        &.active,
        &.active:hover,
        &.active:active{
          border:3px solid white;
          -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1);
          -moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, .2);
          -ms-box-shadow:   0px 0px 3px 0px rgba(0, 0, 0, .2);
          -o-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, .2);
          box-shadow:         0px 0px 0px 1px rgba(0, 0, 0, .4);
        &:hover, 
        &.active:hover {
          opacity: 0.8;
        }
      } // &.active END   
    } // acc- END
  }
}