// resetting hardcoded values from tsr

.tsr-module-product {
  font-size: inherit;
  color: $text-color;
  margin-top: -1px;
  .tsr-product-header {
    font-size: 105%;
    margin: em(10) 0 em(5);
    padding-right: 15%;
    @include media-min($screen-sm-min) {
    font-size: 120%;
    } 
  }
}
section.tsr-section-productAndService-listing {
  padding: 0;
  margin-top: -1px;
}

section.tsr-ee-section-product-boxes {
  background: transparent;
  padding: 0 12px;
  margin: 20px auto;
}

.tsr-section-divider {
  margin-top: -1px;
}

.tsr-ee-special-price-text {
  color: $blue-c;
  line-height: 2;
}

.tsr-ee-product-price {
  font-weight: 600;
  color: $blue-c;
  font-size: 120%;
}

.tsr-ee-product-price-lg {
  @extend .tsr-ee-product-price;
  font-size: 150%;
}

.tsr-ee-product-boxes {
  & section.tsr-section-productAndService-listing {
    background: transparent;
    border: none;
  }
  .tsr-ee-product-box-favorite {
    @extend .tsr-ee-favorite;
    position: absolute;
    right: em(10);
    left: auto;
    top: em(10);
    z-index: 2;
    text-decoration: none;
    @include media-min($screen-xs) {
    right: em(15);
    } 
  }
  .pagination-holder {
    padding: 23px 0;
    .tsr-pagination {
      float: right;
      a {
        background: transparent;
        &:hover {
          background: $purple-c;
          color: white;
          text-decoration: none;
        }
      }
      a.tsr-active {
        background: $purple-t;
        font-size: 115%;
        line-height: 115%;
      }
    }
  }
  .tsr-forms {
    & .col-md-4 {
      padding-left: 0;
    }
    & .col-md-5 {
      padding-right: 0;
    }
  }
}

// very important rule to handle product boxes layout
.container.product, .container .product {
  padding-right: 0;
  padding-left: 0;
  & [class*="col-"] {
  margin: 0 -1px -1px 0;
  padding: 0;
  }
}

.row.trim {
  @include media-min($screen-sm) {
  padding-left: 10px;
  padding-right: 10px;
  }
}

// product module general, removed float
.tsr-module-product { 
  width: 100%;
  padding: em(15) em(5) em(20) em(15);
  float: none;
  @include media-min($screen-sm) {
  // padding: em(35) em(45) em(35) em(45);
  padding: em(35) em(30) em(35) em(30);
  } 
  .tsr-tactical-flash.tsr-first {
    top: 50px;
  }
  .tsr-tactical-flash.tsr-second {
    top: 115px;
  }
  & .tsr-product-content {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    padding-left: 4%;
    @include media-min($screen-sm) {
      margin: auto;
      width: 100%;
      padding-left: 0;
    }
  }
  & .tsr-product-image {
    height: auto;
    width: 75px;
    max-width: 25%;
    display: inline-block;
    float: none;
    @include media-min($screen-sm) {
      width: 100%;
      max-width: 220px;
      height: auto;
      padding: 0 em(20);
      } // min 768px
    }
  & .tsr-product-price {
    margin: 0;
    @include media-min($screen-sm-min) {
      margin: 12px 0 0;
    } 
  }
}

.pagination-holder .col-sm-4 {
  padding: em(6);
} 

// - - - - - - - - - - - - - - - - - - - - 
// - - Section navigation
// - - - - - - - - - - - - - - - - - - - - 

ul.tsr-ee-product-colors {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0;
  display: inline-block;
    li {
    list-style-type: none;
    display: block;
    @include border-radius(22px);
    height: 22px;
    width: 22px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;

    // &[class*="acc-"]{
      &[class*="acc"]{
        border:3px solid $lightgrey-c;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        -ms-box-shadow:   none;
        -o-box-shadow:    none;
        box-shadow:         none;
        &:hover,
        &.active,
        &.active:hover,
        &.active:active{
          border:3px solid white;
          -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .4);
          -moz-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          -ms-box-shadow:   0px 0px 0px 1px rgba(0, 0, 0, .4);
          -o-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          box-shadow:         0px 0px 0px 1px rgba(0, 0, 0, .4);
        &:hover, 
        &.active:hover {
          opacity: 0.8;
        }
      } // &.active END   
    } // acc- END
  }
  .must{
  background: black
  }
  .valge {
    background: white;
  }
  .valge:before {
    content: "";
    display: block;
    border: solid 1px $lightgrey-t;
    @include border-radius(18px);
    height: 18px;
    width: 18px;
    margin-top: -1px;
    margin-left: -1px;
    z-index: 10;
  }
  .hall {
    background: gray;
  }
  .punane {
    background: #983338;
  }
  .roheline {
    background: #489833;
  }
  .sinine {
    background: #24426c;
  }
  .kollane {
    background: yellow;
  }
}