 
// VARIABLES AND MIXINS 
//**********************************
/* @include tsr-bootstrap/_variables.scss */
/* @include _bs-ee-variables.scss */ 
/* @include _mixins.scss */


// TELIA SONERA
//**********************************
/* @include _tsr-core.scss */

// BOOTSTRAP
//**********************************
/* @include _normalize.scss */
/* @include _scaffolding.scss */ 
/* @include _grid.scss */
/* @include _alerts.scss */
/* @include _buttons.scss */
/* @include _button-groups.scss */
/* @include _close.scss */
/* @include _component-animations.scss */
/* @include _dropdowns.scss */
/* @include _forms.scss */
/* @include _glyphicons.scss */
/* @include _input-groups.scss */
/* @include _labels.scss */
/* @include _list-group.scss */
/* @include _media.scss */
/* @include _navs.scss */
/* @include _navbar.scss */
/* @include _responsive-utilities.scss */ 
/* @include _panels.scss */
/* @include _print.scss */
/* @include _popovers.scss */
/* @include _tables.scss */
/* @include _type.scss */
/* @include _utilities.scss */
/* @include _modals.scss */


// VILJAR SALU
//******************
/* @include tsr-bootstrap/_mixins.scss */
/* @include tsr-bootstrap/_buttons.scss */
/* @include tsr-bootstrap/_type.scss */
/* @include tsr-bootstrap/_icons.scss */
/* @include tsr-bootstrap/_badges.scss */
/* @include tsr-bootstrap/_navbar.scss */
/* @include tsr-bootstrap/_megamenu.scss */
/* @include tsr-bootstrap/_responsive-utilities.scss */
/* @include tsr-bootstrap/_elion.scss */
/* @include tsr-bootstrap/_header.scss */
/* @include tsr-bootstrap/_footer.scss */
/* @include tsr-bootstrap/_forms.scss */
/* @include tsr-bootstrap/_alerts.scss */
/* @include tsr-bootstrap/_submenu.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO BS3
//**********************************
/* @include _bs-ee-breadcrumbs.scss */
/* @include _bs-ee-navs.scss */

// PLUGINS
//**********************************
/* @include _flexslider.css */
/* @include _socialcount-with-icons.scss */
/* @include _slider.scss */


// CUSTOM OVERWRIDES AND ADDITIONS TO TSR
//**********************************
/* @include _ee-typography.scss */
/* @include _ee-tacticalElements.scss */
/* @include _ee-communication-primary.scss */
/* @include _ee-buttonsAndLinks.scss */
/* @include _ee-sidemenu.scss */
/* @include _ee-product.scss */
/* @include _ee-frontpage.scss */
/* @include _ee-2nd-level-list.scss */
/* @include _ee-banner-ad.scss */
/* @include _ee-accordion.scss */
/* @include _ee-detail-page.scss */
/* @include _ee-reviews.scss */
/* @include _ee-2nd-level-general-parts.scss */
/* @include _ee-productslider.scss */
/* @include _ee-mainnav.scss */
/* @include _ee-compare.scss */

/* default height */
// #ad {
//    height:30px;
// }
// @media only screen and (width:480px) {
//    /* 90 pixels high */
//    #ad {
//       height:90px;
//    }
// }
// @media only screen and (width:960px) {
//    /* 125 pixels high */
//    #ad {
//       height:200px;
//    }
// }

// .iframewrapper {
//   position: relative;
//   height: 0;
//   overflow: hidden;
//   padding-bottom: 30%;

//   iframe {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass
@function set-notification-text-color($color) {
  @if (lightness($color) > 50) {
    @return $purple-c; // Lighter backgorund, return dark color
  } @else {
    @return #fff; // Darker background, return light color
  }
}

// flashbanner

.swiffy-wrap { 
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  float: left;
  height: 0;
}

#swiffycontainer {
  width : 100% !important;
  height: 100% !important;
  position: absolute;
  left: 0;
}


// FOUND
.ee-found-tabs {
  .nav-tabs li a {
    font-size: $font-size-h4;
    &.active {
      color: $text-color
    }
  }
  table {
    img {
      height: 64px;
      width: 64px;
    }
    td.blue-text {
      font-size: $font-size-h4;
      font-weight: 600;
      white-space: nowrap;
    }
    tbody > tr >  td {
      vertical-align: middle;
    }
    tbody > tr:first-of-type > td {
      border-top: none;
    }
  }
  .ee-btn-buy {
    font-size: 1.06667em;
    width: auto; 
    font-weight: 500;
    padding: 6px 12px;
    margin: 12px 12px 0 0;
  }
  .ee-compare {
    display: inline-block;
    margin: 10px 10px 0 10px;
     @include media-min($screen-sm) {
    margin: 10px;
    } 
  }
  .tab-content {
    padding-top: 20px;
  }
  &.ee-tab-to-accordion {
    background: #fff;


  }
  .col-five-on-small {
    width: 100%;
    position: relative;
    float: left;
      @include media-min($screen-sm) {
    width: 33.33333%;
    }
  @include media-min($screen-md) {
    width: 20%;
    }
  }
}

.panel-group .table-responsive {
  margin-bottom: -1;
}

.found-listed {
  margin: 20px 0;
  li {
    margin-top: 10px;
  }
  strong {
    color: $purple-c;
  }
}

.text-link {
  color: inherit;
}


// Care-page css
// *****************

.dl-horizontal.dl-wide-300 {
  dt {
    width: auto;
    @include media-min($screen-sm) {
      width: 300px;
      text-align: left;
    }
  }
 dd {
    margin-left: 0;
    @include media-min($screen-sm) {
      margin-left: 320px;
    }
  }
}

// TEMPORARY HACKS, TO BE REMOVED
//**********************************

// mobile view, make links clickable full 
.megamenu .list-group .dropdown-header > h6 > a {
width: 100%;
display: block;
}

.navbar-default .user-menu.navbar-nav > li > a:after {
  background-color: #51246B;
}

.navbar-default .user-menu.navbar-nav > li > a, 
.navbar-default .user-menu.navbar-nav > li > a:active, 
{
  color: #fff;
}

.ie8 {
  .tsr-module-product .tsr-tactical-ribbon:before, 
  .tsr-module-product .tsr-tactical-ribbon:after {
    background: transparent;
  }
  .tsr-module-product .tsr-tactical-ribbon {
  left: 0;
  right: 0;
  top: 10px;
  }
  .tsr-tactical-ribbon > span{
    @include rotate(0);
  }
}

.flashText-ribbon-inner {
  display: block;
  width: 60px;
}

  .flashText-ribbon-inner .ee-big {
    display: block;
    width: 60px;
    margin-left: 18%;
  }
.ie8 .ee-flashtext-container {
 position: absolute;
 top: 25px;
 left: 15px;
}

.ie8 #browserAlert {
  display: block;
}

.ie9 {
  .tsr-tactical-flash {
    position: absolute;
  }

    .tsr-tactical-flash:first-of-type {
    top: 50px;
    z-index: 2;
  }
  .tsr-tactical-flash:nth-of-type(2) {
    top: 115px;
    z-index: 3;
  }

  .tsr-tactical-flash:nth-of-type(3) {
    top: 165px;
    z-index: 5;
    right: 15px;
  }

}
 
// http://pauginer.tumblr.com/post/36614680636/invisible-gradient-technique
.navbar-default .navbar-brand {
  display: block;
  width: 180px;
  height: 80px;
  background: transparent url(elion-logo.png) center center no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url(elion-logo.svg);
  background-image: linear-gradient(transparent, transparent), url(elion-logo.svg); 
}


// HELPER CLASSES
//**********************************

// for jquery ellipsis https://github.com/jjenzz/jquery.ellipsis
// .ellip {
//   display: block;
//   height: 100%;
// }

// .ellip-line {
//   display: inline-block;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   word-wrap: normal;
//   max-width: 100%;
// }

// .ellip,
// .ellip-line {
//   position: relative;
//   overflow: hidden;
// }
// end ellipsis

.ee-thinline-bottom {
  margin-bottom: -1px;
}

.ee-upper-distance {
  margin-top: 10px;
}
.ee-hidden-xs {
  display: none !important;
    @include media-min($screen-sm) {
    display: inline-block  !important;
  } 
}
.padding-reset {
  padding: 0;
    @include media-min($screen-sm) {
    padding-left: 15px;
    padding-right: 15px;
  } 
}
*:focus {
outline: none !important;
}
.btn:active,
.btn.active {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.dropdown-menu.inverse-dropdown{
  background-color: $brand-primary;
  border-color: none;
  & > li > a{
    color: #fff;
    &:hover{
      color: #fff;
      background-color: $link-hover-color;
    }
  }
}

@media (min-width: 1420px) {
  .container {    width: 1393px;  }
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  color: #fff;
}

.admin.dropdown-menu {
  top: auto;
}
// Alert

// .alert {
//   display: none;
// }

.flyover {
   top: -250px;
   position: fixed;
   width: 100%;
   z-index: 5;
   transition: top 0.3s ease-out 0s;
}

.flyover.in {
   top: 0px;
}

@media (min-width: $screen-sm) {
   .flyover.in.top {
    top: 0px;
   }
 
  .flyover.in.middle {
   top: 40px;
  }
}

.alert .container > div .read-more {
color: #FFF;
line-height: 1;
margin-top: -7px;
padding: 0 14px 3px 40px;
position: relative;
top: 10px;
display: inline-block;
@media (min-width: $screen-sm) {
  position: absolute;

   }
  &.first {
    font-weight: normal;
    border-right: 1px solid #FFF;
    right: 80px;
  }
  &.second {
    font-weight: bold;
    right: 0;
    border-right: none;
  }
}

.sub-menu ul li > p {
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
}
// WORK IN PROGRESS PARTS
//**********************************

.ee-flashtext-container {
text-align: center;
display: table-cell;
width: 60px;
max-width: 60px;
height: auto;
vertical-align: middle;

  .ee-small {
  font-size: 12px;
  font-weight: 400;
  }

  .ee-big {
  font-weight: bold;
  font-size: 8px;
  }
}

.ee-flash-sm .ee-flashtext-container {
  max-width: 47px;
  width: 47px;
}

.ee-flash-sm .ee-flashtext-container .ee-small {
  font-size: 11px;
}


.flashText-ribbon {
  width: 60px;
  max-width: 60px;
 }



footer .social-block .media .icon {
  line-height: 26px;
  text-align: center;
}

.tsr-forms {
  input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
  }
  label {
    font-weight: normal;
    display: block; 
  }
}

.rating-input {
  display: inline-block;
  margin-left: 20px;
  .icon {
    color: $purple-c;
    font-size: 18px;
    margin-right: 2px;
  }
}

.table > thead > tr > th {
  padding: em(10) em(12);
  background-color: $lightgrey-c;
  font-weight: normal;
  font-size: 140%;
  border-bottom: 1px solid $lightgrey-t;
}

.table > tbody > tr > td {
  padding: em(14);
  font-size: 95%;
  a {
    width: 100%; 
    display: block;
  }
  i {
    float:right; 
    font-size: 12px; 
    line-height: 2;
  }
}




