// VARIABLES AND MIXINS 
//**********************************
/* @include _bs-ee-variables.scss */ 
/* @include _mixins.scss */
/* @include _bs-ee-ms-grid.scss */

//TEMPORARY HELPERS
//**********************************
/* @include _debug.scss */

// BOOTSRAP
//**********************************
/* @include _normalize.scss */
/* @include _scaffolding.scss */ 
/* @include _grid.scss */
/* @include _print.scss */
/* @include _type.scss */
/* @include _responsive-utilities.scss */ 
/* @include _navs.scss */



// TELIA SONERA
//**********************************
/* @include _tsr-core.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO BS3
//**********************************
/* @include _bs-ee-breadcrumbs.scss */
/* @include _bs-ee-navs.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO TSR
//**********************************
/* @include _icons-ee-styles */
/* @include _tsr-ee-typography.scss */
/* @include _tsr-ee-tacticalElements.scss */
/* @include _tsr-ee-communication-primary.scss */
/* @include _tsr-ee-buttonsAndLinks.scss */
/* @include _tsr-ee-sidemenu.scss */
/* @include _tsr-ee-product.scss */
/* @include _tsr-ee-frontpage.scss */

// TEMPORARY HACKS, TO BE REMOVED
//**********************************

.container { // in mixins and variables removed padding on mobile
    max-width: 960px;
}
// WORK IN PROGRESS PARTS
//**********************************

//GENERAL
// Image multiply
.multiply {
  position:relative;
  z-index:0;
}

.pildil6uend{
    position:absolute;
    display:inline;
    z-index:1;
    cursor:pointer;
    // left: 50%;
    // margin-left: -5em;
    left: 0;
    top: 0;
}



////// INTERNET EXPLORER 8


 @include old-ie {
  
  .ie8 &{

      }


    }// .ie8 & END
