// VARIABLES AND MIXINS 
//**********************************
/* @include _bs-ee-variables.scss */ 
/* @include _bs-ee-mixins.scss */
/* @include _bs-ee-ms-grid.scss */

//TEMPORARY HELPERS
//**********************************
/* @include _debug.scss */

// BOOTSRAP
//**********************************
/* @include _normalize.scss */
/* @include _scaffolding.scss */ 
/* @include _grid.scss */
/* @include _print.scss */
/* @include _type.scss */
/* @include _responsive-utilities.scss */ 



// TELIA SONERA
//**********************************
/* @include _tsr-core.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO BS3
//**********************************
/* @include _bs-ee-breadcrumbs.scss */
/* @include _bs-ee-navs.scss */

// CUSTOM OVERWRIDES AND ADDITIONS TO TSR
//**********************************
/* @include _icons-ee-styles */
/* @include _tsr-ee-typography.scss */
/* @include _tsr-ee-tacticalElements.scss */
/* @include _tsr-ee-communication-primary.scss */
/* @include _tsr-ee-buttonsAndLinks.scss */
/* @include _tsr-ee-sidemenu.scss */
/* @include _tsr-ee-product.scss */
/* @include _tsr-ee-product-list-front.scss */


// TEMPORARY HACKS, TO BE REMOVED
//**********************************

.container { // in mixins and variables removed padding on mobile
    max-width: 960px;
}
// WORK IN PROGRESS PARTS
//**********************************



// .nav-stacked {
//   @media (max-width: $screen-xs-max) {
//     border: 3px solid red;
//     > li {
     
//     }
//   }
// }

.nav-stacked.nav > li > a {
  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
  &:hover {
      @include media-max($screen-xs-max) {
      background-color: transparent;
      color: $link-color; 
      text-decoration: underline;
    }
  }
}




// Section footer
.tsr-section-footer .tsr-footer-links {
padding: 50px 10px 0;
}

.tsr-section-support header {
  font-weight: normal;
}
//GENERAL
// Image multiply
.multiply {
  position:relative;
  z-index:0;
}

.pildil6uend{
    position:absolute;
    display:inline;
    z-index:1;
    cursor:pointer;
    // left: 50%;
    // margin-left: -5em;
    left: 0;
    top: 0;
}



  // RWD


    @include media-min(320px) {


  } // min 320px




    @include media-min(600px) {


  } // min 600px



    @include media-min(768px) {


  } // min 768px




    @include media-min(940px) {

  } // min 940px


    @include media-min(1441px) {


  } // min 1441px


////// INTERNET EXPLORER 8


 @include old-ie {
  
  .ie8 &{

      }


    }// .ie8 & END
