// review
%section-bordered-white {
  border-top: 1px solid $lightgrey-t;
  border-bottom: 1px solid $lightgrey-t;
  background: #fff;
}

%section-bordered-gray {
  border-top: 1px solid $lightgrey-t;
  border-bottom: 1px solid $lightgrey-t;
  background: $lightgrey-c;
}

%section-next {
  margin-top: -1px;
}

%arrowbox {
  position: relative;
  border-bottom: 1px solid transparent;
  &:after,
  &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2;
  }
  &:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 15px;
    margin-left: -15px;
  }
  &:before {
    border-color: rgba(71, 82, 89, 0);
    border-width: 16px;
    margin-left: -16px;
  }
}

section.ee-reviewarea {
  margin-bottom: -21px;
    article {
    margin-top: -1px;
  }
}

.ee-reviewed-initial {
  @extend %section-bordered-white;
  .container {
  padding-top: 10px;
  @extend %arrowbox;
  &:after,
  &:before {
    left: 40px;
  }
  &:after {
    border-top-color: #fff;
    }
  &:before {
    border-top-color: $lightgrey-t;
    }
  }
  &:last-of-type .container {
    &:after,
    &:before {
      border: none;
    }
  }
}

.ee-reviewed-answer {
  @extend %section-bordered-gray;
  .container {
  padding-top: 10px;
  @extend %arrowbox;
  &:after,
  &:before {
    left: 40px;
  }
  &:after {
    border-top-color: $lightgrey-c;
    }
  &:before {
    border-top-color: $lightgrey-t;
    }
  }
  &:last-of-type .container {
    &:after,
    &:before {
      border: none;
    }
  }
}

.ee-review-body {
  position: relative;
  margin-bottom: 10px;
  .rating-input {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.ee-review-respond {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.ee-review-add,
.ee-review-answer-add {
  margin-bottom: 20px;

  .tsr-forms {
    .ee-input-aside {
      textarea {
        min-height: 92px;
      }
      input[type='text']:last-of-type {
        margin-top: 15px;
      }
    }
    // label {
    //   margin-top: 0;
    // }
    .ee-action-submit {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    .ee-captcha {
      .btn {
        font-size: 20px;
        margin: 0 15px;
      }
      input {
        display: inline;
        width: 120px;
      }
    }
  }
  .ee-sendreview {
  margin-top: 20px;
  }
}

.ee-review-answer-add {
  @extend %section-bordered-gray;
  margin-bottom: -1px;
}

.tsr-forms input[type='text'], 
.tsr-forms input[type='password'] {
  &:first-of-type {
    margin-top: 1px;
  }
}