.minimal-header {
   background: $lightgrey-c;
    .breadcrumb {
      padding-bottom: 0;
      width: 100%;
      padding-right: 0;
    }

  h1 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
        @include media-min($screen-sm) {
    margin-top: 20px;
    }
  }

}
.ee-comparebar {
  .navbar {
  border: none;
  margin-bottom: 5px;
  margin-top: 10px;
  }
  .navbar-right {
    float: right;
    text-align: right;
    margin-right: 10px;
    width: 65%;
    min-width: 375px;
    @include media-min($screen-sm) {
    margin-right: 0;
    width: auto;
    }
  }
  .navbar-left {
    width: 30%;
    @include media-min($screen-sm) {
    width: auto;
      }
  }
  ul {
    margin-bottom: 0;
    display: inline-block;
  }
  .list-inline {
    > li {
      padding-right: 0;
      vertical-align: middle;
      white-space: nowrap;
    }
  }
  span {
    display: inline-block;
    line-height: 0.5;
  }
  figure {
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid $lightgrey-t;
    height: 36px;
    width: 36px;
    overflow: hidden;
    position: relative;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      img {
        opacity: 0.5;
      }
      .close {
        opacity: 1;
      }
      .add {
        opacity: 1;
        text-decoration: none;
      }
    }

    img {
    padding: 2px;
    opacity: 1;
    }
  }
  .close {
    position: absolute;
    color: $purple-c;
    font-size: 30px;
    top: -10px;
    left: -1px;
    opacity: 0.6;
    padding: 10px;
  }

  .add {
    position: absolute;
    color: $purple-c;
    font-size: 25px;
    top: -5px;
    left: -5px;
    opacity: 0;
    padding: 10px;

  }
}

.navbar-inverse {
  .navbar-nav > li {
    &:hover {
      background: $purple-t;
    }
    // &.active a:hover {
    //     background: $purple-c;
    // }
  }
}

.ee-filterbar {
  .navbar-nav > li > a {
    line-height: 3;
    font-size: $font-size-base;
    font-weight: normal;
    .icon {
      margin-left: 10px;
    }
    .collapse.in {
      background-color: #fff;
    }
    .nav > li {
      display: inline-block;
    }
  }
  .tsr-forms label {
    margin: 10px 0;
  }

  .navbar-right {
    display: none;
    @include media-min($screen-sm) {
      display: block;
    } 
  }

  .navbar-text {
    line-height: 3;
    margin-bottom: 0;
    margin-top: 0;
    @include media-min($screen-sm) {
      margin-bottom: 10px;
      margin-top: 10px;
    } 
    &.navbar-right:last-child {
    margin-right: 20px;
    }
    a {
      color: #fff;
    }
  }
}

.ee-compare,
.ee-filterbar {
  ul {
    width: 100%;
    @include media-min($screen-sm) {
     width: auto;
     // display: inline;
    }
  } 
  ul,
  .navbar-text {
    padding-left: 10px;
    @include media-min($screen-sm) {
     padding-left: 0;
    }
  }
  .input-group {
    padding: 15px;
  }
}

.ee-filter-content {
    background: #fff;
    padding-bottom: 0;
    padding-right: 0;
      @include media-min($screen-sm) {
      padding-bottom: 20px;
      padding-right: 10px;
    }
    
    
    a:hover {
      text-decoration: none;
      cursor: pointer;
    }
    p {
      margin-top: 15px;
      margin-bottom: 5px;
      margin-left: 5px;
      font-size: 18px;
    }
    .badge {
      margin-left: 10px;
    }
    .nav-pills > li {
      margin-top: 5px;
      margin-left: 5px;
      a {
        font-weight: 500;
        font-size: 14px;
      }
    }
    .slider {
      margin: 10px;
    }
    .text-right {
      margin-right: 5px;
    }
    .nav > li > a:hover, .nav > li > a:focus {
    background-color: $purple-h;
    } 
    .inactive {
      background-color: #A4A5A6;
      border-color: #979899;
      &:hover {
      background-color: $purple-c;
      border-color: $purple-t;
      }
    }
}
