// look at detail-page.scss for more
.ee-accordion {
  background: #fff;
}

.ee-transportaccordion {
    border-top: 1px solid $lightgrey-t;
    margin-bottom: 0;
    border-bottom: none;
    .ee-accordion {
      [class*="col-"] {
        padding-left: 0;
      }
    }
  }

.ee-tab-to-accordion {
  background: $clay-temp;
  border-bottom: 1px solid $lightgrey-t;
  .panel-body {
    padding: 0;
    table {
      margin-bottom: 0;
      margin-top: -1px;
    }
  }
}

.collapsing{
  -moz-transition : height 1s;
  -webkit-transition : height 1s;
  -o-transition : height 1s;
  transition : height 1s; 
}

.ee-accordion,
.ee-tab-to-accordion {
  .panel-group .panel + .panel,
  &.panel-group .panel + .panel {
    margin-top: -1px;
  }

  .panel-default {
    border-radius: 0;
    margin-top: -1px;
    padding: 0;
    .panel-heading {
      a {
        text-decoration: none;
        &:hover,
        &:not(.collapsed) {
          background: #fff;
        }
      }
    }
  }
  .panel-title a,
  .panel-heading a {
    padding: 16px 30px 15px 15px;
    width: 100%;
    display: block;
    color: $purple-c;
    font-size: $font-size-base;
    &.collapsed:after {
    @extend %format-icon;
    content: "\e6de";
    float: right;
    line-height: 0.85;
    bottom: 35%;
    } 
    &:after {
      @extend %format-icon;
      content: "\e6e3";
      float: right;
      line-height: 0.85;
      position: absolute;
      right: 5px;
      bottom: 35%;
    }
  }
  .panel-heading.imaged a {
    &:after {
      bottom: 40%;
    }
    img {
      width: 50px;
    }
  }
  .panel-group {
    margin: 0;
  }
  .panel-heading {
    padding: 0;
  }
}

section.ee-tab-to-accordioncontent {
  border-top: none;
  background: white;
  margin-top: -1px;
  margin-bottom: 20px;
  display: none;
  @include media-min($screen-sm) {
    // border-top: 1px solid $lightgrey-t;
    margin-bottom: 20px;
    display: block;
  }
  .tsr-section-productAndService-listing {
    border-top: none;
  }
  .tab-content {
    margin: 30px auto;
  }
  .tab-pane {
    margin: 30px 0 10px;
    &.ee-similar-products {
      margin: 0;
      border-top: none;
      @include media-min($screen-sm) {
        margin: 30px 0 10px;
      }
    }
  }
}
