section.tsr-section-productlist  {


  .tsr-module-product {
    text-align: left;
    padding: em(15) em(5) em(20) em(5);
    width: 100%;
  .ee-flash-sm {
    position: relative;
    float: left;
    -webkit-border-radius: 1px;
    -ms-border-radius: 1px;
    border-radius: 1px;
    top: 0; 
    left: 0;
    right: auto;
    font-size: em(16);
    width: em(47);
    height: em(47);
    margin-left: -5px;
    margin-top: 0;
    z-index: 1;


    &:before {
    width: em(47);
    height: em(47);
    }
    //  .ee-small {
    //   font-size: 11px;
    //   padding: 2px 3px;
    // }
  }
    .tsr-product-image {
      margin-left: 5px;
      display: inline-block;
      @include media-min($screen-sm) {
      font-size: 150%;
      width: 25%;
      padding: 0 em(20) 0 em(10);
      } 
    }
    .tsr-product-colors {
      padding-top: 0;
    }
    .tsr-product-content {
      width: 100%;
      padding: 0 2%;
      @include media-min($screen-sm) {
      width: 65%;
      }
      @include media-min($screen-md) {
      width: 75%;
      }
    }
    .tsr-product-header {
      font-size: 110%;
      line-height: 1.1;
      @include media-min($screen-sm) {
      font-size: 145%;
      } 
      a {
        display: block;
        width: 95%;
      }
    }

    .hidden-sm {
      vertical-align: top;
      display: inline-block !important;
      width: 67%;
      @include media-min($screen-sm) {
      display: none !important;
      }
      & [class*="col-"] {
      padding-left: 0;
      }
    }
    .ee-linkicons  {
      font-size: 90%;
      margin: em(20) 0 em(25);
      @include media-min($screen-sm) {
      margin: em(20) 0 em(15);

      }
      & [class*="col-"] {
      padding-left: 0;
      }
      .hidden-xs .col-sm-5 a {
        text-indent: -30px;
      }
      .hidden-xs .ee-transport:before {
        padding-right: 0;
      }
    }
    .row.ee-actions {
      margin: 0 0 em(10);
      & > [class*="col-"] {
      padding-top: 10px;
      padding-left: 0;
      }
      span {
        line-height: 1.1;
      }
    }
    .ee-pricecol {
      margin-top: em(15);
      text-align: left;
      & ~ * {
        margin: 0;
        line-height: 0.5;
      }
      @include media-min($screen-xs) {
      text-align: right;
      padding-top: 0;
      margin-top: 0;
      } 
      .tsr-product-price {
        margin: 0;
      }
    }
    .ee-btn-buy {
      padding: 12px 12px;
      font-size: 13px;
    }
  }
}