// product-list-front

.ee-category-header  {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 32px;
    background: #fff;
    border-bottom: 1px solid $lightgrey-t;
    @include media-min($screen-sm) {
      margin: em(15) auto;
      text-align: center;
    } 
  }

.ee-product-list-front {
  .nav {
    padding: em(10) 0;
      @include media-min($screen-sm) {
        padding: em(15) 0; 
      } 
  }

  .nav-stacked.nav > li > a {
    text-align: left;
  @include media-min($screen-sm) {
    text-align: center;
  }
  &:hover {
    background-color: transparent;
    color: $link-color; 
    text-decoration: underline;
      @include media-min($screen-sm) {
      background-color: $purple-c;
      color: white; 
      text-decoration: none;
      }
    }
  }
  .tsr-btn-view-all {
    border-top: none;
    &:hover {
      background: transparent;
    }
  }
} 

.ee-product-badge {
  @extend .ee-badge;
  position: absolute;
  left: em(50);
  top: 10%;
  z-index: 3;
    @include media-min($screen-sm) {
    left: 70%;
    } // min 768px
  }

