// product-list-front

.ee-category-header  {
  display: block;
  margin: 0;
  padding: 10px;
  text-align: left;
  font-size: 32px;
  background: #fff;
  border-bottom: 1px solid $lightgrey-t;
  @include media-min($screen-sm) {
    text-align: center;
  } 
  @include media-min($screen-md) {
    margin: em(15) auto;
  } 
  small {
    margin-left: 10px;
  }
}

.ee-frontlinks {
  border-top: 1px solid $lightgrey-t;
  border-bottom: 1px solid $lightgrey-t;
  background: $lightgrey-c;
  text-align: center;
  height: auto;
  padding: 0;
  margin-bottom: -1px;
  @include media-min($screen-md) {
    border-top: none; 
  } 
  p.tsr-btn-view-all {
    margin: 0;
  }
  .row.collapse {
    margin-top: -20px;
  }
}

.ee-product-list-front {
  &.visible-sm {
    margin: 0 auto;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    .col-xs-12, .col-sm-6 {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .nav {
    padding: em(10) 0;
      @include media-min($screen-sm) {
        padding: em(15) 0; 
      } 
  }

  .nav-stacked.nav > li > a {
    text-align: left;
  @include media-min($screen-sm) {
    text-align: center;
  }
  &:hover {
    background-color: transparent;
    color: $link-color; 
    text-decoration: underline;
      @include media-min($screen-sm) {
      background-color: $purple-c;
      color: white; 
      text-decoration: none;
      }
    }
  }
} 

.tsr-section-promotion {
  border-top: none;
  @include media-min($screen-sm) {
  border-bottom: none;
  }
}

.tsr-module-promotion {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  border-bottom: 1px solid $lightgrey-t;
    &:hover,
    &:focus {
      background: $lightgrey-c;
        @include media-min($screen-md) {
        background: #fff;
        }
      }

.tsr-promotion-image .offer {
  mix-blend-mode: multiply;
}
  img.offer {
    width: auto;
    height: 257px;
    @include media-min($screen-sm) {
    height: 209px;
    }
    @include media-min($screen-md) {
    height: 169px;
    }
  }
  h6 {
    font-size: 22px;
    line-height: 1.256;
    padding: 12px 22px;
    color: $purple-c;
    }
  p {
    padding: 0 22px 30px;
    margin: 0;
    }
  .tsr-tactical-flash {
    right: 15px;
  }
}

// .ee-product-badge {
//   @extend .ee-badge;
//   position: absolute;
//   left: em(50);
//   top: 10%;
//   z-index: 3;
//   @include media-min($screen-sm) {
//   left: 70%;
//   } 
// }