.ee-views-compare {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ee-comparision {
  span {
    line-height: 1.8;
    text-align: right;
  }
}

.ee-comparision-boxes {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  float: right;
  display: inline-block;
  padding: 2px;
  background: transparent;
  border: 1px solid $lightgrey-t;
  min-height: 35px;
  min-width: 35px;
  margin-left: 6px;
}

.ee-filterbar {
  line-height: 3;
  .navbar-nav > li > a {
    font-size: 16px;
    font-weight: normal;
    .icon {
      margin-left: 10px;
    }
  }
  .navbar-text {
    &.navbar-right:last-child {
    margin-right: 20px;
    }
  }
}
