section.tsr-section-communictaion-primary {

    & .tsr-viewport {
      margin-bottom: 50px;
    }
    & .tsr-slides a {
      min-height: 160px;
      @include media-min($screen-sm) {
      margin-bottom: auto !important;
      } // min 600px
    }
    & .tsr-control-nav {
      @include media-min($screen-sm) {
      bottom: 7px;
      } // min 600px
    }
    & .tsr-tactical-textPanel {

      @include media-min($screen-sm) {
      max-width: 60%;
      }
      top: 160px;
      & header {
      font-weight: bold;
      }
      & span {
        font-size: 1em;
      }
      @include media-min($screen-sm) {
      top: auto;
      } // min 600px
    }
}