// product-list-front
.ee-product-list-front {

  & .ee-category-header  {
    display: block;
    margin: em(15) em(15);
    text-align: left;
    font-size: 32px;
    @include media-min($screen-sm) {
      margin: em(15) auto;
      text-align: center;
    } 
  }

  .nav {
    border-bottom: 1px solid $lightgrey-t;
    padding: em(10) 0;
      @include media-min($screen-sm) {
        border-bottom: none;
        padding: em(15) 0;
      } 
  }

  .nav-stacked.nav > li > a {
    text-align: left;
  @include media-min($screen-sm) {
    text-align: center;
  }
  &:hover {
    background-color: transparent;
    color: $link-color; 
    text-decoration: underline;
      @include media-min($screen-sm) {
      background-color: $purple-c;
      color: white; 
      text-decoration: none;
      }
    }
  }
} 

.ee-product-badge {
  @extend .ee-badge;
  position: absolute;
  left: em(50);
  top: 10%;
  z-index: 3;
    @include media-min($screen-sm) {
    left: 70%;
    } // min 768px
  }

