section.ee-product-detail {
  margin-bottom: 30px;
  .ee-comparebar.detail {
    min-height: 40px;
    margin-top: 10px;
    @include media-min($screen-md) {
      margin-top: -47px;
    }
  }
  h1 {
    line-height: 0.5;
    margin-bottom: 10px;
  }
  .fixedheight {
    min-height: auto;
    @include media-min($screen-md) {
      min-height: 550px;
    }
    @include media-min($screen-lg) {
      min-height: 600px;
    }
  }



  // .ee-detail-intro small{
  //   line-height: 26px;
  // }

  .ee-special-price {
    margin-top: 10px;
    font-size: 120%;
    font-weight: bold;
  }

  .tsr-product-price {
    margin-top: 20px;
  }

  .ee-actions {
    margin-top: 15px;
    .ee-btn-buy {
    // margin-bottom: 15px;
    text-align: center;
    }
    p {
      margin-top: 7px;
    }
    a {
      text-align: left;
      @include media-min($screen-sm) {
      text-align: center;
      }
    }
  }

  .ee-detailview { 
    text-align: left;
    position: relative;
    @include media-min($screen-md) {
      text-align: center;
    }
    .tsr-product-image {
      width: 100%;
      height: auto;
      text-align: center;
      margin-top: 20px;
      img {
      width: 100%;
      max-width: 450px;
      height: auto;
      }
    } 

    .tsr-tactical-flash { 
      right: 4%;
      top: 5%;
      left: auto;
      margin-top: 5px;
      &:first-of-type {
      top: 19%;
      }
      &:nth-of-type(2) {
        top: 34%;
      }
    }
  }

  .ee-linkicons {
    margin-top: 15px;
    line-height: 2.2;
    li {
      margin-right: 0;
      @include media-min($screen-md) {
        margin-right: 20px;
      }
    }
  }

  .flex-viewport .slides li img {
    padding: 0 em(35);
  }

  .flex-control-thumbs {
    padding: 20px 0;
    border-top: 1px solid $lightgrey-t;
    border-bottom: 1px solid $lightgrey-t;
    li {
      padding-right: 20px; 
      max-width: 160px;
    }
  }
}

.flexslider.ee-additional-image-lg {
  margin: 20px auto 60px;
  max-width: 500px;
}

.fluid-width-video-wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
}

section.ee-section-leasing {
  margin-bottom: 10px;
  & [class*="col-"]  {
    margin-top: 20px;
  }
  a {
    margin-top: 20px;
    display: block;
  }
  .ee-product-price-lg {
    line-height: 2;
  }
}

 .panel.ee-transportaccordion {
    border-top: 1px solid $lightgrey-t;
    margin-bottom: 0;
    border-bottom: none;
  }

.panel .collapsing{

    -moz-transition : height 2s;
    -webkit-transition : height 2s;
    -o-transition : height 2s;
    transition : height 2s; 
}

.ee-tab-to-accordion {
  .panel-body {
    padding: 0;
    table {
      margin-bottom: 0;
      margin-top: -1px;
    }
  }
}

.panel-group.bundle{
  margin-top: 21px;

  .tsr-forms label, .tsr-forms .label {
    margin: 0 20px 0 0;

  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

section.ee-tab-to-accordioncontent {
  border-top: none;
  background: white;
  margin-top: -1px;
  margin-bottom: 20px;
  display: none;
  @include media-min($screen-sm) {
    // border-top: 1px solid $lightgrey-t;
    margin-bottom: 20px;
    display: block;
  }
  .tsr-section-productAndService-listing {
    border-top: none;
  }
  .tab-content {
    margin: 30px auto;
  }
  .tab-pane {
    margin: 30px 0 10px;
    &.ee-similar-products {
      margin: 0;
      border-top: none;
      @include media-min($screen-sm) {
        margin: 30px 0 10px;
      }
    }
  }
}

.ee-justified-list {
  padding-left: 20px;
  > li {
  margin: 10px 0;
  }
}

.captcha * {
  display: inline-block;
  margin-right: 20px;
}

.socialcount .count {
      display: none;
      @include media-min($screen-md) {
      display: inline-block;
    }
}

.tsr-slides .tsr-module-product {
  padding: 20px 5px 25px;
}
