<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src='assets/js/vendor/html5.js'></script><![endif]-->

<!-- General handlebars -->
    <script src="assets/js/handlebars/hbs-mainnav.hbs"></script>

<!-- Global scripts -->
    <script src="assets/js/tsr-js/libs/jquery.debouncing.js"></script>
    <script src="assets/js/tsr-js/polyfills/matchMedia.js"></script>
    <script src="assets/js/tsr-js/polyfills/matchMedia.addListener.js"></script>
    <script src="assets/js/vendor/srcset.min.js"></script>
    <script src="assets/js/vendor/common.js"></script>
    <script src="assets/js/vendor/paintbrush.js"></script>
    <script src="assets/js/vendor/bigtext.js"></script>
    <script src="assets/js/tsr-js/tsr-productAndService-listing.js"></script> <!-- Equal Height-->
    <script src="assets/js/tsr-js/tsr-forms.js"></script>
<!--     // <script src="assets/js/scripts.js"></script> -->

<!-- Sliders scripts -->
    <script src="assets/js/tsr-js/libs/jquery.flexslider.js"></script>
    <script src="assets/js/ee-js/ee-carousel-listing.js"></script>


<!-- Header-footer-visamain -->
    <script src="assets/js/bootstrap-js/alert.js"></script>
    <script src="assets/js/bootstrap-js/button.js"></script>
    <script src="assets/js/bootstrap-js/dropdown.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/footer.js"></script>
<!--     // <script src="assets/js/main.js"></script> -->

<!-- 2nd-level -->
    <script src="assets/js/ee-js/ee-2nd-level.js"></script>

<!-- Detail view -->
    <script src="assets/js/bootstrap-js/collapse.js"></script>
    <script src="assets/js/bootstrap-js/transition.js"></script>
    <script src="assets/js/bootstrap-js/tab.js"></script>
    <script src="assets/js/bootstrap-js/tooltip.js"></script>
    <script src="assets/js/bootstrap-js/popover.js"></script>
    <script src="assets/js/vendor/froogaloop.js"></script>
    <script src="assets/js/vendor/jquery.fitvid.js"></script>
    <script src="assets/js/ee-js/ee-image-rotator.js"></script>
    <script src="assets/js/vendor/bootstrap-rating-input.js"></script>
    <script src="assets/js/vendor/socialcount.min.js"></script>
<!-- 
    // <script src="assets/js/tsr-js/tsr-core.js"></script> -->

<!-- Frontpage -->
    <script src="assets/js/tsr-js/tsr-communication-primary.js"></script>  <!-- Deps on flexslider -->
    <script src="assets/js/tsr-js/tsr-promotion.js"></script>
    <script src="assets/js/ee-js/hideMaxListItem.js"></script>

<!-- Frontpage-logged-in -->
    <script src="assets/js/tsr-js/tsr-filter.js"></script>
    <script src="assets/js/tsr-js/tsr-mediaTable.js"></script>
    <script src="assets/js/tsr-js/tsr-attention.js"></script>

<script>
$('[data-toggle="popover"]').popover();
$('body').on('click', function (e) {
  $('[data-toggle="popover"]').each(function () {
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          $(this).popover('hide');
      }
  });
});

$('.js-slidetoggle').click(function(e) {
  $(this).parents().next('.js-togglable').slideToggle('slow');
  e.preventDefault();
});

        $('.foo').bigtext({
            //minfontsize: 30
        });


</script>