<!-- Global scripts -->
<!--     // <script src="assets/js/tsr-js/libs/jquery.debouncing.js"></script>
    // <script src="assets/js/tsr-js/polyfills/matchMedia.js"></script>
    // <script src="assets/js/tsr-js/polyfills/matchMedia.addListener.js"></script>
    // <script src="assets/js/vendor/srcset.min.js"></script>
    // <script src="assets/js/vendor/common.js"></script>
    // <script src="assets/js/vendor/paintbrush.js"></script>
    // <script src="assets/js/tsr-js/tsr-productAndService-listing.js"></script> 
    // <script src="assets/js/tsr-js/tsr-forms.js"></script> -->

<!-- Sliders scripts -->
<!--     // <script src="assets/js/tsr-js/libs/jquery.flexslider.js"></script>
    // <script src="assets/js/ee-js/ee-carousel-listing.js"></script> -->


<!-- Header-footer-visamain -->
<!--     // <script src="assets/js/bootstrap-js/transition.js"></script>
    // <script src="assets/js/bootstrap-js/alert.js"></script>
    // <script src="assets/js/bootstrap-js/button.js"></script>
    // <script src="assets/js/bootstrap-js/dropdown.js"></script>
    // <script src="assets/js/visa/header.js"></script>
    // <script src="assets/js/visa/footer.js"></script>
    // <script src="assets/js/visa/main.js"></script> -->

<!-- 2nd-level -->

<!-- Detail view -->


<!--     // <script src="assets/js/bootstrap-js/collapse.js"></script>
    // <script src="assets/js/bootstrap-js/tab.js"></script>
    // <script src="assets/js/bootstrap-js/tooltip.js"></script>
    // <script src="assets/js/bootstrap-js/popover.js"></script>
    // <script src="assets/js/vendor/froogaloop.js"></script>
    // <script src="assets/js/vendor/jquery.fitvid.js"></script>
    // <script src="assets/js/ee-js/ee-image-rotator.js"></script>
    // <script src="assets/js/vendor/bootstrap-rating-input.js"></script>
    // <script src="assets/js/vendor/socialcount.min.js"></script> -->
<!-- 
    // <script src="assets/js/tsr-js/tsr-core.js"></script> -->

<!-- Frontpage -->
<!--     // <script src="assets/js/tsr-js/tsr-communication-primary.js"></script>
    // <script src="assets/js/tsr-js/tsr-promotion.js"></script>
    // <script src="assets/js/ee-js/ee-hideMaxListItem.js"></script>
    // <script src="assets/js/ee-js/ee-hideMaxAItem.js"></script> -->

<!-- Frontpage-logged-in -->
<!--     // <script src="assets/js/tsr-js/tsr-filter.js"></script>
    // <script src="assets/js/tsr-js/tsr-mediaTable.js"></script>
    // <script src="assets/js/tsr-js/tsr-attention.js"></script> -->