

<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src='assets/js/html5.js'></script><![endif]-->


   
    <!-- <script src="assets/js/handlebars/hbs-frontlist.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-products.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-product-list.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-product-boxes.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-phones-boxes.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-offers.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-menu.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-myproducts.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-product-detail.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-slider-detail.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-product-slider-visited.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-technical-table.hbs"></script> -->
<!--     // <script src="assets/js/handlebars/hbs-reviews.hbs"></script> -->
    <script src="assets/js/handlebars/hbs-mainnav.hbs"></script>
    <script src="assets/js/vendor/srcset.min.js"></script>
    <script src="assets/js/vendor/common.js"></script>
    <script src="assets/js/vendor/paintbrush.js"></script>
    <script src="assets/js/vendor/tabcordion.js"></script>
<!--     // <script src="assets/js/scripts.js"></script> -->

    <script src="assets/js/tsr-js/libs/jquery.flexslider.js"></script>
    <script src="assets/js/tsr-js/libs/jquery.debouncing.js"></script>
    <script src="assets/js/tsr-js/polyfills/matchMedia.js"></script>
    <script src="assets/js/tsr-js/polyfills/matchMedia.addListener.js"></script>

    <script src="assets/js/bootstrap-js/tab.js"></script>
    <script src="assets/js/bootstrap-js/transition.js"></script>
    <script src="assets/js/bootstrap-js/collapse.js"></script>
    <script src="assets/js/bootstrap-js/tooltip.js"></script>
    <script src="assets/js/bootstrap-js/popover.js"></script>

    <script src="assets/js/tsr-js/tsr-core.js"></script>
    <script src="assets/js/tsr-js/tsr-communication-primary.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/header.js"></script>
    <script src="assets/js/footer.js"></script>
    <script src="assets/js/main.js"></script>
<!--     // <script src="assets/js/tsr-js/tsr-header.js"></script>
    // <script src="assets/js/tsr-js/tsr-footer.js"></script> -->
    <script src="assets/js/tsr-js/tsr-carousel-listing.js"></script>
    <script src="assets/js/ee-js/ee-carousel-listing.js"></script>
<!--     // <script src="assets/js/ee-js/ee-frontpage-boxes-col.js"></script> -->
   <script src="assets/js/tsr-js/tsr-productAndService-listing.js"></script>

    <script src="assets/js/tsr-js/tsr-forms.js"></script>
    <script src="assets/js/tsr-js/tsr-filter.js"></script>
    <script src="assets/js/tsr-js/tsr-mediaTable.js"></script>
    <script src="assets/js/tsr-js/tsr-attention.js"></script>
    <script src="assets/js/tsr-js/tsr-promotion.js"></script>
    <script src="assets/js/ee-js/responsive-tabs.js"></script>

    <script src="assets/js/ee-js/froogaloop.js"></script>
    <script src="assets/js/ee-js/jquery.fitvid.js"></script>
    <script src="assets/js/ee-js/ee-image-rotator.js"></script>
    <script src="assets/js/ee-js/bootstrap-rating-input.js" type="text/javascript"></script>
    <script src="assets/js/ee-js/socialcount.min.js"></script>

<script>
$('[data-toggle="popover"]').popover();
$('body').on('click', function (e) {
  $('[data-toggle="popover"]').each(function () {
      if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
          $(this).popover('hide');
      }
  });
});

$('.js-slidetoggle').click(function(e) {
  $(this).parents().next('.js-togglable').slideToggle('slow');
  e.preventDefault();
});


$('.tabcordion').tabcordion();


</script>