<div class="panel-group ee-accordion-bundled" id="bundles">
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleOne">
    Tasuta kaasa Elion uue nutiTV pult S3 Samsungi telerile
  </a>
  <div id="bundleOne" class="panel-collapse collapse in tsr-forms">
    <div class="panel-body">
     <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/92974_33/200x200/pult_esikylg_01_1--1_300dpi%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="check-1"><input type="checkbox"  id="check-1" name="defaultCheck"></label>
          <h4 class="media-heading" style="display: inline-block;"> Elion uue nutiTV pult S3 Samsungi telerile</h4>
          
          <p>
            Pult on eelseadistatud juhtima Samsungi teleris olevat Elioni nutiTV rakendust. Pult on eelseadistatud juhtima Samsungi teleris olevat Elioni nutiTV rakendust. Pult on eelseadistatud juhtima Samsungi teleris olevat Elioni nutiTV rakendust.<br> Hind eraldi ostes <span class="ee-special-price"> 11€</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleTwo">
    Tasuta kaasa fotokaamerakott Fujifilm SC-XF1
  </a>
  <div id="bundleTwo" class="panel-collapse collapse in tsr-forms">
    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/75451_8/400x400/fujifilm-vutlar-sc-xf1-pruun-44337%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-1"><input type="radio"  id="radio-1" name="defaultRadio"></label>
          <h4 class="media-heading"> fotokaamerakott Fujifilm SC-XF1 pruun</h4>
          <p>
            Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. <br> Hind eraldi ostes <span class="ee-special-price">49€</span>
          </p>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/75439_7/200x200/fujifilm-vutlar-sc-xf1-must-44334%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-2"><input type="radio"  id="radio-2" name="defaultRadio"> </label>
          <h4 class="media-heading"> fotokaamerakott Fujifilm SC-XF1 must</h4>
          <p>
            Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott.
            <br>
            Hind eraldi ostes <span class="ee-special-price">49€</span>
          </p>

        </div>
      </div>
    </div>
  </div>
  <hr>
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleThree">
    Tasuta kaasa arvutikaitse 2 kuuks.
  </a>
  <div id="bundleThree" class="panel-collapse collapse tsr-forms">
    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/90103_14/200x200/Arvutikaitse%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-5"><input type="checkbox"  id="radio-5" name="defaultRadio"> </label>
          <h4 class="media-heading"> Elion Arvutikaitse</h4>
      <p>
        Arvutikaitse tarkvara kaitseb sinu arvutit viiruste, rämpsposti ja nuhkavara eest ning võimaldab piirata laste ligipääsu sobimatutele veebilehtedele. <br>
      </p>
        
        Pakume 2-kuulist tasuta prooviperioodi kõigile klientidele, kes varem pole meie arvutikaitse tarkvara kasutanud.
        <br>
        Arvutikaitse tarkvara töötab operatsioonisüsteemidega Microsoft Windows XP, Vista, Windows 7 ja Windows 8.
        <br> Edaspidi rakendub litsentsitasu <span class="ee-special-price">1.85 €</span> / kuus arvuti kohta
        </div>
      </div>
      
      

    </div>
  </div>
  <hr>
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleFour">
    Pakime tellitud kauba kingituseks ja anname kaasa head soovid.
  </a>
  <div id="bundleFour" class="panel-collapse collapse tsr-forms">
    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/97731_10/200x200/Elion%20kinkepakk.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-6"><input type="checkbox"  id="radio-6" name="defaultRadio"> </label>
          <h4 class="media-heading"> Elion Soovidega kinkepakk</h4>
          Kui soovid e-poest ostetud kauba oma sõbrale või pereliikmele kingituseks saata, saame selle sinu eest eelnevalt toredasse kinkepakki panna. Üllatus on garanteeritud!
          <br>
          Sooduskomplekti hind <span class="ee-special-price">52 €</span>
          <br>
          Sinu võit 0,6 €
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/97728_9/200x200/Elion%20kinkepakk%20Soovidega.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-6"><input type="checkbox"  id="radio-6" name="defaultRadio"> </label>
          <h4 class="media-heading"> Elion Soovidega kinkepakk</h4>
          Kui soovid e-poest ostetud kauba oma sõbrale või pereliikmele kingituseks saata, saame selle sinu eest eelnevalt toredasse kinkepakki panna. Üllatus on garanteeritud!
          <br>
          Sooduskomplekti hind <span class="ee-special-price">52 €</span>
          <br>
          Sinu võit 0,6 €
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>