<!-- <div class="col-xs-12 ">
  <h4>Tooted võrdluses:</h4>
  <a href="" class="btn btn-primary">Näita erinevusi</a>
  <a href="" class="btn btn-primary">Peida detailid</a>
  <a href="" class="btn btn-link ee-close">Tühjenda võrdlus</a>
</div> -->
<div id="content-placeholder-compare-data" class=""></div>
<script id="compare-data-template" type="text/x-handlebars-template">
  {{#comparision}}
  {{0}}
  <div class="panel-group ee-accordion" >
    <div class="panel panel-default table-responsive comparision-header" id="foo">
      <div class="panel-collapse" >
        
        {{#each prod}}
        <div class="col-xs-2 five-items col-md-2 col-md-offset-1">
          <figure><img class="img-responsive" src="{{img}}" alt=""></figure>
          <h6><a href="">{{product}}</a></h6>
          <a href="" class="btn btn-default ee-btn-buy"><span>Lisa ostukorvi</span></a>
          <a href="" class="btn btn-link ee-close" style="" name="" >Eemalda</a>
        </div>
        {{/each}}
      </div>
    </div>

    {{#each param}}
     <div class="panel panel-default comparision-content" >
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="collapsed" data-parent="#foo" href="#{{headingid}}">
            {{heading}}
          </a>
        </h4>
      </div>
    <div id="{{headingid}}" class="panel-collapse  in">
      <div class="col-xs-12">
        {{#each data}}
          <div class="row">
            <div class="col-xs-12 col-md-2 compare-title ">
            {{#if description}}
              <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="{{data.index}}" data-content=" {{description}} ">{{index}} <i class="icon icon-help"></i></a>
              {{else}}
              <p>{{index}}</p>
              {{/if}}
            </div>
            <div class=" col-xs-2 five-items">
              <p class="compare-value">{{{value}}}</p>
            </div>
            <div class=" col-xs-2 five-items">
              <p class="compare-value">{{{value1}}}</p>
            </div>
            <div class=" col-xs-2 five-items">
              <p class="compare-value">{{{value2}}}</p>
            </div>
            <div class=" col-xs-2 five-items">
              <p class="compare-value">{{{value3}}}</p>
            </div>
            <div class=" col-xs-2 five-items">
              <p class="compare-value">{{{value4}}}</p>
            </div>
          </div>
        {{/each}}
         
      </div>
    </div>
     </div>
     {{/each}}
     
   </div>
  {{/comparision}}
</script>



