<div class="panel collapse ee-transportaccordion" id="transport-{{id}}" data-parent="#{{id}}">
  <div class="panel-body">
    <h3>E-poest tellides </h3>
    <p> saad kauba kätte juba <strong>homme, 14.04.2014</strong> (kehtib kojutellimusele Tallinna piires).  </p>
      <p> Kojutellimuse hind kulleriga 3.50
        <br> Smartposti pakiautomaadiga hind 1.90 <br> Eesti posti pakiautomaadiga hind 2.90 <br>
          
      </p>

      <p>Võid ka ostule ise poodi järele minna. <br>
        Ostes e-poest saad kindel olla, et sinu soovitud toodet pole vahepeal ära ostetud. <br>Saadavust esindustes on viimati värskendatud 13.04.2014 kell 18:13:10 <br>
    </p>
    <h3>Tallinn</h3>
  </div>

  <div class="panel-group ee-accordion" id="{{id}}">
  <div class="panel-group ee-accordion" id="{{id}}">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="collapsed" data-parent="#{{id}}" href="#collapseOne">
            Endla 45, Harjumaa - Tallinn (Kristiine)
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-sm-5">
            <strong>Aadress:</strong>
            <p>Endla 45, Harjumaa, 10615, Tallinn - Tallinn (Kristiine) </p>
            <strong>Lahtiolekuajad </strong>
            <p>E-P: 10.00-21.00 </p>
            <p>
              <a href="">pood.kristiine@elion.ee</a>
            </p>

            <p>
              <a href="">Näita kaarti</a>
            </p>
          </div>
          <div class="col-sm-7">
            Valides kauba kätte saamise kohaks Kristiine keskuse Elioni poe, tuleb Teil arvesse võtta, et poes võib olla järjekord ning kohapeal võib minna oodatust rohkem aega. Mugavamalt saate tooted kätte tellides need kulleriga koju või kontorisse või valides kättesaamise kohaks pakiautomaadi.
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="collapsed" data-parent="#{{id}}" href="#collapseTwo">
            Paldiski mnt 102, Harjumaa - Tallinn (Rocca al Mare)
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="collapsed" data-parent="#{{id}}" href="#collapseThree">
            Suur-Sõjamäe 4, Harjumaa - Tallinn (Ülemiste)
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <h3>Uus linn</h3>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" class="collapsed" data-parent="#{{id}}" href="#collapseUus">
            Endla 45, Harjumaa - Tallinn (Kristiine)
          </a>
        </h4>
      </div>
      <div id="collapseUus" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="col-xs-5">
            <strong>Aadress:</strong>
            <p>Endla 45, Harjumaa, 10615, Tallinn - Tallinn (Kristiine) </p>
            <strong>Lahtiolekuajad </strong>
            <p>E-P: 10.00-21.00 </p>
            <p>
              <a href="">pood.kristiine@elion.ee</a>
            </p>

            <p>
              <a href="">Näita kaarti</a>
            </p>
          </div>
          <div class="col-xs-7">
            Valides kauba kätte saamise kohaks Kristiine keskuse Elioni poe, tuleb Teil arvesse võtta, et poes võib olla järjekord ning kohapeal võib minna oodatust rohkem aega. Mugavamalt saate tooted kätte tellides need kulleriga koju või kontorisse või valides kättesaamise kohaks pakiautomaadi.
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Tarnija</h3>
  <table class="table">
    <tbody>
      <tr>
        <td>Alfonso Suur</td>
        <td>Laoseis: 0</td>
        <td>Saabub lattu: 22.04.2015</td>
        <td>Kogus: 12</td>
      </tr>
      <tr>
        <td>Fafaa</td>
        <td>Laoseis: 8</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>