
/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
PRODUCT 
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Module
// 
// - - Internet explorer (fallback) 
//
// - - RWD
//

//////// Module class name



/////////////////////////////////////////////////////////////////////////////////////////////////////////
/* PRODUCT */
/////////////////////////////////////////////////////////////////////////////////////////////////////////

.tsr-module-product{

//////// Base styles 
	background:$lightgrey-c;
	border:1px solid $lightgrey-t;
	display:block;
	width:auto;
	margin:0px -1px -1px 0;
	padding:16px 20px 20px;
	font-size:$font-size-base;
	line-height:1.256;
	text-align:left;
	color:#333333;
	position:relative;

	.tsr-tactical-flash{
		display:none;
	}

	.tsr-product-header {
		font-size:22px;
		color:$purple-c;
		margin:5px 0 16px;
	}


	.tsr-product-image{
		display:inline-block;
		width:90px;
		height: auto;

    img{
			width:100%;
			height:auto;
		}

		}

		.tsr-product-content{
			padding-left: 88px;

	}


	.tsr-product-desc{
		margin:12px 0 0px;
	}

	.tsr-product-price{
		margin:12px 0 0;
		color:$blue-c;
		font-weight:bold;
	}

	.tsr-product-small-print{
		margin:0;
	}

//////// Hover 
	
	&:hover{
		background:$white;
		cursor:default;
		text-decoration:none;
		color:#333333;

		// Bottom border
		&:after{
			content:'';
			display:block;
			width:100%;
			height:4px;
			background:$purple-c;
			position:absolute;
			left:0;
			bottom:0px;
		}

	}
		
//////// Touch 

	.touch & {		
		
		&:hover,
		&:focus,
		&:active{
			background:$lightgrey-c;
			cursor:pointer;
			color:#333333;

			// Bottom border
			&:after{
				content:'';
				display:block;
				width:100%;
				height:4px;
				background:$purple-c;
				position:absolute;
				left:0;
				bottom:0px;
			}

		} 

	} // .touch END	

    @include media-min($screen-sm) {

    	padding:35px 20px 35px 20px;
    	text-align:center;

    	
		// Tactical 
		.tsr-tactical-ribbon{
			display:block;
			position:absolute;
			top:-10px;
			left:-10px;
		}

		.tsr-tactical-flash{
			display:table;
			position:absolute;
			// right:15%;

		// 	&.tsr-first{
		// 		top:70px;
		// 		&:before{
		// 			background:$blue-c;
		// 		}
		// 	}

		// 	&.tsr-second{
		// 		top:135px;
		// 		z-index:0;
		// 		&:before{
		// 			background:$purple-c;
		// 		}
		// 	}

		// 	&.tsr-tactical-round{
		// 		&.tsr-second{
		// 			top:140px;
		// 		}
		// 	}
		}

    	.tsr-product-image{
    		height:auto;
			width:100%;
			margin:0 auto 10px;
			max-width:150px;
			float:none;
			img{
				width:100%;
				height:auto;
			}
		}

		.tsr-product-header {
			margin-bottom:6px;
		}

		.tsr-product-colors{
			margin-top:14px;
			margin-left:0px;
		}

		.tsr-product-content{
			padding-left:0px;
		}

		.tsr-product-desc{
			margin:12px 0 12px;
		}

		.tsr-product-price{
			margin:12px 0 0;
		}



		//////// Other then phone

		&.tsr-product-other{

			padding:35px 10px 35px 10px;
		
	    	.tsr-product-image{
	    		height:auto;
				width:100%;
				max-width:220px;
			}

			.tsr-product-content{
				padding-left:0px;
			}


			.tsr-tactical-flash{

				right:5%;

				&.tsr-first{
					top:40px;
				}

				&.tsr-second{
					top:105px;

				}

				&.tsr-tactical-round{
					right:4%;
					&.tsr-first{
						top:30px;
					}
					&.tsr-second{
						top:98px;
					}
				}
			}


		} // tsr-tactical-other END


	} // min 768px









////// INTERNET EXPLORER 8


 @include old-ie {
 	
	.ie8 &{

		.tsr-tactical-flash{


			&.tsr-first{
				&:before{
					background:none;
					color:$blue-c;
				}
			}

			&.tsr-second{
				&:before{

					background:none;
					color:$purple-c;
				}
			}

		}

    }// .ie8 & END
	
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////
////// MODULE END

	
} // .product END








