//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 80%;

  > li {
    display: inline-block;

    + li:before {
      content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $breadcrumb-color;
    }
  }

  > .active a {
    color: $breadcrumb-active-color;
  }
}

section.ee-breadcrumbs {
  border-top: 1px solid $lightgrey-t;
  border-bottom: 1px solid $lightgrey-t;
  background: $lightgrey-c;
  width: 100%;
}
