/// COMPARE
// **************

.ee-product-compare {
  .close {
    font-size: 24px;
    margin: 10px 10px 0 0;
  }

  .img-responsive { 
    margin: 0 auto;
    max-width: 135px;
  }
  
  // .ee-btn-buy {
  //   padding: 6px 12px;
  //   @include media-min($screen-md) {
  //     padding: 12px 16px;
  //     } 
  //   span {
  //   display: none;
  //     @include media-min($screen-md) {
  //     display: inline-block;
  //     } 
  //   }
  // }

  .tsr-direction-nav a  {
  top: 50%;
  position: fixed;
    @include media-min($screen-md) {
      display: none;
    }
  }

  .panel {
    border: none;
  }

  .panel-group .panel-heading {
    border-top: 1px solid $lightgrey-t;
  }

  .ee-special-price {
    font-weight: bold;
    font-size: 110%;
  }

  .comparision-header {
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: #fff;
    margin: 0 auto;
    z-index: 5;
    padding-bottom: 10px;
    border-bottom: 1px solid $lightgrey-t;
    &.sticky {
      border-bottom: 4px solid $purple-c;
      position: fixed;
      top: 0; 
      left: auto;
      img,
      .ee-buy, 
      .close {
        display: none;
      }
    }
  }

  p.compare-value {
      padding-top: 10px; 
  }

  .compare-title {
    background: $lightgrey-c;
    border-top: 1px solid $lightgrey-t;
    font-size: 110%;
    text-align: center;
    line-height: 3;
    white-space: nowrap;
    @include media-min($screen-sm) {
      background: none;
      text-align: left;
    } 
  } 

  .ee-count-5 {
    width: 50%;
    position: relative;
    border-top: 1px solid $lightgrey-t;
    @include media-min($screen-sm) {
      width: 20%;
    }

  }

  // .ee-count-4 {
  //   width: 180px;
  //   min-width: 150px;
  //   position: relative;
  //   border-top: 1px solid $lightgrey-t;
  //   @include media-min($screen-md) {
  //     width: 20%;
  //   } 
  // }

  // .comparision-header .panel-collapse {
  //   width: auto;
  //   overflow-y: hidden;
  //   height: 200px;
  // }

  .js-datawrapper {
    overflow: hidden;
    position: relative;
  }

  .fixwidth {
    width:300%;
    text-align: center;
    // @include media-max($screen-sm) {
    // width: 100%;
    
    // } 
    @include media-min($screen-md) {
      text-align: left;
      width: 100%;
    } 
  }

}

// end Compare