/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TYPOGRAPHY
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Base
// - - Headings
// - - Text formatting
//
//
// - - RWD
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// Module class name



$browser-context: 15.5; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h4 {
  font-weight: normal;
}

h1 {
  letter-spacing: 0.00021em;
}
h2 {
  letter-spacing: 0.00038em;
}
h3 {
  letter-spacing: 0.00011em;
}

h5, h6 {
 font-weight: normal;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none; 
  color:$purple-c;
}

h1 small {
  font-size: 22px;
}

.gray-text {
  color: $darkgrey-h;
}

.green-text {
  color: $turquoise-c;
}

.pink-text {
  color: $pink-c;
}

.violet-text {
  color: $purple-c;
}

body {
  font-size: em(15);
   -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}











