.ee-sidenav {
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  margin: 0;
  ul { 
    padding-left: 0; 
    list-style-type: none; 
  }
  h6 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    word-wrap:break-word;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  & > li h6:hover:after {
    font-family: 'tsr-icons-all';
    content: "\e668";
    font-size: em(18);
    float: right;
  }

  .ee-sidenav-sub {
    a {
      padding-left: 30px;
    }
  }
  li  a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 5px 14px;
    border-bottom: 1px solid $gray;

    &:hover {
      color: white;
      background: $brand-primary;
      border-radius: $border-radius-base;
    }
  }

// change to whatever is your active state menu element name
  .selected a{
    color: white;
    background: $link-hover-color;
    border-radius: $border-radius-base;
    h6:after {
    font-family: 'tsr-icons-all';
    content: "\e668";
    font-size: em(18);
    float: right;
    padding: 5px;
    color: #fff;
   }
  }
  .selected-arrow-down a {
    color: #fff;
    background: $link-hover-color;
    border-radius: $border-radius-base;
    h6:after {
    font-family: 'tsr-icons-all';
    content: "\e669";
    font-size: em(18);
    float: right;
    padding: 5px;
    color: #fff;
   }
  }
  .selected-arrow-up a{
    color: #fff;
    background: $link-hover-color;
    border-radius: $border-radius-base;
    h6:after {
    font-family: 'tsr-icons-all';
    content: "\e66b";
    font-size: em(18);
    float: right;
    padding: 5px;
    color: #fff;
   }
  }
}

