.tsr-btn.tsr-btn-100 {
  width: 100%;
}

.tsr-btn-view-all {
  text-align: left;
  @include media-min($screen-sm) {
  text-align: center;
  }
  span{
    background:none;  
    display: block;
    border:none;
    color:$purple-c;
    font-size:15px;
    margin: 0;
    padding: 20px 0;
    font-weight: normal;
    &:hover{
      background:none;
      text-decoration: underline;
    }
  }
}

.tsr-btn {
  font-weight: 500;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.ee-btn-buy {
  font-size: em(16);
  width: 100%;
  font-weight: 500;
  padding: 12px inherit;
  vertical-align: bottom;
  .icon {
    vertical-align: middle; 
    font-size: 120%;
    padding-right: 5px; 
  }
}

// link button with violet background hover
.ee-btn-link {
background: transparent;
border-bottom: 4px solid transparent;
color: $purple-c;
font-size: 1.1em;
font-weight: normal;
margin: 0 10px;
width: 90%;
padding: 8px 0;
text-align: left;

&:hover {
  background: $lightgrey-c;
  border-bottom: 4px solid $lightgrey-c;
  color: $purple-c;
}
&:active {
  background: transparent !important;
  border-bottom: 4px solid transparent !important;
  color: $purple-c;
 }

  @include media-min($screen-sm-min) {
  padding: 12px 10%; 
  text-align: center;
  font-size: 1em;
  width: 100%;
  margin: 0;
  &:hover {
    background:$purple-h;
    border-bottom:4px solid $purple-c;
    color: white;
    font-weight: 600;
   }
  &:active {
    background:$purple-t;
    border-bottom:4px solid $purple-t;
    color: white;
    font-weight: 600;
    }
  } // min 768px
}

// Icon with violet background active-hover
.ee-iconbutton  {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  float: left;
  display: inline-block;
  font-size: 13px;
  padding: 4px 4px 4px 8px;
  background: transparent;
  & + .ee-iconbutton {
    margin-left: 6px;
  }
  &:hover {
    background: $purple-c;
    color: #fff;
    text-decoration: none;
  }
  &:active, &.current {
    background: $purple-t;
    color: #fff;
  }
}

%format-icon {
  // font-family: 'elion-ikoonid';
  font-family: 'tsr-icons-all';
  font-size: em(24);
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  color: $purple-c;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

%format-icon-negative {
  // font-family: 'elion-ikoonid';
  font-family: 'tsr-icons-all';
  font-size: em(16);
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}

.ee-list {
  &:before {
  @extend %format-icon;
  color: inherit;
  content: "\e6e5";
  }
}

.ee-block {
  &:before {
  @extend %format-icon;
  color: inherit;
  content: "\e6e7";
  }
}

.ee-plus-round {
  &:before {
  @extend %format-icon;
  content: "\e6de";
  }
  &:hover:before {
    color: $purple-h;
  }
}

.ee-minus-round {
  &:before {
  @extend %format-icon;
  content: "\e6e3";
  }
  &:hover:before {
    color: $purple-h;
  }
}

.ee-favorite {
  &:before {
    @extend %format-icon;
    content: "\e6ec";
    -webkit-transition: content 0.3s ease-in-out;
  -moz-transition: content 0.3s ease-in-out;
  -o-transition: content 0.3s ease-in-out;
  transition: content 0.3s ease-in-out;
  }
  &:hover:before {
    content: "\e6ed";
    color: $purple-h;
  }
}

.ee-compare {
  &:before {
  @extend %format-icon;
  content: "\e6d1";
  }
  &:hover:before {
    color: $purple-h;
  }
}

.ee-comments {
 &:before {
  @extend %format-icon;
  content: "\e6f3";
  }
  &:hover:before {
    color: $purple-h;
  }
}

.ee-transport {
  &:before {
  @extend %format-icon;
  content: "\e6d4";
  }
  &:hover:before {
    color: $purple-h;
  }
}

// .icon-search {
//   &:before {
//   @extend %format-icon;
//   content: "\e61f";
//   }
//   &:hover:before {
//     color: $purple-h;
//   }
// }

.icon-facebook-inverse {
  &:before {
  @extend %format-icon-negative;
  content: "\e002";
  color: #fff;
  }
}

.icon-twitter-inverse {
  &:before {
  @extend %format-icon-negative;
  content: "\e001";
  color: #fff;
  }
}

.icon-googleplus-inverse {
  &:before {
  @extend %format-icon-negative;
  content: "\e66d";
  color: #fff;
  }
}