
//Color switch
.tsr-product-colors {
  position: relative;
  width: 160px;
  text-align: left;
}
ul.tsr-product-colors {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0;
  display: inline-block;
    li {
    list-style-type: none;
    display: block;
    @include border-radius(22px);
    height: 22px;
    width: 22px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;

    // &[class*="acc-"]{
      &[class*="accent"]{
        border:3px solid $lightgrey-c;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        -ms-box-shadow:   none;
        -o-box-shadow:    none;
        box-shadow:         none;
        &:hover,
        &.active,
        &.active:hover,
        &.active:active{
          border:3px solid white;
          -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .4);
          -moz-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          -ms-box-shadow:   0px 0px 0px 1px rgba(0, 0, 0, .4);
          -o-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          box-shadow:         0px 0px 0px 1px rgba(0, 0, 0, .4);
        &:hover, 
        &.active:hover {
          opacity: 0.8;
        }
      } // &.active END   
    } // acc- END
  }
  .must{
  background: black
  }
  .valge {
    background: white;
  }
  .valge:before {
    content: "";
    display: block;
    border: solid 1px $lightgrey-t;
    @include border-radius(18px);
    height: 18px;
    width: 18px;
    margin-top: -1px;
    margin-left: -1px;
    z-index: 10;
  }
  .hall {
    background: gray;
  }
  .punane {
    background: #983338;
  }
  .roheline {
    background: #489833;
  }
  .sinine {
    background: #24426c;
  }
  .kollane {
    background: yellow;
  }
}