.ee-sidenav {
  padding: 0;
  list-style-type: none;
  text-align: left;
  font-size: 16px;
  margin: 0;
    h6 {
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      word-wrap:break-word;
    }
  .collapse.in {
    & > li:hover h6:after {
    font-family: 'tsr-icons-all';
    content: "\e668";
    font-size: em(18);
    float: right;
    color: #fff;
   }
    a {
      margin-left: 30px;
    }
  }
  & > li:hover h6:after {
    font-family: 'tsr-icons-all';
    content: "\e668";
    font-size: em(18);
    float: right;
   }

  &>li:hover .collapsible h6:after {
    font-family: 'tsr-icons-all';
    content: "\e66b";
    font-size: em(18);
    float: right;
   }

  & > li:hover .collapsible.collapsed h6:after {
    font-family: 'tsr-icons-all';
    content: "\e669";
    font-size: em(18);
    float: right;
   }

  & > li:hover .ee-sidenav-sub li h6:after {
    content: " ";
  }

    li  a {
    display: block;
    text-decoration: none;
    padding: 5px 14px;
    border-bottom: 1px solid $gray;

    &:hover {
      color: white;
      background: $brand-primary;
      border-radius: $border-radius-base;
    }
  }
  ul { 
    padding-left: 0; 
    list-style-type: none; 
  }

// change to whatever is your active state menu element name
  .selected {
    color: white;
    background: $link-hover-color;
    border-radius: $border-radius-base;
    h6:after {
    font-family: 'tsr-icons-all';
    content: "\e668";
    font-size: em(18);
    float: right;
    color: #fff;
   }
  }
}

