// Jaanus wants additional space in front of ad
.megamenu img {
  margin-top: 10px;
}

header .navbar-default {
  margin-bottom: -1px;
}

.topnav.navbar, .ee-adminnav.navbar {
  margin-bottom: 0;
}

.dropdown .icon-arrow-down {
  padding-right: 10px;
}

.navbar-inverse .navbar-nav .dropdown-menu { 
min-width: 100%;
  }

.topnav .dropdown-menu li {
  a {
  font-size: 13px;
  }
}

.user-droplayer.megamenu.with-advertising { 
  padding: 0;
  margin-top: -10px;
  .col-sm-9 {
  padding-left: 0;
  }
  .col-sm-3 {
    margin-top: 30px;
  }
}

.navbar-inverse .user-menu.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 15px;

}

.navbar-inverse .user-menu.navbar-nav > li > a:hover {
  background: $link-hover-color;
}

.navbar-nav.nav-justified {
    display:table;
}

.navbar-nav.nav-justified > li{
    float:none;
    width:auto;
}


.loginIframeBody {
 background-color: #652d86;
 color: white;
}

#adminLoginIframe {
 height: 100%; 
 width: 87%;
 border: 0;
 margin-left: auto;
 margin-right: auto;
 display: block;
}

// Autocomplete

.container.collapsibleMainMenu-Search {
  background-color: $brand-primary;
  z-index: 2;
  .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .btn-default {
    margin-top: 0;
    @include media-min($screen-sm-min) {
    padding-right: 10px;
    } 
  }
}
.headerSearchResultWrapper {
  position: absolute;
  width: 100%;
  z-index: 4;
  @include media-min($screen-sm-min) {
    padding-right: 30px;
  } 
  .list-group-item {
    background: #fff;
    display: block;
    padding: 0;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    &:first-child {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .search-item-title {
      overflow: hidden;
      zoom: 1;
      position: absolute;
      top: 20px;
      line-height: 1.2;
      color: $purple-c;
      font-size: $font-size-h6;
      -webkit-transition: color 0.3s ease-in-out;
      -moz-transition: color 0.3s ease-in-out;
      -o-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out;
    }
    &.active, &:hover {
      border-color: $lightgrey-t;
    }
    &.active .search-item-title, &:hover .search-item-title {
    color: #fff;
    } 
  }
}

header .megamenu .search-item-image,  
.search-item-image {
  display: inline-block;
  padding: 5px;
  background: #fff;
  position: relative;
  margin-right: 25px;
    img {
      width: 48px;
      height: 48px;
    }
  &:after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -2.8em;   
  border-top: 2.8em solid transparent;
  border-bottom: 2.8em solid transparent;
  border-left: 1em solid #fff;
  right: -0.9em;
  }
}

.search-advanced {
  display: block;
  background: #fff;
  padding: 15px 20px;
  border-bottom-right-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
  text-align: center;
  border-bottom: 1px solid $lightgrey-t;
  border-right: 1px solid $lightgrey-t;
  border-left: 1px solid $lightgrey-t;
}

.admin.dropdown-menu .form-horizontal {
  margin-bottom: 15px;
  margin-top: 15px;
}
