
<!--[if lt IE 6]>

    <link rel="stylesheet" type="text/css" href="assets/tsr-ieSplash/tsr-ieSplash.css" />
        <script type="text/javascript">
          document.write("<div class='msie-7-splash'><div class='content'><h6>Your browser is to old!</h6><p> We recommend you to upgrade or use the tablet/phablet or mobile phone next to you.</p><a href='https://www.google.com/intl/en/chrome/browser/' class='ch browser' target='_blank'>Chrome</a><a href='http://www.mozilla.org/sv-SE/firefox/fx/' class='ff  browser' target='_blank'>Firefox</a><a href='http://www.apple.com/safari/' class='sa browser' target='_blank'>Safari</a><a href='http://windows.microsoft.com/sv-SE/internet-explorer/download-ie' class='ex browser' target='_blank'>Explorer</a></div></div>");    
        </script>

<![endif]-->
<script type='text/javascript' src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        <!-- less than ie9 -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" scr="assets/js/vendor/css3-mediaqueries.min.js"></script>
        <![endif]-->
        <!-- / end -->