section.tsr-section-productAndService-listing {
  padding: 0;
  margin-top: -1px;
    .ee-compare {
    margin: 15px auto;
    display: block;
  }
}

.tsr-section-divider {
  margin-top: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

// PRICES
//*********
.tsr-product-price {
  color: $text-color;
  font-weight: normal;
  margin: 0;
  @include media-min($screen-sm-min) {
    margin: 12px 0 0;
  } 
  span {
    font-weight: 600;
    color: $blue-c;
    font-size: 120%;
  }
}
.ee-special-price {
  color: $blue-c;
}

.ee-product-price-lg {
  @extend .ee-special-price;
  font-size: 150%;
  font-weight: 600;
}
/// !!!! Remove when sure we will not have paging
// PAGINATION
//*********
.ee-pagination-holder {
  padding: 23px 0;
  .col-sm-4 {
    padding: em(6);
  } 
  .tsr-pagination {
    float: right;
    a {
      background: transparent;
      &:hover {
        background: $purple-c;
        color: white;
        text-decoration: none;
      }
    }
    a.tsr-active {
      background: $purple-t;
      font-size: 115%;
      line-height: 115%;
    }
  }
}

// PRODUCT BOXES
// *******************
// rule to handle product boxes layout
.container.product, .container .product {
  padding-right: 0;
  padding-left: 0;
  & [class*="col-"] {
  margin: 0 -1px 0 0;
  padding: 0;
  }
}

.ee-product-boxes {
  & section.tsr-section-productAndService-listing {
    background: transparent;
    border: none;
    margin-top: -35px;
  }
}
  // Multiply with overlapping images
  .original {
    position:relative;
    z-index:0;
    display: block;
  }

  .multiply{
    display: block;
    position:relative;
    z-index:0;
    cursor:pointer;
    left: 0;
    margin-top: -100%;
    outline: 2px solid $lightgrey-c;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    // @include media-min($screen-md) {
    //   margin-top: -100%;
    // } 
  }

// product module general, removed float
.tsr-module-product { 
  color: $text-color;
  width: 100%;
  padding: em(15) em(5) em(20) em(15);
  float: none;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  @include media-min($screen-sm) {
  padding: em(35) em(20) em(10) em(20);
  } 

  .ee-favorite-dropdown {
    position: absolute;
    right: em(10);
    left: auto;
    top: em(10);
    z-index: 1;
    @include media-min($screen-xs) {
    right: em(5);
    } 
    &.open {
      z-index: 4;
    }
    .dropdown-menu {
      text-align: left;
    }
  }


  .tsr-product-header {
    font-size: 105%;
    margin: em(10) 0 em(5);
    padding-right: 15%;
    @include media-min($screen-sm-min) {
    font-size: 120%;
    padding-right: 0;
    } 
  }

  .tsr-product-content {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    padding-left: 4%;
    @include media-min($screen-sm) {
      margin: auto;
      width: 100%;
      padding-left: 0;
    }
  }
  &:hover {
    .multiply {
      opacity: 0;
    }
  }
  // stripe under slow hover effect
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }
  .tsr-product-image {
    position: relative;
    height: auto;
    width: 110px;
    max-width: 25%;
    display: inline-block;
    float: none;
    @include media-min($screen-sm) {
      width: 100%;
      max-width: 220px;
      height: auto;
      padding: 0 em(20);
    } 
    .dropdown-menu img {
    width: auto;
    }
  }


  // Wrapped to overwrite tsr, needs to be repeated for general use
  .tsr-product-price {
    color: $text-color;
    font-weight: normal;
    margin: 0;
    @include media-min($screen-sm-min) {
      margin: 12px 0 0;
    } 
    span {
      font-weight: 600;
      color: $blue-c;
      font-size: 120%;
    }
  }
  .ee-special-price {
    color: $blue-c;
  }

  .ee-product-price-lg {
    @extend .ee-special-price;
    font-size: 150%;
  }
}

//Color switch
.tsr-product-colors {
  position: relative;
  width: 160px;
  text-align: left;
}
ul.tsr-product-colors {
  margin-top: 0px;
  margin-left: 0px;
  padding: 0;
  display: inline-block;
    li {
    list-style-type: none;
    display: block;
    @include border-radius(22px);
    height: 22px;
    width: 22px;
    float: left;
    margin: 0 5px;
    cursor: pointer;
    padding: 0;

    // &[class*="acc-"]{
      &[class*="accent"]{
        border:3px solid $lightgrey-c;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        -ms-box-shadow:   none;
        -o-box-shadow:    none;
        box-shadow:         none;
        &:hover,
        &.active,
        &.active:hover,
        &.active:active{
          border:3px solid white;
          -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .4);
          -moz-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          -ms-box-shadow:   0px 0px 0px 1px rgba(0, 0, 0, .4);
          -o-box-shadow:    0px 0px 0px 1px rgba(0, 0, 0, .4);
          box-shadow:         0px 0px 0px 1px rgba(0, 0, 0, .4);
        &:hover, 
        &.active:hover {
          opacity: 0.8;
        }
      } // &.active END   
    } // acc- END
  }
  .must{
  background: black
  }
  .valge {
    background: white;
  }
  .valge:before {
    content: "";
    display: block;
    border: solid 1px $lightgrey-t;
    @include border-radius(18px);
    height: 18px;
    width: 18px;
    margin-top: -1px;
    margin-left: -1px;
    z-index: 10;
  }
  .hall {
    background: gray;
  }
  .punane {
    background: #983338;
  }
  .roheline {
    background: #489833;
  }
  .sinine {
    background: #24426c;
  }
  .kollane {
    background: yellow;
  }
}