section.tsr-section-productAndService-listing {
  padding: 0;
  margin-top: -1px;

    .ee-compare {
    margin-right: 15px;
    display: inline-block;
    @include media-min($screen-sm) {
      margin: 15px auto;
      margin-right: 15px;
    }  
  }

  .tsr-tactical-flash {
    right: 20px;
  }


}

.tsr-product-image { 
  mix-blend-mode: multiply;
  position: relative;
  height: auto;
  width: 110px;
  max-width: 25%;
  display: inline-block;
  float: none;
  margin-right: 5px;
  @include media-min($screen-sm) {
    width: 100%;
    max-width: 220px;
    height: auto;
    padding: 0 em(20);
  } 
  .dropdown-menu img {
  width: auto;
  }
}
// PRICES
//*********
.tsr-product-price {
  color: $text-color;
  font-weight: normal;
  margin: 0;
  @include media-min($screen-sm) {
    margin: 12px 0 0;
  } 
  span {
    font-weight: bold;
    color: $blue-c;
    font-size: 120%;
  }
}
.ee-special-price {
  color: $blue-c;
  font-weight: bold;
}

.ee-product-price-lg {
  @extend .ee-special-price;
  font-size: 150%;
}

.ee-product-price-md {
  @extend .ee-special-price;
  font-size: 130%;
}

/// !!!! Remove when sure we will not have paging
// PAGINATION
//*********
.ee-pagination-holder {
  padding: 23px 0;
  .col-sm-4 {
    padding: em(6);
  } 
  .tsr-pagination {
    float: right;
    a {
      background: transparent;
      &:hover {
        background: $purple-c;
        color: white;
        text-decoration: none;
      }
    }
    a.tsr-active {
      background: $purple-t;
      font-size: 115%;
      line-height: 115%;
    }
  }
}

// PRODUCT BOXES
// *******************
// rule to handle product boxes layout
.container.ee-nogap, .container .ee-nogap {
  padding-right: 0;
  padding-left: 0;
  & [class*="col-"] {
  margin: 0 -1px 0 0;
  padding: 0;
  }
}

.ee-product-boxes {
  & section.tsr-section-productAndService-listing {
    background: transparent;
    border: none;
  }
}
  // Multiply with overlapping images
  // .original {
  //   position:relative;
  //   z-index:0;
  //   display: block;
  // }

  // .multiply{
  //   display: block;
  //   position:relative;
  //   z-index:0;
  //   cursor:pointer;
  //   left: 0;
  //   margin-top: -100%;
  //   outline: 2px solid $lightgrey-c;
  //   -webkit-transition: opacity 0.3s ease-in-out;
  //   -moz-transition: opacity 0.3s ease-in-out;
  //   -o-transition: opacity 0.3s ease-in-out;
  //   transition: opacity 0.3s ease-in-out;
  // }

// product module general, removed float
.tsr-module-product { 
  color: $text-color;
  width: 100%;
  padding: em(15) em(5) em(20) em(15);
  float: none;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  @include media-min($screen-sm) {
  padding: em(15) em(20) em(10) em(20);
  display: table; // temp for v-aligning headers
}

  .ee-favorite-dropdown {
    position: absolute;
    right: em(10);
    left: auto;
    top: em(10);
    z-index: 1;
    @include media-min($screen-xs) {
    right: em(5);
    } 
    &.open {
      z-index: 4;
    }
    .dropdown-menu {
      text-align: left;
    }
  }


  .tsr-product-header {
    font-size: $font-size-h6;
    margin: em(10) 0 em(5);
    padding-right: 15%;
    @include media-min($screen-sm-min) {
    font-size: 120%;
    padding-right: 0;
    display: table-cell; // temp for v-aligning headers
    vertical-align: middle; // temp for v-aligning headers
    } 
  }

  .tsr-product-content {
    width: 66%;
    display: inline-block;
    vertical-align: top;
    padding-left: 4%;
    @include media-min($screen-sm) {
      margin: auto;
      width: 100%;
      padding-left: 0;
    }
  }
  &:hover {
    .multiply {
      opacity: 0;
    }
  }
  // stripe under slow hover effect
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }


  // Wrapped to overwrite tsr, needs to be repeated for general use
  .tsr-product-price {
    color: $text-color;
    font-weight: normal;
    margin: 0;
    @include media-min($screen-sm-min) {
      margin: 12px 0 0;
    } 
    span {
      font-weight: bold;
      color: $blue-c;
      font-size: 120%;
    }
  }
  .ee-special-price {
    color: $blue-c;
  }

  .ee-product-price-lg {
    @extend .ee-special-price;
    font-size: 150%;
  }
}
