//lower-product-slider-frontpage
section.ee-productslider-intro {
  margin: em(10) auto;
    @include media-min($screen-sm) {
    text-align: center;
  } 
}

section.tsr-section-carousel-listing.tsr-slider-init {
  background: $lightgrey-c;
  border-top: 1px solid $lightgrey-t;
  margin-top: -1px;
  margin-bottom: 0;
  overflow: visible;
  padding-bottom: 1px;
  .container {
    margin-bottom: 0;
    margin-top: -20px;
    padding-top: 10px;
    margin-bottom: 9px;
  }
  .tsr-slides {
    background: transparent;
    margin: -1px 0 -63px 0;
    padding: 0;
    border-bottom: none;
  }
}

.tsr-section-carousel-listing {
  .tsr-slides {
    padding: 0;
    a {
      float: left;
    }
  }
  .tsr-viewport {
    padding-top: 10px;
    margin-top: 0;
    border-bottom: none;
  }
}

.tsr-section-divider.tsr-color-purple {
  z-index: 0;
}

.ee-special-price span {
  font-size: 120%;
  font-weight: bold;
}
