

<div class="alert alert-info" id="your-uniq-ID-122">
        <div class="container">
            <span class="icon icon-info"></span>
            <a href="#">
                <strong>Kood:</strong>
                <span>23423hjklh345kj34h34kj534h3kj</span>
                <span class="read-more" href="#">
                    Kopeeri
                </span>
            </a>
            <a href="javascript:$('#your-uniq-ID-122').alert('close');void(0);" class="icon icon-delete close-btn"></a>
        </div>
    </div>