<div class="alert full-size alert-success" id="your-uniq-ID-121">
    <div class="container">
        <span class="icon icon-info"></span>
        <div>
            <span>Kontrollige, et SMS-ga saabunud kontrollkood yhtiks antud numbriga <span class="h3">2561</span> ja sisestage Mobiil-ID PIN1-kood.</span>
        </div>
        <a href="javascript:$('#your-uniq-ID-121').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>

<div class="alert full-size alert-info" id="your-uniq-ID-123">
    <div class="container">
        <span class="icon icon-info"></span>
        <div>
            <span>Oleme uuendanud mingisugust asja, kui tahad rohkem infot, siis tee omad valikud</span>
            <a class="read-more" href="#">
                <span class="icon icon-arrow-right"></span>Loe l&auml;hemalt
            </a>
        </div>
        <a href="javascript:$('#your-uniq-ID-123').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>

<div class="alert full-size alert-warning" id="your-uniq-ID-120">
    <div class="container">
        <span class="icon icon-alert"></span>
        <div>
            <strong>Sisselogimine ebaonnestus</strong>
            <span>Veendu, et sisestasid Mobiili-ID PIN1-koodi, mitte ID-kaardi PIN1-koodi</span>
            <a class="read-more" href="#">Proovi uuesti</a>
        </div>
        <a href="javascript:$('#your-uniq-ID-120').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>