<div class="alert alert-success" id="your-uniq-ID-121">
    <div class="container">
        <span class="icon icon-buy_2"></span>
        <a href="#">
            <strong>Toode lisati ostukorvi</strong>
            <span>Veendu, et sisestasid Mobiili-ID PIN1-koodi, mitte ID-kaardi PIN1-koodi</span>
            <span class="read-more" href="#">Suundu ostukorvi</span>
        </a>
        <a href="javascript:$('#your-uniq-ID-121').alert('close');void(0);" class="icon icon-delete close-btn"></a>
    </div>
</div>

<div class="alert alert-info" id="your-uniq-ID-122">
        <div class="container">
            <span class="icon icon-info"></span>
            <a href="#">
                <strong>Kood:</strong>
                <span>23423hjklh345kj34h34kj534h3kj</span>
                <span class="read-more" href="#">
                    Kopeeri
                </span>
            </a>
            <a href="javascript:$('#your-uniq-ID-122').alert('close');void(0);" class="icon icon-delete close-btn"></a>
        </div>
    </div>

<div class="alert alert-warning" id="your-uniq-ID-120">
        <div class="container">
            <span class="icon icon-alert"></span>
            <a href="#">
                <strong>Sisselogimine ebaonnestus</strong>
                <span>Veendu, et sisestasid Mobiili-ID PIN1-koodi, mitte ID-kaardi PIN1-koodi</span>
                <span class="read-more" href="#">Proovi uuesti</span>
            </a>
            <a href="javascript:$('#your-uniq-ID-120').alert('close');void(0);" class="icon icon-delete close-btn"></a>
        </div>
    </div>