<!-- Product boxes listing, eg Arvutid 2nd level page-->

<!-- Product boxes -->
<div class="row">
  <section class="tsr-section-productAndService-listing product-boxes">
    <div class="product" id="content-placeholder-phones-boxes"></div>
  </section>
</div>
<div class="row">
    <section class="tsr-section-divider ee-loader">
    <div class="ee-loader-wide-violet"></div>
  </section>
</div>


<script id="product-phones-boxes-template" type="text/x-handlebars-template">

  {{#phones}}
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="tsr-module-product ">
      {{#if ribbon}}
        <figure class="tsr-tactical-ribbon"><span><span class="flashText"><span class="bigText">{{ribbon.text}}</span></span></span></figure>
      {{/if}}
      <div class="ee-favorite-dropdown">
        <button class="ee-favorite btn btn-link dropdown-toggle" data-toggle="dropdown"></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="favorite-page.html"><span class="ee-favorite active"></span>Favs0 </a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs1</a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs2</a></li>
        </ul>
      </div>

      <figure class="tsr-product-image">
        <a href="detail.html">
          <img src="assets/img/phones/{{id}}.jpg" id="img{{id}}" class="original"><img src="assets/img/phones/{{id}}.jpg" id="img{{id}}" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888"/>
        </a>
      </figure>
      <div class="tsr-product-content">
        {{#if firstflash}}
        <figure class="tsr-tactical-flash tsr-first"><span>{{firstflash.lg}}<small>{{firstflash.sm}}</small></span></figure>
        {{/if}}
        {{#if secondflash}}
        <figure class="tsr-tactical-flash tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
        {{/if}}
        <h6 class="tsr-product-header"><a href="detail.html">{{name}}</a></h6>

        {{#if client_price}}
        <p class="tsr-product-price ee-product-price-md"><span>{{client_price}}</span></p>
        {{else}} {{#if normal_price}}
        <p class="tsr-product-price ee-product-price-md"><span>{{normal_price}}</span></p>
        {{else}}
        <p class="tsr-product-price ee-product-price-md"></p>
          {{/if}}
        {{/if}}
        <a href="#" class="ee-compare"> Võrdle </a>
        <a href="#" class="ee-buy"> Osta </a>
      </div>
    </div>
  </div>

  {{/phones}}
</script>

<!--         {{#if colors}}
          <ul class="tsr-product-colors">
          {{#each colors}}
            <li class="accent {{this}}"></li>
          {{/each}}
          </ul>
          {{else}}
          <ul class="tsr-product-colors ee-hidden-xs">
          </ul>
        {{/if}} -->

<!--       <div class="tsr-product-colors dropup">
      {{#if colors}}
        <button class="ee-colors btn btn-link dropdown-toggle " data-toggle="dropdown"> Vali värv</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Maasikas</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Sidrun</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Must</a></li>
        </ul>
        {{/if}}
      </div> -->



