<div class="panel-group bundle" id="bundles">
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleOne">
    Tasuta kaasa Elion uue nutiTV pult S3 Samsungi telerile
  </a>
  <div id="bundleOne" class="panel-collapse collapse tsr-forms">
    <div class="panel-body">
     <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/92974_33/200x200/pult_esikylg_01_1--1_300dpi%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-1"><input type="checkbox"  id="radio-3" name="defaultRadio1"></label>
          <h4 class="media-heading"> Elion uue nutiTV pult S3 Samsungi telerile</h4>
          Pult on eelseadistatud juhtima Samsungi teleris olevat Elioni nutiTV rakendust.  <span class="ee-special-price">Hind 11€</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleTwo">
    Tasuta kaasa fotokaamerakott Fujifilm SC-XF1
  </a>
  <div id="bundleTwo" class="panel-collapse collapse tsr-forms">
    <div class="panel-body">
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/75451_8/400x400/fujifilm-vutlar-sc-xf1-pruun-44337%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-1"><input type="checkbox"  id="radio-1" name="defaultRadio"></label>
          <h4 class="media-heading"> fotokaamerakott Fujifilm SC-XF1 pruun</h4>
          Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. <span class="ee-special-price">Hind 49€</span>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="https://pood.elion.ee/pictures/75439_7/200x200/fujifilm-vutlar-sc-xf1-must-44334%20copy.jpg" style="width: 64px; height: 64px;">
        </a>
        <div class="media-body">
          <label for="radio-2"><input type="checkbox"  id="radio-2" name="defaultRadio"> </label>
          <h4 class="media-heading"> fotokaamerakott Fujifilm SC-XF1 must</h4>
          Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. Spetsiaalselt Fujifilm SC-XF1 digikaamerale mõeldud kott. <span class="ee-special-price">Hind 49€</span>

        </div>
      </div>
    </div>
  </div>
    <hr>
  <a data-toggle="collapse" data-parent="#bundles" href="#bundleThree">
    Sooduskomplektina: Pakime tellitud kauba kingituseks ja anname kaasa head soovid.
  </a>
  <div id="bundleThree" class="panel-collapse collapse">
    <div class="panel-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    </div>
  </div>
</div>