<div id="content-placeholder-filter"></div> 

<p>Hinnavahemik: <strong class="ee-special-price"><span class="js-pricesliderValMin"></span> - <span class="js-pricesliderValMax "></span> €</strong></p>

<input  type="text" id="js-priceslider" value="" data-slider-min="250" data-slider-max="450" data-slider-step="5" data-slider-value="[250,450]"/>

<div id="jsFiltersMore" class="collapse">Need muud filtrid, mis juurde tulevad, siia. Deemn, Nupu nimi...</div>

<div class="text-right">
  <input type="button" id="jsFiltersMoreText" class="btn btn-primary" data-toggle="collapse" data-target="#jsFiltersMore" value="Veel valikud" />
  <button type="button" class="btn btn-primary">Tühista valikud</button>
  <button type="button" class="btn btn-primary">Filtreeri</button>
</div>

  <script id="filter-template" type="text/x-handlebars-template">

  {{#parameters}}
  <p>{{caption}} <a data-container="body" data-toggle="popover" data-placement="right" title="{{caption}}" data-content="{{tooltip}}" role="button"><i class="icon icon-help" ></i></a> </p>
  <ul class="nav nav-pills"> 
    {{#each param}}
      <li><a class="btn btn-primary inactive" role="button">{{para}}<span class="badge">{{amount}}</span></a>
      </li>
      {{/each}}
  </ul>
  {{/parameters}}

  </script>
