<section class="ee-filter-content">
  <div id="content-placeholder-filter"></div> 

  <div class="row">
    <p>Hinnavahemik: <strong class="violet-text"><span class="js-pricesliderValMin"></span> - <span class="js-pricesliderValMax "></span> €</strong></p>
    
    <input  type="text" id="js-priceslider" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> 
  </div>
  <div class="row text-right">
    <button type="button" class="btn btn-primary">Veel valikud</button>
    <button type="button" class="btn btn-primary">Tühista valikud</button>
    <button type="button" class="btn btn-primary">Kinnita</button>
  </div>
</section>

  <script id="filter-template" type="text/x-handlebars-template">

  {{#parameters}}
  <div class="row">
  <p>{{caption}} <i class="icon icon-help violet-text" data-container="body" data-toggle="popover" data-placement="right" title="{{caption}}" data-content="{{tooltip}}" role="button"></i> </p>
  <ul class="nav nav-pills"> 
    {{#each param}}
      <li><a class="btn btn-primary disabled" role="button" data-toggle="button">{{para}}<span class="badge">{{amount}}</span></a>
      </li>
      {{/each}}
  </ul>
  </div>
  {{/parameters}}

  </script>
