<!-- <div class="row">
  <span >Diagonaal  </span>
  <a href="javascript:void(0);" data-container="body" data-toggle="popover" data-placement="top" title="Diagonaal" data-content="Ekraani suurust mõõdetakse tavaliselt tollides - 1 toll= 2,54 cm">Diagonaal <i class="icon icon-help"></i></a>
  <ul class="nav nav-pills">
    <li class="active"><a href="#">11,6" <span class="badge">42</span><a href="javascript:$('#your-uniq-ID-121').alert('close');void(0);" class="icon icon-delete close-btn"></a></a></li>
    <li class="active"><a href="#">12,5"</a></li>
    <li class="active"><a href="#">13,3"<span class="badge">7</span></a></li>
  </ul>
</div>
<div class="row">
  <span class="label label-info">New</span>
  <span>Klaviatuuri asetus</span>
  <ul class="nav nav-pills">
    <li class="active" data-toggle="button"><a href="#">ENG<span class="badge">2</span></a></li>
    <li ><a href="#" data-toggle="button">SWE<span class="badge">2</span></a></li>
    <li class="active"><a href="#">US<span class="badge">1</span></a></li>
  </ul>
</div>
<div class="row">
  <span>Foori asetus</span>
  <ul class="nav nav-pills">
    <li class="active"><button type="button" class="btn btn-default" >Single toggle</button></li>
    <li class="active"><button type="button" class="btn btn-default" >Single toggle</button></li>
    <li><button type="button" class="btn btn-default" data-toggle="button">Single toggle   <span class="badge">1</span></button></li>
  </ul>
</div> -->
  

  <div class="row" id="content-placeholder-filter"></div> 

  <div class="row">
  Hinnavahemik: <b>€ 12</b> <input  type="text" id="js-priceslider" value="" data-slider-min="10" data-slider-max="1000" data-slider-step="5" data-slider-value="[250,450]"/> <b>€ 1000</b>
</div>

  <script id="filter-template" type="text/x-handlebars-template">

  {{#parameters}}
  <a>{{caption}} <i class="icon icon-help" data-container="body" data-toggle="popover" data-placement="right" title="{{caption}}" data-content="{{tooltip}}"></i> </a>
  <ul class="nav nav-pills"> 
    {{#each param}}
      <li><button type="button" class="btn btn-primary" >{{para}}</button>
      </li>
      {{/each}}
  </ul>
  {{/parameters}}

  </script>
