<div class="row ee-filterbar">
  <div class="navbar navbar-inverse" role="filtering">
    <ul class="nav navbar-nav navbar-left">
      <li class="active dropdown">
        <a href="javascript:void(0);" data-toggle="collapse" data-target="#js-filter-fav">Näita kuuluvust kaubagruppi <span class="icon icon-arrow-down"></span></a>
      </li>
      <li class="visible-xs visible-sm">
        <a href="#" data-toggle="dropdown">Vali nimekiri <span class="icon icon-arrow-down"></span></a>
        <ul class="dropdown-menu ">
          <li><a href="">Lemmikud</a></li>
          <li><a href="">Soovinimekiri</a></li>
          <li><a href="">Fav0</a></li>
<!--           <li class="divider"></li>
          <li>
            <div class="navbar-text">Lisa uus</div>
            <div class="col-12">
              <input type="text">
            </div>
          </li> -->
        </ul>
      </li>
    </ul>
    <p class="navbar-text navbar-right">Kokku 12 lemmikut</p> 
  </div>
</div>
  <div id="js-filter-fav" class="row collapse ee-filter-content">

    <ul class="nav nav-pills"> 
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
        <li><a class="btn btn-primary inactive" role="button">Lauaarvutid<span class="badge">4</span></a></li>
    </ul>

    <div class="text-right">
      <button type="button" class="btn btn-primary">Tühista valikud</button>
      <button type="button" class="btn btn-primary">Vali</button>
    </div>
  </div>



