<div class="row ee-compare">
  <div class="navbar navbar-default" role="compare">
    <ul class="list-inline navbar-left">
      <li><a href="list-view-phones.html" class="ee-iconbutton ee-list"></a></li>
      <li><a href="block-view-phones.html" class="ee-iconbutton ee-block"></a></li>
    </ul>
    <ul class="list-inline navbar-right">
      <li><span><a href="">Tootevõrdlus:</a></span></li>
      <li>
        <figure>
          
          <a type="button" class="add icon icon-add" aria-hidden="true"></a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
      <li>
        <figure>
          <img src="http://lorempixel.com/30/30/">
          <a type="button" class="close" aria-hidden="true">&times;</a>
        </figure>
      </li>
    </ul>
  </div>
</div>