<!-- Product boxes listing, eg Arvutid 2nd level page-->

<!-- Product boxes -->
<div class="row">
  <section class="tsr-section-productlist">
    <div id="content-placeholder-phones-boxes"></div>
  </section>
</div>

<script id="product-phones-boxes-template" type="text/x-handlebars-template">

  {{#phones}}
  <div class="col-sm-12">
    <div class="tsr-module-product">
      {{#if ribbon}}
        <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
      {{/if}}
      <a href="#" class="ee-product-box-favorite"></a>
      <figure class="tsr-product-image">
      <a href="detail.html"><img src="assets/img/{{id}}.jpg" id="img{{id}}" class="original"><img src="assets/img/{{id}}.jpg" id="img{{id}}" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888"/></a>
      <ul class="tsr-product-colors">
        {{#if colors}}
        {{#each colors}}
          <li class="accent {{this}}"></li>
        {{/each}}
        {{/if}}
      </ul>
      </figure>

      <div class="tsr-product-content">
        <h6 class="tsr-product-header"><a href="">{{name}}</a></h6>

        <div class="row ee-linkicons">
          <div class="col-sm-4" ><a href="#" class="ee-comments"> Arvamused (5)</a></div>
          <div class="col-sm-3"><a href="#" class="ee-compare"> Võrdle </a></div>
          <div class="col-sm-5"><a href="#" class="ee-transport"> Kaup kätte 14 päeva jooksul </a></div>
        </div>

        <p class="tsr-product-desc"> {{{leftTrimLong intro}}} </p>

        <div class="row ee-actions">
          {{#if flashes}}
            <div class="col-sm-4"> &nbsp;
              {{#if flash}}
              <figure class="tsr-tactical-flash ee-flash-sm"><span>{{flash.lg}}<small>{{flash.sm}}</small></span></figure>
              {{/if}}
              {{#if firstflash}}
              <figure class="tsr-tactical-flash ee-flash-sm tsr-first"><span>{{firstflash.lg}}<small>{{firstflash.sm}}</small></span></figure>
              {{/if}}
              {{#if secondflash}}
              <figure class="tsr-tactical-flash ee-flash-sm tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
              {{/if}}
            </div>
            {{else}}
              <div class="col-sm-4 hidden-xs"> </div>
          {{/if}}
            <div class="col-sm-4 ee-pricecol">
              {{#if client_price}}
              <p class="tsr-product-price ee-special-price">Kliendihind: <span>{{client_price}}</span></p>
              {{else}} 
              <p class="tsr-product-price">Hind: <span>{{normal_price}}</span></p>
              {{/if}}
              <p class="tsr-product-price">Kuumakse: 47,15 €</p>
            </div>
            <div class="col-sm-4 col-sm-offset-4 " ><a href="#" class="tsr-btn tsr-btn-100 ee-btn-buy"><i class="icon icon-osta"></i> Lisa ostukorvi </a></div>
          </div>

        <div class="row">
          {{#if campaign}}
            <hr>
            {{#each campaign}} 
              <a href="#">{{this}} </a>
            {{/each}}
          {{/if}}
        </div>


      </div>
    </div>
  </div>

  {{/phones}}
</script>







