<!-- Product boxes listing, eg Arvutid 2nd level page-->

<!-- Product boxes -->
<div class="row">
  <section class="tsr-section-productlist">

    <div id="content-placeholder-phones-boxes"></div>
  </section>
</div>

<script id="product-phones-boxes-template" type="text/x-handlebars-template">

  {{#phones}}

    <div class="tsr-module-product">
      {{#if ribbon}}
        <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
      {{/if}}
      <div class="ee-favorite-dropdown">
        <button class="ee-favorite btn btn-link dropdown-toggle" data-toggle="dropdown"></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><span class="ee-favorite active"></span>Favs0 </a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs1</a></li>
          <li><a href=""><span class="ee-favorite"></span>Favs2</a></li>
        </ul>
      </div>

      <figure class="tsr-product-image">
      <a href="detail.html"><img src="assets/img/phones/{{id}}.jpg" id="img{{id}}" class="original"><img src="assets/img/phones/{{id}}.jpg" id="img{{id}}" class="multiply filter-tint" data-pb-tint-opacity="0.08" data-pb-tint-colour="#888"/></a>


      <div class="tsr-product-colors hidden-xs">
        <button class="ee-colors btn btn-link dropdown-toggle" data-toggle="dropdown"> Vali värv</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Maasikas</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Sidrun</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Must</a></li>
        </ul>
      </div>


      </figure>

      <div class="hidden-sm">
        <h6 class="tsr-product-header"><a href="">{{name}}</a></h6>
        <div class="ee-linkicons">
          <div class="col-sm-4" ><a href="#" class="ee-comments"> Arvamused (5)</a></div>
          <div class="col-sm-3"><a href="#" class="ee-compare"> Võrdle </a></div>
          <div class="col-sm-5"><a href="#transport-{{id}}" class="ee-transport" data-toggle="collapse" data-target="#transport-{{id}}"> Kaup kätte 14 päeva jooksul </a></div>
        </div>
      </div>



      <div class="tsr-product-content">
        <h6 class="tsr-product-header hidden-xs"><a href="">{{name}}</a></h6>

        <div class="row ee-linkicons hidden-xs">
          <div class="col-sm-4" ><a href="#" class="ee-comments"> Arvamused (5)</a></div>
          <div class="col-sm-3"><a href="#" class="ee-compare"> Võrdle </a></div>
          <div class="col-sm-5"><a class="ee-transport" data-toggle="collapse" data-target="#transport-{{id}}" id="parent-{{id}}">Kaup kätte 14 päeva jooksul </a></div>

        </div>


<!-- @include _transport-module.html -->


        <p class="tsr-product-desc"> {{{leftTrimLong intro}}} </p>

        <div class="row ee-actions">
          {{#if flashes}}
            <div class="col-sm-4"> &nbsp;
              {{#if flash}}
              <figure class="tsr-tactical-flash ee-flash-sm"><span>{{flash.lg}}<small>{{flash.sm}}</small></span></figure>
              {{/if}}
              {{#if firstflash}}
              <figure class="tsr-tactical-flash ee-flash-sm tsr-first"><span>{{firstflash.lg}}<small>{{firstflash.sm}}</small></span></figure>
              {{/if}}
              {{#if secondflash}}
              <figure class="tsr-tactical-flash ee-flash-sm tsr-second"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
              {{/if}}
            </div>
            {{else}}
              <div class="col-sm-4 hidden-xs"> </div>
          {{/if}}
      <div class="tsr-product-colors hidden-sm">
        <button class="ee-colors btn btn-link dropdown-toggle" data-toggle="dropdown"> Vali värv</button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Maasikas</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Sidrun</a></li>
          <li><a href=""><span><img src="https://pood.elion.ee/pictures/84658_35/25x25/Lumia520%20punane%20eest.jpg" alt=""></span>Must</a></li>
        </ul>
      </div>
            <div class="col-sm-4 ee-pricecol">
              {{#if client_price}}
              <p class="tsr-product-price ee-special-price">Kliendihind: <span>{{client_price}}</span></p>
              {{else}} 
              <p class="tsr-product-price">Hind: <span>{{normal_price}}</span></p>
              {{/if}}
              <p class="tsr-product-price">Kuumakse: 47,15 €</p>
            </div>
            <div class="col-sm-4 col-sm-offset-4 " ><a href="#" class="tsr-btn tsr-btn-100 ee-btn-buy"><i class="icon icon-buy_2"></i> Lisa ostukorvi </a></div>
          </div>

        <p>
          {{#if campaign}}
            <hr>
            {{#each campaign}} 
              <a href="#">{{this}} </a>
            {{/each}}
          {{/if}}
        </p>


      </div>
    </div>


  {{/phones}}
</script>


<!-- KEEP FOR LATER 
      // <ul class="tsr-product-colors">
      //   {{#if colors}}
      //   {{#each colors}}
      //     <li class="accent {{this}}"></li>
      //   {{/each}}
      //   {{/if}}
      // </ul>
-->


