<div class="row tsr-ee-comparision">
  <div class="col-sm-4">
    <a href="2nd-level-list.html" class="tsr-ee-iconbutton tsr-ee-list"></a>
    <a href="arvutid-ja-lisad.html" class="tsr-ee-iconbutton tsr-ee-block"></a>
  </div>
  <div class="col-sm-8 text-right">
    <span><a href="">Tootevõrdlus</a> (kuni 5):</span>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
  </div>
</div>