<!-- Ad area -->
<div class="row ee-innerad" style="margin-top: -15px;">
  <img src="assets/img/other/lion_novkamp_Elion_700x95_EST.png" alt="">
  <div class="tsr-tactical-textPanel">
  <!--       <header>Hakkab juba looma</header> -->
    <span>Samsungi teleritega näed <br> uut nutiTV-d  ilma digiboksita</span>
  </div>
</div>
<div class="row ee-views-compare">
  <div class="col-sm-5 col-xs-3">
    <a href="phone-list.html" class="ee-iconbutton ee-list"></a>
    <a href="mobiilid.html" class="ee-iconbutton ee-block"></a>
  </div>
  <div class="col-sm-3 col-xs-4 ee-comparision text-right">
    <span><a href="">Tootevõrdlus</a> (kuni 5):</span>
  </div>
  <div class="col-sm-4 col-xs-5">
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
  </div>
</div>

<section class="row tsr-section-filter">

  <div class="col-sm-3">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Näita filtreid</a>
        <menu class="tsr-second-level">
          <li><a href="#">A filtreid pole veel tglt</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-4">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Populaarsemad enne</a>
        <menu class="tsr-second-level">
          <li><a href="#">Populaarsemad enne</a></li>
          <li><a href="#">Odavamad enne</a></li>
          <li><a href="#">Kallimad enne</a></li>
          <li><a href="#">Uuemad enne</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-5 text-right" style="margin-top: 15px;">
    <p>Mobiiltelefonid, 32 toodet</p>
  </div>

<!--   <div class="col-sm-3">
    <div class="tsr-forms">
      <div class="select-container">
        <select>
          <option selected>Populaarsemad enne</option>
          <option>Odavamad enne</option>
          <option>Kallimad enne</option>
          <option>Uuemad enne</option>
        </select>
      </div>
    </div>
  </div> -->
</section>