<div class="row ee-views-compare">
  <div class="col-sm-5 col-xs-3">
    <a href="2nd-level-list.html" class="ee-iconbutton ee-list"></a>
    <a href="arvutid-ja-lisad.html" class="ee-iconbutton ee-block"></a>
  </div>
  <div class="col-sm-3 col-xs-4 ee-comparision text-right">
    <span><a href="">Tootevõrdlus</a> (kuni 5):</span>
  </div>
  <div class="col-sm-4 col-xs-5">
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
    <figure class="ee-comparision-boxes"></figure>
  </div>
</div>