<div class="row">
  <div class="ee-comparebar navbar navbar-default" role="navigation">
    <a href="phone-list.html" class="ee-iconbutton ee-list"></a>
    <a href="mobiilid.html" class="ee-iconbutton ee-block"></a>
    <p class="navbar-text navbar-right">Signed in as Mark Otto     
      <figure class="ee-comparision-boxes"></figure>
      <figure class="ee-comparision-boxes"></figure>
      <figure class="ee-comparision-boxes"></figure>
      <figure class="ee-comparision-boxes"></figure>
      <figure class="ee-comparision-boxes"></figure>
  </p>
  </div>
</div>
<div class="row">
  <div class="ee-filterbar navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Näita filtreid <span class="icon icon-arrow-down"></span></a></li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown">Populaarsemad enne <span class="icon icon-arrow-down"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Populaarsemad enne</a></li>
          <li><a href="#">Odavamad enne</a></li>
          <li><a href="#">Kallimad enne</a></li>
          <li><a href="#">Uuemad enne</a></li>
        </ul>
      </li>
    </ul>
    <p class="navbar-text navbar-right">Mobiiltelefonid, 32 toodet</p>
  </div>
</div>