<div class="row ee-comparebar">
  <div class="navbar navbar-default" role="compare">
    <ul class="list-inline navbar-left">
      <li><a href="phone-list.html" class="ee-iconbutton ee-list"></a></li>
      <li><a href="mobiilid.html" class="ee-iconbutton ee-block"></a></li>
    </ul>
    <ul class="list-inline navbar-right">
      <li><span><a href="">Tootevõrdlus</a> (kuni 5):</span></li>
      <li><figure></figure></li>
      <li><figure></figure></li>
      <li><figure></figure></li>
      <li><figure></figure></li>
    </ul>
  </div>
</div>