<div class="row tsr-ee-views-compare">
  <div class="col-sm-5" >
    <h2 style="margin-top: 0;"><small>Mobiiltelefonid</small></h2>
  </div>
  <div class="col-sm-3 col-xs-4 tsr-ee-comparision text-right">
    <span><a href="">Tootevõrdlus</a> (kuni 5):</span>
  </div>
  <div class="col-sm-4 col-xs-5">
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
    <figure class="tsr-ee-comparision-boxes"></figure>
  </div>
</div>
<section class="row tsr-section-filter">
  <div class="col-sm-2" style="margin-top: 10px;">
    <a href="phone-list.html" class="tsr-ee-iconbutton tsr-ee-list"></a>
    <a href="mobiilid.html" class="tsr-ee-iconbutton tsr-ee-block"></a>
  </div>
  <div class="col-sm-3">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Näita filtreid</a>
        <menu class="tsr-second-level">
          <li><a href="#">A filtreid pole veel tglt</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-4">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Sorteeri</a>
        <menu class="tsr-second-level">
          <li><a href="#">Populaarsemad enne</a></li>
          <li><a href="#">Odavamad enne</a></li>
          <li><a href="#">Kallimad enne</a></li>
          <li><a href="#">Uuemad enne</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-3" style="margin-top: 15px;">
    <p>Kokku 32 toodet</p>
  </div>

<!--   <div class="col-sm-3">
    <div class="tsr-forms">
      <div class="select-container">
        <select>
          <option selected>Populaarsemad enne</option>
          <option>Odavamad enne</option>
          <option>Kallimad enne</option>
          <option>Uuemad enne</option>
        </select>
      </div>
    </div>
  </div> -->
</section>