<!-- Sorting with pagination -->
<section class="row tsr-ee-pagination-holder">
  <div class="tsr-forms">
    <div class="col-sm-4">
      <div class="select-container">
        <select>
          <option selected>Populaarsemad enne</option>
          <option>Odavamad enne</option>
          <option>Kallimad enne</option>
          <option>Uuemad enne</option>
        </select>
      </div>
    </div>

    <div class="col-sm-4 text-right tsr-pagination">
      <a href="#" >1</a>
      <a href="#" >2</a>
      <a href="#" >3</a>
      <a href="#" class="tsr-active" >4</a>
      <a href="#" >5</a>
      <a href="#" >6</a>
    </div>
  </div>
</section>