<!-- Product boxes listing, eg Arvutid 2nd level page-->

<!-- @include breadcrumbs.html -->

    <div class="container" > 

      <!-- @include sidemenu.html -->

      <div class="col-xs-12 col-sm-12 col-md-9    tsr-ee-product-boxes">

      <!-- Ad area -->
        <div class="row" style="overflow: hidden;">
          <!-- @placeholder 1000x100 -->
        </div>

        <!-- Divider -->
        <div class="row" style="height: 65px;">
        <span> Puudu asjad siit vahelt</span>
        </div>

        <!-- Filter -->
        <div class="row" style="height: 58px; background: #642887;">
          <span>Filter</span>
        </div>

        <!-- Sorting and pagination -->
        <section class="row pagination-holder">
          <div class="tsr-forms" style="text-align: left; width: 100%">
            <div class="col-md-4">
              <div class="select-container"><select><option selected>Populaarsemad enne</option><option>iPhone</option><option>Samsung</option></select></div>
            </div>
            <div class="col-md-3">
              <div class="select-container"><select><option selected>Kuva korraga</option><option>iPhone</option><option>Samsung</option></select></div>
            </div>

            <div class="col-md-5 text-right tsr-pagination">
              <a href="#" >1</a>
              <a href="#" >2</a>
              <a href="#" >3</a>
              <a href="#" class="tsr-active" >4</a>
              <a href="#" >5</a>
              <a href="#" >6</a>
            </div>
          </div>
        </section>
      </div>
        <!-- Product boxes -->
        <section class="tsr-section-productAndService-listing ">
          <div class="container product" id="content-placeholder-products"></div>
        </section>

      <!-- Sorting and pagination -->
        <section class="row pagination-holder">
          <div class="tsr-forms" style="text-align: left; width: 100%">
            <div class="col-md-4">
              <div class="select-container"><select><option selected>Populaarsemad enne</option><option>iPhone</option><option>Samsung</option></select></div>
            </div>
            <div class="col-md-3">
              <div class="select-container"><select><option selected>Kuva korraga</option><option>iPhone</option><option>Samsung</option></select></div>
            </div>

            <div class="col-md-5 text-right tsr-pagination">
              <a href="#" >1</a>
              <a href="#" >2</a>
              <a href="#" >3</a>
              <a href="#" class="tsr-active" >4</a>
              <a href="#" >5</a>
              <a href="#" >6</a>
            </div>
          </div>
        </section>

      </div>
      
      
      <script id="product-slider-template" type="text/x-handlebars-template">
      
      {{#products}}
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="tsr-module-product ">
          {{#if ribbon}}
            <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
          {{/if}}
          <a href="#" class="tsr-ee-product-box-favorite"></a>
          <figure class="tsr-product-image">
          <a href="detail.html"><img src="assets/img/products/{{id}}.jpg" id="img{{id}}" class="multiply"><canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas></a
          </figure>
        
          <div class="tsr-product-content">

            {{#if firstflash}}
            <figure class="tsr-tactical-flash tsr-flash-usp-1 tsr-first {{firstflash.orientation}}"><span>{{firstflash.lg}}</span></figure>
            {{/if}}
            {{#if secondflash}}
            <figure class="tsr-tactical-flash tsr-flash-usp-2 tsr-second {{secondflash.orientation}}"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
            {{/if}}
            <a href="detail.html"><header class="tsr-product-header">{{name}}</header></a>
          
            <ul class="tsr-ee-product-colors tsr-product-colors">
            {{#if colors}}
            {{#each colors}}
              <li class="acc {{this}}" data-color-theme="#e2e2e2"></li>
            {{/each}}
            {{/if}}
            </ul>
            {{#if special_price}}
            <p class="tsr-product-price tsr-ee-special-price-text">Soodushind <span class="tsr-ee-product-price">{{special_price}}</span></p>
            {{else}}
            <p class="tsr-product-price">Tavahind <span class="tsr-ee-product-price">{{normal_price}}</span></p>
            {{/if}}
            <a href="#" class="tsr-ee-compare"> Võrdle </a>
          </div>
        </div>
      </div>

      {{/products}}
      </script>







