<section class="tsr-section-filter">
    <div class="tsr-container">           
        
        <!-- FILTER LIST -->

        <menu class="tsr-filterList">

            
            <li class="tsr-top-level">
                <a href="#">Filter list</a>
                
                <div class="tsr-filter-wrapper">
                    <div class="tsr-container">

                        <menu class="tsr-second-level">
                            <li><header>Filter by Brand</header></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple is-choosen">Apple</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Samsung</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Nokia</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Sony</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">LG</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">HTC</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Others</a></li>
                        </menu>

                        <menu class="tsr-second-level">
                            <li><header>Filter by Operating System</header></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple">iOs</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Android</a></li>
                            
                        </menu>

                        <menu class="tsr-second-level">
                            <li><header>Filter by Functionality</header></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple">Camera</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple">HD Voice</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple">Voice Command</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple">Consecuteur</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Inactive</a></li>
                        </menu>

                        <menu class="tsr-second-level">
                            <li><header>Filter by Lorem</header></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Loremsu</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Lorem ipsum</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Concecuteur</a></li>
                            <li><a href="#" class="tsr-btn tsr-btn-small tsr-btn-purple tsr-btn-disabled">Ipsum</a></li>
                        </menu>

                    </div>
                </div>

            </li>

        </menu>

        

        <menu class="tsr-sortList">

            <li class="tsr-top-level">
                <a href="#">Sort list</a>
                <menu class="tsr-second-level">
                    <li><a href="#">Sort by: Lowest price</a></li>
                    <li><a href="#">Sort by: Highest price</a></li>
                    <li><a href="#">Sort by: Name A-z</a></li>
                    <li><a href="#">Sort by: Name Z-a</a></li>
                </menu>
            </li>
            
        </menu> 


    </div>
</section>