<section class="row tsr-section-filter clearfix">

  <div class="col-sm-3">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Näita filtreid</a>
        <menu class="tsr-second-level">
          <li><a href="#">A filtreid pole veel tglt</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-4">
    <menu class="tsr-sortList">
      <li class="tsr-top-level">
        <a href="#">Populaarsemad enne</a>
        <menu class="tsr-second-level">
          <li><a href="#">Populaarsemad enne</a></li>
          <li><a href="#">Odavamad enne</a></li>
          <li><a href="#">Kallimad enne</a></li>
          <li><a href="#">Uuemad enne</a></li>
        </menu>
      </li>
    </menu>
  </div>
  <div class="col-sm-5 text-right" style="margin-top: 15px;">
    <p>Mobiiltelefonid, 32 toodet</p>
  </div>

<!--   <div class="col-sm-3">
    <div class="tsr-forms">
      <div class="select-container">
        <select>
          <option selected>Populaarsemad enne</option>
          <option>Odavamad enne</option>
          <option>Kallimad enne</option>
          <option>Uuemad enne</option>
        </select>
      </div>
    </div>
  </div> -->
</section>