<!-- Product boxes listing, eg Arvutid 2nd level page-->
    <section class="tsr-ee-breadcrumbs">
      <div class="container">
        <ol class="breadcrumb">
          <li><a href="#">TV ja audio</a></li>
          <li><a href="#">Telerid</a></li>
          <li class="active">Samsung</li>
        </ol>
      </div>
    </section>

    <div class="container" > 

      <!-- @include sidemenu.html -->

      <div class="col-md-9 col-sm-6 col-xs-12 tsr-ee-product-boxes">

      <!-- Ad area -->
        <div class="row">
          <!-- @placeholder 825x100 -->
        </div>

        <!-- Divider -->
        <div class="row">
        <section class="tsr-section-divider tsr-color-white">
          <header class="tsr-container">
            <span> Puuduolevad ikoonid ja tootevõrdlus</span> 
          </header>
        </section>
        </div>


        <!-- Filter -->
        <div class="tsr-row">
          <article class="tsr-module tsr-module-placeholder">
            <div style="height: 60px;">
              <header>
                <span>Filter</span>
              </header>   
            </div>
          </article>
        </div>

        <!-- Sorting and pagination -->
        <div class="row tsr-forms" style="display: inline-flex; text-align: left;">
          <div class="col-md-4">
            <div class="select-container"><select><option selected>Populaarsemad enne</option><option>iPhone</option><option>Samsung</option></select></div>
          </div>
          <div class="col-md-3">
            <div class="select-container"><select><option selected>Kuva korraga</option><option>iPhone</option><option>Samsung</option></select></div>
          </div>

          <div class="col-md-5 tsr-pagination">
            <div class="tsr-center">
              <a href="#" >1</a>
              <a href="#" >2</a>
              <a href="#" >3</a>
              <a href="#" class="tsr-active" >4</a>
              <a href="#" >5</a>
              <a href="#" >6</a>
              <a href="#" >7</a>
              <a href="#" class="tsr-elipsis">...</a>
              <a href="#" >19</a>
            </div>
          </div>
        </div>

        <!-- Product boxes -->
        <div class="row">
          <section class="tsr-section-productAndService-listing ">
            <div class="tsr-container" id="content-placeholder-products"></div>
          </section>
        </div>
        
      </div>

      <script id="product-slider-template" type="text/x-handlebars-template">
      
      {{#products}}

      <div class="tsr-module-product ">
        {{#if ribbon}}
          <figure class="tsr-tactical-ribbon"><span class="tsr-text-{{ribbon.size}}">{{ribbon.text}}</span></figure>
        {{/if}}
        <a href="#" class="favorite"></a>
        <figure class="tsr-product-image">
        <img src="assets/img/products/{{id}}-small.jpg" srcset="assets/img/products/{{id}}-small.jpg 320w, assets/img/products/{{id}}-medium.jpg 960w, assets/img/products/{{id}}-large.jpg" id="img{{id}}" class="multiply"><canvas id="canvas_img{{id}}" rel="img{{id}}" class="pildil6uend"></canvas>
        </figure>
      
        <div class="tsr-product-content">

        {{#if firstflash}}
        <figure class="tsr-tactical-flash tsr-flash-usp-1 tsr-first {{firstflash.orientation}}"><span>{{firstflash.lg}}</span></figure>
        {{/if}}
        {{#if secondflash}}
        <figure class="tsr-tactical-flash tsr-flash-usp-2 tsr-second {{secondflash.orientation}}"><span>{{secondflash.lg}}<small>{{secondflash.sm}}</small></span></figure>
        {{/if}}
        <header class="tsr-product-header">{{name}}</header>

        <ul class="tsr-ee-product-colors">
          <li class="acc" style="background:#e2e2e2" data-color-theme="#e2e2e2"></li>
          <li class="acc" style="background:#d77b72" data-color-theme="#d77b72"></li>
          <li class="acc" style="background:#f8f07b" data-color-theme="#f8f07b"></li>
          <li class="acc" style="background:#73b5e7" data-color-theme="#73b5e7"></li>
          <li class="acc" style="background:#a5c76c" data-color-theme="#a5c76c"></li>
        </ul>
        <p class="tsr-product-desc"> Lorem ipsum dolor
          Amet sit dolor
          Dolor ipsum sit </p>
        <p class="tsr-product-price">{{price}}</p>
        <p class="tsr-product-small-print"> Total cost 299 $</p>
        <a href="#"><i class="ts-icon-shuffle"></i> Võrdle </a>
        </div>
      </div>

      {{/products}}
      </script>

  </div>





