<div id="content-placeholder-menu"></div>
  <script id="menu-template" type="text/x-handlebars-template">

<div class="panel-group" id="sidemenu">
    {{#sidemenu}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#sidemenu" href="#{{id parent}}"><span class="glyphicon glyphicon-file">
        </span>{{parent}}</a>
      </h4>
    </div>
    {{#if sub}}
    <div id="{{id parent}}" class="panel-collapse collapse">
      <div class="list-group">
        {{#each sub}}
        <a href="#" class="list-group-item">{{this}}</a>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
    {{/sidemenu}}
</div>
  </script>