@charset "UTF-8";

@font-face {
  font-family: "elion-ikoonid";
  src:url("fonts/elion-ikoonid.eot");
  src:url("fonts/elion-ikoonid.eot?#iefix") format("embedded-opentype"),
    url("fonts/elion-ikoonid.woff") format("woff"),
    url("fonts/elion-ikoonid.ttf") format("truetype"),
    url("fonts/elion-ikoonid.svg#elion-ikoonid") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "elion-ikoonid" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "elion-ikoonid" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-domeen:before {
  content: "\e000";
}
.icon-favourites-active:before {
  content: "\e001";
}
.icon-klotsi-vaade:before {
  content: "\e002";
}
.icon-kodujuhtimise-ikoon-06:before {
  content: "\e003";
}
.icon-kodujuhtimise-ikoon-12:before {
  content: "\e004";
}
.icon-kodujuhtimise-ikoon-20:before {
  content: "\e005";
}
.icon-kodulehemajutus:before {
  content: "\e006";
}
.icon-myaccounttsicon48px:before {
  content: "\e007";
}
.icon-osta:before {
  content: "\e008";
}
.icon-searchtsicon48px:before {
  content: "\e009";
}
.icon-transport:before {
  content: "\e00a";
}
.icon-arvamused:before {
  content: "\e00b";
}
.icon-elion-logo-element:before {
  content: "\e00c";
}
.icon-favourites-normal:before {
  content: "\e00d";
}
.icon-haamer:before {
  content: "\e00e";
}
.icon-helptsicon48px:before {
  content: "\e00f";
}
.icon-internet:before {
  content: "\e010";
}
.icon-kodujuhtimise-ikoon-01:before {
  content: "\e011";
}
.icon-kodujuhtimise-ikoon-02:before {
  content: "\e012";
}
.icon-kodujuhtimise-ikoon-03:before {
  content: "\e013";
}
.icon-kodujuhtimise-ikoon-04:before {
  content: "\e014";
}
.icon-kodujuhtimise-ikoon-05:before {
  content: "\e015";
}
.icon-kodujuhtimise-ikoon-07:before {
  content: "\e016";
}
.icon-kodujuhtimise-ikoon-08:before {
  content: "\e017";
}
.icon-kodujuhtimise-ikoon-09:before {
  content: "\e018";
}
.icon-kodujuhtimise-ikoon-10:before {
  content: "\e019";
}
.icon-kodujuhtimise-ikoon-11:before {
  content: "\e01a";
}
.icon-kodujuhtimise-ikoon-13:before {
  content: "\e01b";
}
.icon-kodujuhtimise-ikoon-14:before {
  content: "\e01c";
}
.icon-kodujuhtimise-ikoon-15:before {
  content: "\e01d";
}
.icon-kodujuhtimise-ikoon-16:before {
  content: "\e01e";
}
.icon-kodujuhtimise-ikoon-17:before {
  content: "\e01f";
}
.icon-kodujuhtimise-ikoon-19:before {
  content: "\e020";
}
.icon-kodujuhtimise-ikoon-21:before {
  content: "\e021";
}
.icon-kodujuhtimise-ikoon-22:before {
  content: "\e022";
}
.icon-kodujuhtimise-ikoon-23:before {
  content: "\e023";
}
.icon-kodujuhtimise-ikoon-24:before {
  content: "\e024";
}
.icon-kodujuhtimise-ikoon-25:before {
  content: "\e025";
}
.icon-kodujuhtimise-ikoon-26:before {
  content: "\e026";
}
.icon-kodujuhtimise-ikoon-27:before {
  content: "\e027";
}
.icon-list-vaade:before {
  content: "\e028";
}
.icon-menutsicon48px:before {
  content: "\e029";
}
.icon-miinus:before {
  content: "\e02a";
}
.icon-pluss:before {
  content: "\e02b";
}
.icon-telefon-1:before {
  content: "\e02c";
}
.icon-telefon-2:before {
  content: "\e02d";
}
.icon-vordle:before {
  content: "\e02e";
}
.icon-kodujuhtimise-ikoon-18:before {
  content: "\e02f";
}
.icon-deletetsicon48px:before {
  content: "\e030";
}
.icon-sulge-1:before {
  content: "\e031";
}
.icon-synctsicon48px:before {
  content: "\e032";
}
