<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
               <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Elion <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Ettevõttest</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>TeliaSonera</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Tule tööle</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Lepingud ja tingimused</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Hinnakirjad</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Infoportaal <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Uudised ja artiklid</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Pressinurk</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Foorum</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Digitark</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
               <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Kontakt <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Kontaktinfo</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>E-poe info</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Projektide kooskõlastamine</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Liinirajatiste järelvalve</span><span class="icon icon-arrow"></span></a></li>
               </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Elion soovitab <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Leiunurk</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>MinuTV</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Ilmataat</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>NETI</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Hot</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SOCIAL BLOCK -->
    <div class="social-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-facebook"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSBrand on Facebook</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-youtube"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSBrand on Youtube</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-twitter"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSbrand on Twitter</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-google-plus"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSbrand on Google +</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COPYRIGHT -->
    <!-- <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; Elion
                </div>
            </div>
        </div>
    </div> -->

    <aside class="back-to-top visible-xs">
        <div class="close-up-btn-bar" data-toggle="scroll-up"><span class="icon icon-arrow-up"></span><p>back to top</p></div>
    </aside>
</footer>


<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src='assets/js/vendor/html5.js'></script><![endif]-->

<!-- @javascript rapid -->
<!-- General handlebars -->
    <script src="assets/js/handlebars/hbs-mainnav.hbs"></script> <!-- FOR MAIN MENU -->
    <script src="assets/js/handlebars/hbs-product-list.hbs"></script> <!-- FOR AUTOCOMPLETE -->
<!-- @include _js.html --> 

<script>


$( document ).ready(function() {
  // Temporary for static presentation only
  $('#sidemenu > li > ul > li > a').click(function(e){
    if ($(this).attr('class') != 'selected'){
      $(this).addClass('selected');
      $('a').not(this).removeClass('selected');
    }
    else {
      $(this).removeClass('selected');
    }
    e.preventDefault();
  });
});

    // $(document).ready(function() {  



    //   $('.js-listedmenu').hideMaxListItems({ 'max': 4, 'speed':500, 'moreText':'Näita rohkem', 'lessText': 'Näita vähem' });


    //   $('.js-placeholder-offers').hideMaxAItems({ 'max':8, 'speed':2000, 'moreText':'Näita rohkem', 'lessText': 'Näita vähem' });

    // });  

</script> 
</body>
</html>