<footer>
    <div class="container-no-gutter">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <h2><a href="#">Elion</a></h2>
                <ul class="list-group">
                  <li class="list-group-item"><a href="https://www.elion.ee/elion/ettevottest">Ettevõttest</a></li>
                  <li class="list-group-item"><a href="https://www.elion.ee/elion/ettevottest#teliaSonera">TeliaSonera</a></li>
                  <li class="list-group-item"><a href="https://www.elion.ee/elion/tule-toole">Tule tööle</a></li>
                  <li class="list-group-item"><a href="https://www.elion.ee/elion/lepingud-ja-tingimused">Lepingud ja tingimused</a></li>
                  <li class="list-group-item"><a href="https://www.elion.ee/kontakt/hinnakirjad">Hinnakirjad</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <h2><a href="#">Infoportaal</a></h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.elion.ee/infoportaal/uudised">Uudised ja artiklid</a></li>
                    <li class="list-group-item"><a href="https://www.elion.ee/infoportaal/pressinurk">Pressinurk</a></li>
                    <li class="list-group-item"><a href="http://foorum.elion.ee/foorum/index.php">Foorum</a></li>
                    <li class="list-group-item"><a href="https://www.elion.ee/infoportaal/digitark">Digitark</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <h2><a href="#">Kontakt</a></h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.elion.ee/kontakt/kontaktinfo">Kontaktinfo</a></li>
                    <li class="list-group-item"><a href="https://pood.elion.ee/category/list/132/abi-ja-info-kontaktid">E-poe info</a></li>
                    <li class="list-group-item"><a href="https://www.elion.ee/ariklient/arendajale">Projektide kooskõlastamine</a></li>
                    <li class="list-group-item"><a href="https://www.elion.ee/ariklient/arendajale/liinirajatiste-j%C3%A4relevalve">Liinirajatiste järelvalve</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <h2><a href="#">Elion soovitab </a></h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="http://leiunurk.elion.ee/">Leiunurk</a></li>
                    <li class="list-group-item"><a href="http://www.minutv.ee/">MinuTV</a></li>
                    <li class="list-group-item"><a href="http://www.ilmataat.ee/">Ilmataat</a></li>
                    <li class="list-group-item"><a href="http://www.neti.ee/">NETI</a></li>
                    <li class="list-group-item"><a href="http://live.hot.ee/">Hot</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SOCIAL BLOCK -->
    <div class="social-block">
        <div class="container-no-gutter">
            <div class="row">
                <div class="col-sm-3 col-md-3">

                    <div class="media">
                      <a class="pull-left" href="#link0">
                        <span class="icon icon-private_services"></span>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">Erakliendi teenindus:</h5>
                        <span class="">kirjuta meile või helista 165</span>
                      </div>
                    </div>

                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#link1">
                        <span class="icon icon-business_services"></span>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">Ärikliendi teenindus:</h5>
                        <span class="">kirjuta meile või helista 1551</span>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#link2">
                        <span class="icon icon-buy_2"></span>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">E-poe klienditeenindus</h5>
                        <span class="hidden-sm hidden-xs">kirjuta või helista 650 7030</span>
                      </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#link3">
                        <span class="icon icon-facebook"></span>
                      </a>
                      <div class="media-body">
                        <h5 class="media-heading">Elioni uudised ja teenindus</h5>
                        <span class="hidden-sm hidden-xs">Facebookis</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="back-to-top visible-xs">
        <div class="close-up-btn-bar" data-toggle="scroll-up"><span class="icon icon-arrow-up"></span><p>back to top</p></div>
    </aside>
</footer>

    <script src="assets/js/vendor/jquery.js"></script> 
<!--     // <script src="assets/js/vendor/common.js"></script>  -->
<!--     // <script src="assets/js/vendor/paintbrush.js"></script>  -->
<!--     // <script src="assets/js/vendor/enquire.min.js"></script>  -->
    <script src="assets/js/vendor/handlebars-v1.3.0.js"></script> 
<!--     // <script src="assets/js/vendor/matchMedia.js"></script> 
    // <script src="assets/js/vendor/matchMedia.addListener .js"></script>  -->


<!-- @javascript rapid -->
<!-- General handlebars -->
    <script src="assets/js/handlebars/hbs-mainnav.hbs"></script> <!-- FOR MAIN MENU -->
    <script src="assets/js/handlebars/hbs-product-list.hbs"></script> <!-- FOR AUTOCOMPLETE -->

    <script>
      // 2nd level 
      // Temporary sidemenu show-off for static presentation only, the rest is pure BS
    $(document).ready(function(){
      $('.ee-sidenav li  a').click(function(e){
        if ($(this).attr('class') != 'selected'){
          $(this).addClass('selected');
          $('a').not(this).removeClass('selected');
        }
        else {
          $(this).removeClass('selected');
        }
        e.preventDefault();
      });

      // 2nd level folDer
      // function handleClick()
      // {
      //     this.value = (this.value == 'Veel valikud' ? 'Vähem valikuid' : 'Veel valikud!');
      // }
      // document.getElementById('jsFiltersMoreText').onclick=handleClick;
      $('.js-slidetoggle').click(function(e) {
        $(this).parents().next('.js-togglable').slideToggle('slow');
        e.preventDefault();
      });
     });



      // DETAIL POPOVER
      $('[data-toggle="popover"]').popover();
      $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
      });
    </script>

</body>
</html>