<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">
               <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Elion <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Ettevõttest</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>TeliaSonera</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Tule tööle</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Lepingud ja tingimused</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Hinnakirjad</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Infoportaal <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Uudised ja artiklid</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Pressinurk</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Foorum</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Digitark</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3">
               <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Kontakt <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Kontaktinfo</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>E-poe info</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Projektide kooskõlastamine</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Liinirajatiste järelvalve</span><span class="icon icon-arrow"></span></a></li>
               </ul>
            </div>
            <div class="col-sm-3 col-md-3">
                <ul class="list-group">
                    <li class="dropdown-header"><a href="#"><h6>Elion soovitab <span class="icon icon-arrow"></span></h6></a></li>
                    <li><a href="#"><span>Leiunurk</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>MinuTV</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Ilmataat</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>NETI</span><span class="icon icon-arrow"></span></a></li>
                    <li><a href="#"><span>Hot</span><span class="icon icon-arrow"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SOCIAL BLOCK -->
    <div class="social-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-facebook"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSBrand on Facebook</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-youtube"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSBrand on Youtube</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-twitter"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSbrand on Twitter</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <span class="icon icon-google-plus"></span>
                      </a>
                      <div class="media-body">
                        <h4 class="media-heading">TSbrand on Google +</h4>
                        <span class="hidden-sm hidden-xs">Short USP about why to visit this channel.</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="back-to-top visible-xs">
        <div class="close-up-btn-bar" data-toggle="scroll-up"><span class="icon icon-arrow-up"></span><p>back to top</p></div>
    </aside>
</footer>

<!-- HTML5 IE Enabling Script -->
<!--[if lt IE 9]><script src='assets/js/vendor/html5.js'></script><![endif]-->
    <script src="assets/js/vendor/jquery-1.9.0.min.js"></script> 
    <script src="assets/js/vendor/common.js"></script> 
    <script src="assets/js/vendor/paintbrush.js"></script> 
    <script src="assets/js/vendor/bigtext.js"></script> 

<!-- @javascript rapid -->
<!-- General handlebars -->
    <script src="assets/js/handlebars/hbs-mainnav.hbs"></script> <!-- FOR MAIN MENU -->
    <script src="assets/js/handlebars/hbs-product-list.hbs"></script> <!-- FOR AUTOCOMPLETE -->

    <script>
      // 2nd level 
      // Temporary sidemenu show-off for static presentation only, the rest is pure BS
    $(document).ready(function(){
      $('#sidemenu li  a').click(function(e){
        if ($(this).attr('class') != 'selected'){
          $(this).addClass('selected');
          $('a').not(this).removeClass('selected');
        }
        else {
          $(this).removeClass('selected');
        }
        e.preventDefault();
      });

      function handleClick()
      {
          this.value = (this.value == 'Veel valikud' ? 'Vähem valikuid' : 'Veel valikud!');
      }
      document.getElementById('jsFiltersMoreText').onclick=handleClick;

     });

      // DETAIL POPOVER
      $('[data-toggle="popover"]').popover();
      $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
      });
    </script>

</body>
</html>