<section class="tsr-section-support tsr-secondary">
  <div class="container">

    <a href="#" class="tsr-module-support ts-icon-costcontrol2">
      <header>Elioni järelmaks</header>
    </a>  

    <a href="#" class="tsr-module-support icon-transport">
      <header>Transport e-poes</header>
    </a>  

    <a href="#" class="tsr-module-support ts-icon-help">
      <header>Abiinfo</header>
    </a>  

    <a href="#" class="tsr-module-support icon-kodujuhtimise-ikoon-23">
      <header>Remont ja hooldus</header>
    </a>                  

  </div><!-- // tsr-container -->
</section><!-- tsr-section-support" END -->