<section class="tsr-section-support tsr-secondary">
  <div class="container">

    <a href="#" class="tsr-module-support icon icon-costcontrol2">
      <h6>Elioni järelmaks</h6>
    </a>  

    <a href="#" class="tsr-module-support icon icon-transport">
      <h6>Transport e-poes</h6>
    </a>  

    <a href="#" class="tsr-module-support icon icon-help">
      <h6>Abiinfo</h6>
    </a>  

    <a href="#" class="tsr-module-support icon icon-settings">
      <h6>Remont ja hooldus</h6>
    </a>                  

  </div><!-- // tsr-container -->
</section><!-- tsr-section-support" END -->