<section class="tsr-section-support tsr-secondary">
  <div class="container">

    <a href="#" class="tsr-module-support ts-icon-costcontrol2">
      <header>Elioni järelmaks</header>
    </a>  

    <a href="#" class="tsr-module-support icon-transport">
      <header>Transport e-poes</header>
    </a>  

    <a href="#" class="tsr-module-support ts-icon-help">
      <header>Abiinfo, remont ja hooldus</header>
    </a>  

    <a href="#" class="tsr-module-support ts-icon-support">
      <header>Suhtle teenindajaga</header>
    </a>                  

  </div><!-- // tsr-container -->
</section><!-- tsr-section-support" END -->