@charset "UTF-8";

@font-face {
  font-family: "elion";
  src:url("fonts/elion.eot");
  src:url("fonts/elion.eot?#iefix") format("embedded-opentype"),
    url("fonts/elion.woff") format("woff"),
    url("fonts/elion.ttf") format("truetype"),
    url("fonts/elion.svg#elion") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "elion" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tsr-ee-icon-"]:before,
[class*=" tsr-ee-icon-"]:before {
  font-family: "elion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tsr-ee-icon-addtsicon48px:before {
  content: "\e000";
}
.tsr-ee-icon-alerttsicon48px:before {
  content: "\e001";
}
.tsr-ee-icon-dongletsicon48px:before {
  content: "\e002";
}
.tsr-ee-icon-draggingtsicon48px:before {
  content: "\e003";
}
.tsr-ee-icon-internettsicon48px:before {
  content: "\e004";
}
.tsr-ee-icon-minustsicon48px:before {
  content: "\e005";
}
.tsr-ee-icon-mobiletsicon48px:before {
  content: "\e006";
}
.tsr-ee-icon-phonetsicon48px:before {
  content: "\e007";
}
