/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TYPOGRAPHY
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Base
// - - Headings
// - - Text formatting
//
//
// - - RWD
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// Module class name

$browser-context: 15.5; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; color:$purple-c;
  }

// Before Mobile portrait incl iphone

    /* Mobile landscape incl iphone*/
  @media only screen and (min-width: $screen-xs) { // 480 - 768
    body {
      font-size: em(17);
    } 

  }

  /* Mobile Landscape, tablet vertical */
  @media only screen and (min-width: $screen-sm) { // 768 - 996
    body {
      font-size: em(17);
    }

  }

  /* ipad horizontal */
  @media only screen and (min-width: $screen-md) { // 996 - 1200
    body {
      font-size: em(15);
    }

  }

  /* Tablet horizontal */
  @media only screen and (min-width: $screen-lg) {
    body {
      font-size:em(15);
    }
  }









