/////////////////////////////////////////////////////////////////////////////////////////////////////////

/*
TYPOGRAPHY
*/ 

/////////////////////////////////////////////////////////////////////////////////////////////////////////
// - Table of contents 
/////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////
//
// - - Base
// - - Headings
// - - Text formatting
//
//
// - - RWD
//
/////////////////////////////////////////////////////////////////////////////////////////////////////////


//////// Module class name

$browser-context: 15.5; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

h4 {
  font-weight: normal;
}

h1 {
  letter-spacing: 0.00021em;
}
h2 {
  letter-spacing: 0.00038em;
}
h3 {
  letter-spacing: 0.00011em;
}

h5, h6 {
 font-weight: normal;
}
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; color:$purple-c;
  }

  body {
    font-size: em(17);
  }


// Before Mobile portrait incl iphone

    /* Mobile landscape incl iphone*/
  @media only screen and (min-width: $screen-xs) { // 480 - 768
    body {
      font-size: em(16);
    } 

  }

  /* Mobile Landscape, tablet vertical */
  @media only screen and (min-width: $screen-sm) { // 768 - 996
    body {
      font-size: em(15);
    }

  }

  /* ipad horizontal */
  @media only screen and (min-width: $screen-md) { // 996 - 1200
    body {
      font-size: em(15);
    }

  }

  /* Tablet horizontal */
  @media only screen and (min-width: $screen-lg) {
    body {
      font-size:em(15);
    }
  }









