// link button with violet background hover
.tsr-ee-btn-link {
background: transparent;
border-bottom: 4px solid transparent;
color: $purple-c;
font-size: 1.1em;
font-weight: normal;
margin: 0 10px;
width: 90%;
padding: 8px 0;
text-align: left;
&:hover {
  background: $lightgrey-c;
  border-bottom: 4px solid $lightgrey-c;
  color: $purple-c;
}
&:active {
  background: transparent !important;
  border-bottom: 4px solid transparent !important;
  color: $purple-c;
 }

  @include media-min($screen-sm-min) {
  padding: 12px 10%; 
  text-align: center;
  font-size: 1em;
  width: 100%;
  margin: 0;
  &:hover {
    background:$purple-h;
    border-bottom:4px solid $purple-c;
    color: white;
    font-weight: 600;
   }
  &:active {
    background:$purple-t;
    border-bottom:4px solid $purple-t;
    color: white;
    font-weight: 600;
    }
  } // min 768px
}

.favorite {
  &:before {
    font-family: 'elion-ikoonid';
    content: "\e00e";
  }
  &:hover:before {
    content: "\e00d";
  }
}

.tsr-ee-favorite {
  &:before {
    font-family: 'elion-ikoonid';
    content: "\e00e";
    font-size: em(24);
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover:before {
    content: "\e00d";
  }
}

.tsr-ee-compare:before {
  font-family: 'elion-ikoonid';
  content: "\e00c";
  font-size: em(24);
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.tsr-ee-comments:before {
  font-family: 'elion-ikoonid';
  content: "\e000";
  font-size: em(24);
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.tsr-ee-transport:before {
  font-family: 'elion-ikoonid';
  content: "\e001";
  font-size: em(24);
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
}