// link button with violet background hover
.tsr-ee-btn-link {
background: transparent;
border-bottom: 4px solid transparent;
color: $purple-c;
font-size: 1.1em;
font-weight: normal;
margin: 0 10px;
width: 90%;
padding: 8px 0;
text-align: left;
&:hover {
  background: $lightgrey-c;
  border-bottom: 4px solid $lightgrey-c;
  color: $purple-c;
}
&:active {
  background: transparent !important;
  border-bottom: 4px solid transparent !important;
  color: $purple-c;
 }

  @include media-min(768px) {
  padding: 12px 10%; 
  text-align: center;
  font-size: 1em;
  width: 100%;
  margin: 0;
  &:hover {
    background:$purple-h;
    border-bottom:4px solid $purple-c;
    color: white;
    font-weight: 600;
   }
  &:active {
    background:$purple-t;
    border-bottom:4px solid $purple-t;
    color: white;
    font-weight: 600;
    }
  } // min 768px
}